<div class="row">
  <div class="col-md-12">
    <h2>FAQ</h2>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <%= link_to "New", new_admins_faq_path %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @faqs.each do |faq| %>
          <tr>
            <td><%= faq.title %></td>
            <td><%= faq.content[0..100] %></td>
            <td class="text-right">
              <%= link_to "Edit", edit_admins_faq_path(faq) %>
              |
              <%= link_to "Destroy", admins_faq_path(faq), method: :delete, data:{confirm: "Are you sure?"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <%= paginate @faqs %>
  </div>
</div>