<div class="row">
  <div class="col-md-12">

    <%= form_for @faq, url: {action: "create"} do |f| %>
      <%= render "shared/form_errors", resource: @faq %>

      <div class="form-group">
        <label>Title</label>
        <%= f.text_field :title, class:"form-control" %>
      </div>

      <div class="form-group">
        <label>Content</label>
        <%= f.text_area :content, size: "60x12", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Create" %>
      </div>
    <% end %>

  </div>
</div>