<!--
  user does not have any friends yet -> show emoji
  user has friends, show friends panel
-->

<%
  user = current_user
%>

<script type="text/javascript">
  function editFriends(){
    $(".existing-friends-link-done").show();
    $(".existing-friends-link-edit").hide();
    $(".friend-clear-btn").show();
  }

  function doneFriends(){
    $(".existing-friends-link-done").hide();
    $(".existing-friends-link-edit").show();
    $(".friend-clear-btn").hide();
  }

  function clearFriend(id){
    $.ajax({
      url: "<%= remove_friend_users_friends_url %>",
      method: "DELETE",
      data: {friend_id: id },
      header: {"Content-Type": "application/js" },
      dataType:"script"
    }).done(function(resp){
      $(".friend-item-select-li-"+id).remove();
    });
  }

  $(document).ready(function(){
    <% if user.friends.any? %>
      $(".ex-f-have").show();
      $(".ex-f-not-have").hide();
    <% else %>
      $(".ex-f-have").hide();
      $(".ex-f-not-have").show();
    <% end %>
  })
</script>

<div class="ex-f-have" style="display:none;">
  
  <div class="row">
    <div class="col-md-12 col-no-padding-mobile">
      <div class="friends-existing-panel">

        <div class="header">
          <div class="row">

            <div class="col-xs-6">
              <div class="header-text">FRIENDS</div>
            </div>

            <div class="col-xs-6">
              <div class="header-action">
                <a href="#" class="existing-friends-link-edit" onclick="editFriends()">EDIT</a>
                <a href="#" class="existing-friends-link-done" style="display:none;" onclick="doneFriends()">DONE</a>
              </div>
            </div>

          </div>
        </div>

        <div class="content">
          <ul id="existing-friends-list" class="existing-friends-list">
            <% user.friends.each do |friend| %>
              <li class="friend-item-select friend-item-select-li-<%= friend.id %>">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <%= image_tag friend.main_picture, class:"media-object img-circle profile-pic" %>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%=friend.name%></h4>
                    <span class="goes-to-text">goes to  <%= friend.dispensaries_friendly %></span>
                  </div>
                  <div class="media-right friend-clear-btn" style="display:none;">
                    <i class="material-icons" onclick="clearFriend(<%=friend.id %>)">clear</i>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="ex-f-not-have">
  <div class="row">
    <div class="col-md-12">


      <div class="row">
        <div class="col-md-12">

          <div class="row no-friends-panel">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <%= image_tag("emoticon-thoughts.png", :alt => "rss feed") %>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  You don’t have any friends yet!<br>
                  Do you always smoke by yourself?
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render "magic_link_invite" %>

    </div>
  </div>
</div>
