<!--
  user is not connected to fb -> show connect fb
  user is connected -> show friends list
-->

<%
  user = current_user
%>

<script type="text/javascript">

  function changedMobile(ele){
    var current = $(ele);
    var ele_id = current.attr("id").replace("mfriend-", "");
    if(current.prop("checked")){
      $("#mselected-marker-"+ele_id).addClass("selected-marker-checked");
    }
    else{
     $("#mselected-marker-"+ele_id).removeClass("selected-marker-checked");
    }

    var checkedSize = $('#mobile-invite-friends-list input:checkbox').filter(':checked').size();
    console.log(checkedSize);
    if(checkedSize>0){
      $("#select-all-link").hide();
      $(".select-add-link").show();
      $(".select-add-link").text("Add Selected ("+checkedSize+")");

    //   $("#action-select-all").hide();
    //   $("#action-add-selected").show();
    //   $("#action-add-selected").text("ADD SELECTED ("+checkedSize+")");
    //   $("#bottom-add-selected-link").text("ADD SELECTED ("+checkedSize+")");

    //   $("#bottom-action-links").show();
    }
    else{
      $("#select-all-link").show();
      $(".select-add-link").hide();

    //   $("#action-select-all").show();
    //   $("#action-add-selected").hide();
    //   $("#bottom-action-links").hide();
    }
  }


  function selectAllMobile(){
    console.log("selectAllMObile called");
    $.each($('#mobile-invite-friends-list input:checkbox'), function(index, item){
      if (!item.hasAttribute("disabled")) {
        $(item).prop('checked', true);
        changedMobile(item);
      }
    })
  }

  function addSelectedMobile(){
    var friendIds = [];

    $.each($("#mobile-invite-friends-list input:checked"), function(index, item){
      friendIds.push($(item).attr("id").replace("mfriend-", ""));
    })

    $.ajax({
      url: "<%= invite_friends_users_friends_url %>",
      data: {invitee_ids: friendIds },
      method: "POST",
    }).done(function(data){
      console.log(data);
      if(data.errors==null){
        for(var i=0; i<friendIds.length; i++){
          var f_id = friendIds[i];

          $("#mfriend-"+f_id).parent().parent().removeAttr("onclick");
          $("#mfriend-"+f_id).remove();

          $("#mselected-marker-"+f_id).remove();

          console.log("f_id",f_id, ".mfriend-"+f_id+"-pending");
          $(".mfriend-"+f_id+"-pending").show();

          $("#select-all-link").show();
          $(".select-add-link").hide();
        }
      }
    })
  }

  function cancelMobile(){
    $.each($('#mobile-invite-friends-list input:checkbox'), function(index, item){
      $(item).prop('checked', false);
      changedMobile(item);
    });
    $("#select-all-link").show();
  }


  function onFriendItemSelectMobile(ele){
    $(ele).find('input:checkbox').trigger('click');
  }

  function generateFriendItemMobile(friend, pending){
    var item = '<li class="friend-item-select" onclick="onFriendItemSelectMobile(this)">';
    var displayMobile = '';
    var disabledCheckboxMobile = '';
    var marker = ''

    if (!pending) {
      displayMobile = 'style="display:none;"';
      marker = '<div id="mselected-marker-'+friend.id+'" class="selected-marker"><i class="material-icons">done</i></div>'
    } else {
      disabledCheckboxMobile = 'disabled';
    }

    item += '<div class="media">'+
              '<input type="checkbox" style="display:none;" id="mfriend-'+friend.id+'" onchange="changedMobile(this)" ' + disabledCheckboxMobile + '>'+
              '<div class="media-left">'+
                '<a href="#">'+
                  '<img class="media-object img-circle profile-pic" src="'+friend.photo+'">'+
                '</a>'+
                marker +
              '</div>'+
              '<div class="media-body">'+
                '<h4 class="media-heading">'+friend.name+'</h4>'+
              '</div>'+
              '<div class="media-right" style="vertical-align: middle;">'+
                '<div class="friend-invite-pending mfriend-'+friend.id+'-pending" ' + displayMobile + '>Pending</div>'+
              '</div>'+
            '</div>';

    return item;
  }


  function drawFriendListMobile(){
    var currentFriend = {};
    /* Generate pending friends */
    for(var i=0; i<pendingFriendList.length; i++){
      console.log("CURRENT_FRIEND: ");
      console.log(currentFriend);
      currentFriend = pendingFriendList[i];
      $("#mobile-invite-friends-list").append(generateFriendItemMobile(currentFriend, true));
    }

    currentFriend = {};
    /* Generate accepted friends */
    for(var i=0; i<friendList.length; i++){
      currentFriend = friendList[i];
      $("#mobile-invite-friends-list").append(generateFriendItemMobile(currentFriend, false));
    }
    if(friendList.length>0){
      selectAllMobile();
    }
  }

  function findFriendsMobile() {
    $(".fb-connect-panel-mobile").hide();

    $.ajax({
      method: "GET",
      url: "<%= find_possible_friends_users_friends_url %>"
    }).done(function(resp){

      friendList = resp.possible_friends;
      pendingFriendList = resp.pending_friends_ids

      if(friendList.length == 0 && pendingFriendList.length == 0){
        $(".no-friends-message").show();
      }
      else{
        $(".list-friends-row").show();
        $(".no-friends-message").hide();
      }

      $(".notice-and-message-row").show();

      drawFriendListMobile();
    })
  }

  $(document).ready(function(){
    <% if current_user.fb_valid? %>
      $(".add-friends-panel").show();
      $(".fb-connect-panel-mobile").hide();
      findFriendsMobile();
    <% else %>
      $(".add-friends-panel").hide();
      $(".fb-connect-panel-mobile").show();
    <% end %>
  })

</script>

<div class="mobile-invite-friends">

  <div class="row notice-and-message-row" style="display:none;">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-12 text-center">
          <a href="#" class="select-all-link" id="select-all-link" onclick="selectAllMobile()">Select All</a>
          <a href="#" class="select-all-link select-add-link" onclick="addSelectedMobile()" style="display: none;">Add Selected</a>
        </div>
      </div>

    </div>
  </div>

<div class="row list-friends-row" style="display:none;">
  <div class="col-md-12 col-no-padding-mobile">
    <ul id="mobile-invite-friends-list">
    </ul>
    <div class="list-friends-actions">
      <a href="#" class="cancel-link-mobile" onclick="cancelMobile();">Cancel</a>
      <a href="#" class="select-all-link select-add-link" onclick="addSelectedMobile()">Add Selected</a>
    </div>
  </div>
</div>

<div class="row no-friends-message" style="display:none;">
  <div class="col-md-12">
    There are no facebook friends to add right now.<br>Invite your friends using the link below!
  </div>
</div>

<!-- fb connect with friends panel-->
<div class="row fb-connect-panel-mobile" style="display:none;">
  <div class="col-md-12">
    <div class="row header-text">
      <div class="col-md-12">
        Get 10 PTS when you connect to Facebook
      </div>
    </div>

    <div class="row fb-connect-row">
      <div class="col-md-12">
        <button class="fb-connect-btn" onclick="fbLogin();">Connect Facebook</button>
      </div>
    </div>

    <div class="row dont-worry-row">
      <div class="col-md-12">
        Don't worry, Reefer is a private and secure network.
      </div>
    </div>

  </div>
</div>

<%= render "users/friends/magic_link_invite" %>

</div>
