<!--
  user is not connected to fb -> show connect fb
  user is connected -> show friends list
-->

<%
  user = current_user
%>

<script type="text/javascript">
  var friendList = [];
  var pendingFriendList = [];


  function onFriendItemSelect(ele){
    $(ele).find('input:checkbox').trigger('click');
  }

  function changed(ele){
    var current = $(ele);
    var ele_id = current.attr("id").replace("friend-", "");
    if(current.prop("checked")){
      $("#selected-marker-"+ele_id).addClass("selected-marker-checked");
    }
    else{
     $("#selected-marker-"+ele_id).removeClass("selected-marker-checked");
    }

    var checkedSize = $('.friends-invite-panel input:checkbox').filter(':checked').size();
    if(checkedSize>0){
      $(".more-friends-more-points-panel").show();

      $("#action-select-all").hide();
      $("#action-add-selected").show();
      $("#action-add-selected").text("ADD SELECTED ("+checkedSize+")");
      $("#bottom-add-selected-link").text("ADD SELECTED ("+checkedSize+")");

      $("#bottom-action-links").show();
    }
    else{
      $("#action-select-all").show();
      $("#action-add-selected").hide();
      $("#bottom-action-links").hide();
    }
  }

  function actionCancel(){
    $.each($('.friends-invite-panel input:checkbox'), function(index, item){
      $(item).prop('checked', false);
      changed(item);
    })
  }

  function actionSend(){
    var friendIds = [];
    var pendingFriendList = [];

    $.each($(".friends-invite-panel input:checked"), function(index, item){
      friendIds.push($(item).attr("id").replace("friend-", ""));
    })

    $.ajax({
      url: "<%= invite_friends_users_friends_url %>",
      data: {invitee_ids: friendIds },
      method: "POST"
    }).done(function(data){
      location.reload();
    })
  }

  function actionSelectAll(){
    $.each($('.friends-invite-panel input:checkbox'), function(index, item){
      if (!item.hasAttribute("disabled")) {
        $(item).prop('checked', true);
        changed(item);
      }
    })
  }


  function generateFriendItem(friend, pending){
    var item = '<li class="friend-item-select" onclick="onFriendItemSelect(this)">';
    var display = '';
    var disabledCheckbox = '';
    var marker = '';

    if (!pending) {
      display = 'style="display:none;"';
      marker = '<div id="selected-marker-'+friend.id+'" class="selected-marker"><i class="material-icons">done</i></div>'

    } else {
      disabledCheckbox = 'disabled';
    }

    item += '<div class="media">'+
              '<input type="checkbox" style="display:none;" id="friend-'+friend.id+'" onchange="changed(this)"' + disabledCheckbox + '>'+
              '<div class="media-left">'+
                '<a href="#">'+
                  '<img class="media-object img-circle profile-pic" src="'+friend.photo+'">'+
                '</a>'+
                marker +
              '</div>'+
              '<div class="media-body">'+
                '<h4 class="media-heading">'+friend.name+'</h4>'+
                'goes to ' + friend.dispensaries +
              '</div>'+
              '<div class="media-right" style="">'+
                '<div class="friend-invite-pending" id="mfriend-'+friend.id+'-pending" ' + display + '>Pending</div>'+
              '</div>'+
            '</div>';

    return item;
  }

  function drawFriendList(){
    var currentFriend = {}
    for(var i=0; i<pendingFriendList.length; i++){
      currentFriend = pendingFriendList[i];
      $("#invite-friends-list").append(generateFriendItem(currentFriend, true));
    }

    currentFriend = {}
    for(var i=0; i<friendList.length; i++){
      currentFriend = friendList[i];
      $("#invite-friends-list").append(generateFriendItem(currentFriend, false));
    }
  }

  function findFriends() {
    $("#searching-friends").show();
    $(".fb-connect-panel").hide();

    $.ajax({
      method: "GET",
      url: "<%= find_possible_friends_users_friends_url %>"
    }).done(function(resp){

      friendList = resp.possible_friends;
      pendingFriendList = resp.pending_friends_ids;

      $("#searching-friends").hide();

      if(friendList.length == 0 && pendingFriendList.length == 0){
        $(".no-friends-message").show();
      }
      else{
        $(".friends-invite-panel").show();
        $(".no-friends-message").hide();
      }

      drawFriendList();
      $(".add-friends-panel").show();
    });
  }

  $(document).ready(function(){
    <% if current_user.fb_valid? %>
      $(".add-friends-panel").show();
      $(".fb-connect-panel").hide();
      findFriends();
    <% else %>
      $(".add-friends-panel").hide();
      $(".fb-connect-panel").show();
    <% end %>
  })

</script>


<!-- add friends panel -->
<div class="row add-friends-panel">
  <div class="col-md-12">

    <!-- friend selection -->
    <div class="row">
      <div class="col-md-12">

        <div class="friends-invite-panel" >
          <!-- header -->
          <div class="header">
            <div class="row">
              <div class="col-xs-6">
                <div class="header-text">ADD MORE</div>
              </div>
              <div class="col-xs-6">
                <div class="header-action">
                  <a href="#" id="action-select-all" onclick="actionSelectAll()">SELECT ALL</a>
                  <a href="#" id="action-add-selected" style="display:none;" onclick="actionSend()">ADD SELECTED </a>
                </div>
              </div>
            </div>
          </div>

          <!-- list of users -->
          <div class="content">
            <div id="searching-friends">Retriving friend list...</div>
            <ul id="invite-friends-list"></ul>
          </div>

          <div class="no-friends-message" style="display:none;">
            There are no facebook friends to add right now.<br>Invite your friends using the link below!
          </div>

          <!-- special links -->
          <div id="bottom-action-links" style="display:none;">
            <a href="#" onclick="actionCancel()">Cancel</a>
            <a href="#" id="bottom-add-selected-link" onclick="actionSend()">Add selected</a>
          </div>

        </div>

      </div>
    </div>

    <!-- more friends more points -->
    <div class="row">
      <div class="col-md-12">

        <div class="more-friends-more-points-panel" style="display:none;">
          <div class="header-text">More friends = more points!</div>
          <div class="message">Automatically accept any requests from Facebook Friends. You can change this in your Settings.</div>
          <div>
            <a href="#" onclick="$('#dropdown-desktop-settings').addClass('open');" class="settings-btn visible-md visible-lg">Go to settings</a>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>

<!-- fb connect with friends panel-->
<div class="row fb-connect-panel" style="display:none;">
  <div class="col-md-12">
    <div class="row header-text">
      <div class="col-md-12">
        Get 10 PTS when you connect to Facebook
      </div>
    </div>

    <div class="row fb-connect-row">
      <div class="col-md-12">
        <button class="fb-connect-btn" onclick="fbLogin();">Connect Facebook</button>
      </div>
    </div>

    <div class="row dont-worry-row">
      <div class="col-md-12">
        Don't worry, Reefer is a private and secure network.
      </div>
    </div>

  </div>
</div>

<%= render "magic_link_invite" %>
