<% user.friends.each do |friend| %>
  <li class="friend-item-select friend-item-select-li-<%= friend.id %>">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag friend.main_picture, class:"media-object img-circle profile-pic" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%=friend.name%></h4>
        <span class="goes-to-text">goes to  <%= friend.dispensaries_friendly %></span>
      </div>
      <div class="media-right friend-clear-btn" style="display:none;">
        <i class="material-icons" onclick="clearFriend(<%=friend.id %>)">clear</i>
      </div>
    </div>
  </li>
<% end %>