<%
  user = current_user
  magic_link =  users_invitation_url(user.magic_link)
  id = rand(1..100)
%>

<div class="row magic-panel">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
        Get a  <%= current_user.last_visited_dispensary_or_random_point %> for every friend you invite to Reefer!
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="magic-text magic-text-<%=id%>" id="clip-magic-text-<%=id%>"><%= magic_link %></div>
      </div>
    </div>
    <button class="btn" id="clipboard-copy-<%=id%>" data-clipboard-target="#clip-magic-text-<%=id%>" style="display:none;">
        Copy to clipboard
    </button>

    <div class="row">
      <div class="col-md-12">
        <% if browser.platform.windows? || browser.platform.linux? %>
          <a class="magic-text-link" href="sms:&body=<%= html_magic_link_sms_text(magic_link)%>"> Text Link</a>
        <% elsif browser.platform.android? %>
          <a class="magic-text-link" href="sms:?body=<%= magic_link_sms_full_text(current_user.last_visited_dispensary_or_random.name, magic_link,current_user.last_visited_dispensary_or_random_point)%>"> Text Link</a>
        <% elsif browser.platform.ios? || browser.platform.mac? %>
          <a class="magic-text-link" href="sms:&body=<%= magic_link_sms_full_text(current_user.last_visited_dispensary_or_random.name, magic_link,current_user.last_visited_dispensary_or_random_point)%>"> Text Link</a>
        <% end %>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">

  var clipboard = new Clipboard('#clipboard-copy-<%=id%>');

  clipboard.on('success', function(e) {
    //console.info('Action:', e.action);
    //console.info('Text:', e.text);
    //console.info('Trigger:', e.trigger);
    alert("Copied to clipboard");

    e.clearSelection();
  });

  $(".magic-text-<%=id%>").on('click', function(){
    $("#clipboard-copy-<%=id%>").click();
  })
</script>