<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <div class="row header-text">
      <div class="col-md-12">
        See which of your friends are on Reefer!
      </div>
    </div>

    <div class="row fb-connect-row">
      <div class="col-md-12">
        <button class="fb-connect-btn" onclick="fbLoginSettings()">Connect Facebook</button>
      </div>
    </div>

    <div class="row dont-worry-row">
      <div class="col-md-12">
        Don't worry, Reefer is a private and secure network.
      </div>
    </div>

  </div>
</div>
</div>