<% if @user.friends.any? %>

  $(".ex-f-have .existing-friends-list").html("<%= j render 'users/friends/list_existing_friends', user: @user %>");
  $(".ex-f-have").show();
  $(".ex-f-not-have").hide();

<% else %>
  $(".ex-f-have").hide();
  $(".ex-f-not-have").show();
<% end %>

