<!-- desktop view -->
<div class="container visible-md visible-lg">

  <div class="row header-row-first">
    <div class="col-md-12 text-center">
      <h1 class="section-title-h1">Friends</h1>
    </div>
  </div>

  <div class="row reefer-friends">

    <!-- left panel-->
    <div class="col-md-6 left-friends-panel">
      <%= render "invite_friends" %>
    </div>

    <!-- right panel-->
    <div class="col-md-6">
      <%= render "existing_friends" %>
    </div>

  </div>

</div>

<!-- mobile view -->
<div class="container-fluid mobile-friends-container visible-xs visible-sm">


  <script type="text/javascript">
    function tabInvite(e){
      e.preventDefault();
      $("#tab-invite").show();
      $("#tab-existing").hide();
      $("#btn-invite-friends-mobile").addClass("btn-active");
      $("#btn-existing-friends-mobile").removeClass("btn-active");
    }
    function tabExisting(e){
      e.preventDefault();
      $("#tab-invite").hide();
      $("#tab-existing").show();
      $("#btn-invite-friends-mobile").removeClass("btn-active");
      $("#btn-existing-friends-mobile").addClass("btn-active");

      $.ajax({
        method: "GET",
        url: "<%= current_friends_users_friends_path %>",
        dataType:"script"
      })
    }

    $(document).ready(function(){
      <% if params[:my_friends] %>
        $("#tab-existing").show();
        $("#tab-invite").hide();
        $("#btn-invite-friends-mobile").removeClass("btn-active");
        $("#btn-existing-friends-mobile").addClass("btn-active");
      <% else %>
        $("#tab-invite").show();
        $("#tab-existing").hide();
      <% end %>
    })


  </script>

  <div class="row mobile-friends-selection">
    <div class="col-md-12">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-active" id="btn-invite-friends-mobile">
          <a href="#" onclick="tabInvite(event)">ADD FRIENDS</a>
        </button>
        <button type="button" class="btn" id="btn-existing-friends-mobile">
          <a href="#" onclick="tabExisting(event)">MY FRIENDS</a>
        </button>
      </div>
    </div>
  </div>

  <div class="row" id="tab-invite">
    <div class="col-md-12 col-no-padding-mobile">
      <%= render "invite_friends_mobile" %>
    </div>
  </div>

  <div class="row" id="tab-existing" style="display:none;">
    <div class="col-md-12 ">
      <%= render "existing_friends" %>
    </div>
  </div>

</div>

