<div class="row">
  <div class="col-md-12 ">
      <h4>Reefer Network Statistics</h4>
      <%= form_tag export_reefer_network_admins_statistics_path(format: :csv), method: :get do %>
        <div class="form-group">
          <label>Select month</label>
          <%= select_tag :month, options_for_select((1..12).map {|m| [Date::MONTHNAMES[m], m]}, Date.current.month), field: "month", class:"form-control" %>
        </div>
        <div class="form-group">
          <label>Select year</label>
          <%= select_tag :year, options_for_select([Date.current.year - 1, Date.current.year], Date.current.year), field: 'year', class: 'form-control' %>
        </div>
        <%= button_tag "Export to CSV", class: "btn btn-primary" %>
      <% end %>
      <hr>
      
      <h4>Statistics for a selected dispensary</h4>
      <%= form_tag export_per_dispensary_admins_statistics_path(format: :csv), method: :get do %>
        <div class="form-group">
          <label>Select dispensary</label>
          <%= select_tag :dispensary_id, options_for_select(Dispensary.all.map {|d| [d.name, d.id] }), field: "dispensary_id",
          class: "form-control" %>
        </div>
        <%= button_tag "Export to CSV", class: "btn btn-primary" %>
      <% end %>
      <hr>

      <h4>Export all dispensaries</h4>
      <%= link_to "Export to CSV", export_all_dispensaries_admins_statistics_path(format: :csv), class: 'btn btn-primary' %>
      </div>
</div>
