<%
  user = current_user
%>

<% user.friendship_invitations.each do |invitation| %>
  <% inviter = invitation.inviter %>
  <li class="friend-request" id="invitation-<%= invitation.id %>">

    <div class="media">
      <div class="media-left">
        <a>
          <%= image_tag inviter.main_picture, class:"profile-pic img-circle" %>
        </a>
      </div>
      <div class="media-body message">
        <%= inviter.name %> wants to be your friend!
      </div>
      <div class="media-body actions">
        <div class="icon-confirm" onclick="invitation_action(<%= invitation.id %>, 'accepted')"> <i class="material-icons md-18">done</i> </div>
        <div class="icon-reject" onclick="invitation_action(<%= invitation.id %>, 'rejected')">  <i class="material-icons md-18">clear</i> </div>
      </div>
    </div>

  </li>
<% end %>


<script type="text/javascript">

  function invitation_action(id, status){
    var data = {
      invitation: { invitation_state: status }
    }

    var prompt = true;
    if (status == 'rejected') {
      prompt_text = "Friends help you get more points! Are you sure you want to reject this friend request?"
      prompt = confirm(prompt_text);
    }

    if(prompt) {
      $.post('/users/invitations/'+id+'/invitation_status', data, function(x){
        $("#invitation-"+id).fadeOut('fast', function(){
          $(this).remove();
        })
      });
    }

  }

</script>
