<%
  notifications ||= nil
%>

<div class="pagination" style="display:none">
  <a href="#" class="current_page"></a>
  <a href="#" class="next_page"></a>
</div>

<script type="text/javascript">
  <% if current_user.fb_valid? %>
    var which_custom_notification = 3;
    var searchFriends = true;
  <% else %>
    var which_custom_notification = 2;
    var searchFriends = false;
  <% end %>

  var friendListNotify = [];

  $(document).ready(function(){
    if(searchFriends){
       $.get('<%= find_possible_friends_users_friends_url %>', function(resp){
        friendListNotify = resp.possible_friends;
        loadNotifications();
        console.log("1");
      })
    }
    else{
      loadNotifications();
      console.log("2");
    }

  });


  var timerid = null;
  $('.reefer-dropdown-panel-notifications').scroll(function(){
    var next_page = $('.pagination .next_page').val();
    var current_page = $('.pagination .current_page').val();

    //console.log(next_page, current_page);

    if(next_page==""){
      return;
    }
    if(current_page == next_page){
      return;
    }

    scrollY = $(this).prop('scrollHeight') - $(this).scrollTop();
    height = $(this).prop('offsetHeight');
    offset = height - scrollY;

    if(timerid === null && offset == 0 || offset == 1){
      console.log("load ", next_page);
      loadNotifications(next_page);
      timerid = setTimeout( function() { timerid = null; }, 500);
    }
  });

  function loadNotifications(next_page){
    if(next_page==undefined){
      next_page = 1
    }

    $.ajax({
      url: "/users/notifications?page="+next_page,
      method: "GET",
      headers: {
        Accept: "application/json; charset=utf-8",
        "Content-Type": "application/json; charset=utf-8"
      }
    }).done(function(data){
      $('.pagination .current_page').val(data.current_page);
      $('.pagination .next_page').val(data.next_page);
      drawNotifications(data.notifications);
      console.log("get me notifictions", data.notifications);
    });
  }


  function notify_magic_link(){
    var html = '<li class="magic_link_notification">';
        html += "<%=j render 'users/friends/magic_link_invite' %>";
        html += '</li>';
    return html;
  }

  function notify_no_fb(){
    var html = '<li class="no_fb_notification">';
        html += "<%=j render 'users/friends/notification_friends' %>";
        html += '</li>';
    return html;
  }

  function notify_fb(){
    var html = '<li class="fb_notification">';
    html += '<div class="container-fluid">';
    html += '<div class="row">';
    html += '<div class="col-md-12">';
    html += '<div class="row header-text">';
    html += '<div class="col-md-12">';

    if(friendListNotify.length > 0){
      html += 'Your Facebook friends are on Reefer!<br>Add them for points.'
    }
    else {
      html += '<div class="row fb-friends-none">There are no facebook friends to add right now.</div>';
    }
    html += '</div>';
    html += '</div>';

    html += '<div class="row fb-friends-row">';

    if(friendListNotify.lenght ==0){
      which_custom_notification = 1;
    } else {
      for(var i=0; i<3; i++){
        var f = friendListNotify[i];
        if(f){
          html += '<div class="col-md-4" style="padding-left:5px;padding-right:5px;">';
          html += '<div class="friend-add-panel friend-notify-'+f.id+' ">';
          html += '<div class="close" onclick="closeNotify('+f.id+')">X</div>';
          html += '<div class="image"><img class="img-circle" src="'+f.photo+'"></div>';
          html += '<div class="name">'+f.name+'</div>';
          html += '<div class="action"><a href="#" class="link" onclick="addFriendNotify('+f.id+')">Add</a></div>';
          html += '</div>';
          html += '</div>';
        }
      }
    }

    html += '</div>';
    html += '</div>';
    html += '</div>';
    html += '</div>';
    html += '</li>';
    return html;

  }

  function closeNotify(fid){
    $(".friend-notify-"+fid).remove();
  }

  function addFriendNotify(fid){
    $(".friend-notify-"+fid+" .action a").removeAttr("onclick");
    $(".friend-notify-"+fid+" .action a").addClass("link-active");
    $(".friend-notify-"+fid+" .action a").text("Added");

    $.ajax({
      url: "<%= invite_friends_users_friends_url %>",
      data: {invitee_ids: [fid] },
      method: "POST"
    }).done(function(data){

    })
  }

  function statusChangeCallbackNotificationFriends(response){
    if(response.status == "connected"){
      which_custom_notification = 3;
      //console.log("which_custom_notification", which_custom_notification);
      window.location.href = "<%=  users_friends_url %>";
    }
  }

  function drawNotifications(notifications){
    var html = "";
    var s=false;
    $.each(notifications, function(index, notification){
      //every 6th
      if(index%6==0 && index!=0){
        //console.log("6th", which_custom_notification);
        //if(which_custom_notification==1){
        if(s){
          //console.log("11", which_custom_notification);
          html += notify_magic_link();
          s = false;
        }
        else if(which_custom_notification==2){
          //console.log("22", which_custom_notification);
          html += notify_no_fb();
          s = true;
        }
        else if(which_custom_notification==3){
          html += notify_fb();
          s = true;
        }
      }

      if (notification.kind == "invitation") {
        var link = "<%= users_friends_path(my_friends: true) %>";
      } else {
        var link = "/users/home/dispensary_details/" + notification.dispensary_id;
      }

      html += '<li class="other-notification" id="notification-'+notification.id+'">';
      html += '<a href="'+link+'">'
      html += '<div class="media"><div class="media-left">';
      if(notification.points > 0 && notification.kind != "small_reward" && notification.kind != "medium_reward" && notification.kind != "large_reward") {
        html += '<div class="circle-40 circle-blue text-center">';
        html += '<div class="circle-text-up">+'+notification.points+'</div>';
        html += '<div class="circle-text-pts">PTS</div></div>';
      }
      else if(notification.points == 0 && notification.kind == "restore_invitation"){
        html += '<div class="circle-40 circle-blue text-center">';
        html += '<div class="circle-text-up">+'+notification.points+'</div>';
        html += '<div class="circle-text-pts">PTS</div></div>'; 
      } else {
        html += '<div class="circle-40 circle-green circle-center-icon">';
        html += '<div class="reward-icon"></div>';
        html += '</div>';
      }
      html += '</div>';
      html += '<div class="media-body">';
      html += '<div class="kind">'+notification.upper_message+'&nbsp;</div>';
      html += '<div class="message">'+notification.message+'</div>';
      html += '<div class="kind">'+notification.lower_message+'</div>';
      html += '</div>';
      html += '</div>';
      html += '</a>';
      html += '</li>';
    });
    $('ul.notifications').append(html)
  }


</script>
