<%= render :layout => '/shared/onboarding_form_template' do %>


  <div class="only-lg visible-md visible-lg">
    <%= form_for @user, url: enter_password_users_onboarding_path(@user), html: { class: "reefer-login" }, method: :put do |f| %>
      <%= f.label 'Create Password' %>

      <div class="form-group">
        <%= f.password_field :password, placeholder:"Enter Password", class:"form-control reefer-input input-password" %>
        <span class="pass-notice-white">Password must be at least 6 characters</span>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, placeholder:"Confirm Password", class:"form-control reefer-input input-confirmation" %>
      </div>

      <div class="form-group">
        <div class="checkbox enter-code-cb">
          <label style="text-align: left;">
            <input type="checkbox" class="checkbox-scaled">
              I am 18+ and I accept the 
              <%= link_to "terms & conditions", welcome_privacy_policy_path, target: "_blank" %>
          </label>
        </div>
      </div>

      <div class="form-group action-row">
        <%= f.submit "GO", class: "btn btn-black-circle btn-mask", disabled: true %>
      </div>

    <% end %>
  </div>

  <div class="only-sm visible-xs visible-sm">
    <%= form_for @user, url: enter_password_users_onboarding_path(@user), html: { class: "reefer-login" }, method: :put do |f| %>

      <%= hidden_field_tag :"user[mobile]", true %>
      <%= f.label 'Enter Password', class: 'main', style: "margin-bottom: 15px;" %>

      <div class="form-group">
        <%= f.password_field :password, placeholder:"Create Password", class:"form-control reefer-input input-password" %>
        <!-- <span class="pass-notice-white">Password must be at least 6 characters</span> -->
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, placeholder:"Confirm Password", class:"form-control reefer-input input-confirmation" %>
      </div>

      <div class="form-group">
        <div class="checkbox enter-code-cb">
          <label>
            <input type="checkbox" class="checkbox-scaled">
              I am 18+ and I accept the 
              <br/>
              <%= link_to "terms & conditions", welcome_privacy_policy_path, target: "_blank" %>
          </label>
        </div>
      </div>

      <%= f.submit "CREATE ACCOUNT", class: "btn btn-black-circle btn-mask", disabled: true %>

    <% end %>
  </div>

<% end %>



<script>

$(document).ready(function() {
  var password_1, password_2, checked;

  $(".enter-code-cb input").on('change', function(){
    checked = $(this).prop("checked");
    $(".enter-code-cb input").prop("checked", checked);
    checkPassword(checked, password_1, password_2);
  });

  $('.input-password').on('input', function(e) {
    password_1 = e.currentTarget.value;
    checkPassword(checked, password_1, password_2);
  });

  $('.input-confirmation').on('input', function(e) {
    password_2 = e.currentTarget.value;
    checkPassword(checked, password_1, password_2);
  });

  function checkPassword(checked, password_1, password_2) {
    if (checked){
      if (password_1 && password_2 && password_1.length > 5 && password_1 == password_2) {
        $('.btn-mask').removeAttr("disabled").removeClass('btn-black-circle').addClass('btn-black');
      } else {
        $('.btn-mask').attr("disabled", true).removeClass('btn-black').addClass('btn-black-circle');
      }
    }else{
      $('.btn-mask').attr("disabled", true).removeClass('btn-black').addClass('btn-black-circle');
    }
  }

});
</script>
