<%= render :layout => '/shared/onboarding_form_template' do %>
  <%= form_for @user, url: enter_phone_nr_users_onboardings_path, html: { class: "reefer-login" } do |f| %>
      <%= f.label 'What is your phone number?', class: 'main' %>
      <%= f.telephone_field :phone_number,
                       placeholder:"Enter Phone Number",
                       autofocus: true,
                       class:"form-control reefer-input"  %>

      <div class="form-group action-row">
        <%= f.submit "NEXT", class: "btn btn-black-circle btn-mask", disabled: true %>
      </div>
  <% end %>
<% end %>


<% content_for :prompt do %>
  <%= render "shared/prompt" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){

    var options = {
      onComplete: function(value, elem) {
        var $btn = $(elem.target).parent().find("input[type='submit']");
        $btn.removeAttr("disabled").removeClass('btn-black-circle').addClass('btn-black');
      },
      onChange : function(value, elem) {
        var $btn = $(elem.target).parent().find("input[type='submit']");
        $btn.attr("disabled", true).removeClass('btn-black').addClass('btn-black-circle');
      }
    };

    $('#new_user #user_phone_number').mask('(000) 000-0000', options);
  })
</script>
