<%= render :layout => '/shared/onboarding_form_template' do %>
  <div class="onboarding-enter-name">

    <div class="visible-md visible-lg">
      <h2>Sweet! You’re all signed up. </h2>
      <br>
      <div class="subheader-title-small">What should we call you?</div>
      <br>
    </div>

    <%= form_for @user, url: enter_name_users_onboarding_path(@user), html: { class: "reefer-login" }, method: :put do |f| %>

      <div class="visible-xs visible-sm">
        <label class="main">Enter Name</label>
      </div>

      <%= f.text_field :name, placeholder:"Enter Name", class:"form-control reefer-input" %>

      <div class="form-group action-row">
        <%= f.submit "NEXT", class: "btn btn-black-circle btn-mask", disabled: true %>
      </div>

    <% end %>

  </div>

<% end %>

<script>
 $('.reefer-input').on('input', function(e) {
  if(e.currentTarget.value.length > 0) {
    $('.btn-mask').removeAttr("disabled").removeClass('btn-black-circle').addClass('btn-black');
  } else {
    $('.btn-mask').attr("disabled", true).removeClass('btn-black').addClass('btn-black-circle');
  }
 });
</script>
