<script type="text/javascript">
  $("body").addClass("shared-link-bg");
</script>

<%
  user = current_user
  magic_link =  users_invitation_url(user.magic_link)
  id = rand(1..100)
%>
<%= render :layout => '/shared/onboarding_form_template' do %>
  <div class="visible-md visible-lg">
    <div class="row">
      <div class="col-md-12">
        <h4 style="color: white;">Successfully signed up!</h4>
        <label>
          <%= link_to "Click here to continue", users_root_path, style: "color: white; text-decoration: underline;" %>
        <label>
      </div>
    </div>

  </div>
  <div class="visible-xs visible-sm">
    <div class="onboarding-share-link magic-panel">
      <div class="row">
        <div class="col-md-12">
            <p class="get-free-gram">Get a <%= current_user.last_visited_dispensary_or_random_point %> for  every friend you invite to Reefer!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="magic-text magic-text-<%=id%>" id="clip-magic-text-<%=id%>"><%= magic_link %></div>
        </div>
      </div>
      <button class="btn" id="clipboard-copy-<%=id%>" data-clipboard-target="#clip-magic-text-<%=id%>" style="display:none;">
          Copy to clipboard
      </button>

      <div class="row">
        <div class="col-md-12">
          <% if browser.platform.windows? || browser.platform.linux? %>
            <a class="magic-text-link" href="sms:&body=<%= html_magic_link_sms_text(magic_link)%>"> Text Link</a>
          <% elsif browser.platform.android? %>
            <a class="magic-text-link" href="sms:?body=<%= magic_link_sms_full_text(current_user.last_visited_dispensary_or_random.name, magic_link,referral_deal)%>"> Text Link</a>
          <% elsif browser.platform.ios? || browser.platform.mac? %>
            <a class="magic-text-link" href="sms:&body=<%= magic_link_sms_full_text(current_user.last_visited_dispensary_or_random.name, magic_link,referral_deal)%>"> Text Link</a>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to "Skip For Now", users_root_path, style: "color: black;"  %>
        </div>
      </div>
    </div>

  </div>


<% end %>

<script type="text/javascript">

  var clipboard = new Clipboard('#clipboard-copy-<%=id%>');

  clipboard.on('success', function(e) {
    alert("Copied to clipboard");
    e.clearSelection();
  });

  $(".magic-text-<%=id%>").on('click', function(){
    $("#clipboard-copy-<%=id%>").click();
  })
</script>