<div class="row">
  <div class="col-md-12">
    <%= form_tag send_text_admins_mass_texts_path, method: :post, id: "mass-text-form" do %>
      <div class="form-group">
        <label>Dispensary</label>
        <%= select_tag :dispensary, options_for_select(@dispensaries.map{|d| [d.name,d.id]}), include_blank: "All", field: "dispensary" , class:"form-control" %>
      </div>

      <div class="form-group">
        <label>Message</label>
        <%= text_area_tag :message, nil, class: "form-control", rows: 10, style: "max-width: 100%;", required: true %>
        <p class="text-muted"><span class="characters-left">140</span> characters left</p>
        <p class="help-block"></p>
      </div>

      <div class="form-group text-right">
        <%= submit_tag "Send", class: "btn btn-primary", id: "mass-text-submit", disabled: true %>
      </div>

    <% end %>
  </div>
</div>

<script type="text/javascript">
  // on message field change
  $("#message").bind("input propertychange keypress", function(e){
    var val = $(this).val();
    var chars = val.length;
    var disabled;
    if (chars > 0){
      // prevent adding more chars then maxlength (140)
      if ((140 - chars) <= 0){
        $(".characters-left").text(0);
        e.preventDefault();
        return false;
      }
      // calculate how much chars left
      $(".characters-left").text(140 - chars);
      disabled = false;
    }
    else if(chars > 140){
      $("#mass-text-submit").prop("disabled", true);
    }
    else{
      // if there is 0 chars, disabled send button and set chars lenght
      $(".characters-left").text(140);
      disabled = true;
    }
    $("#mass-text-submit").prop("disabled", disabled);
  });
</script>