<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        Dispensaries: <%= Dispensary.all.count %>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        Users: <%= User.all.count %>
      </div>
    </div>
  </div>

</div>