<div class="row">
  <div class="new-landing-home__back col-xs-12">
    <div class="new-landing-home__section1">
      <h1 class="new-landing-home__image-title">
        Earn Free Cannabis. With Friends.
      </h1>
      <div class="row new-landing-home__search-input"> 
        <%= form_for @user, url: enter_phone_nr_users_onboardings_path do |f| %>
          <div class="new-landing-home__form col-md-12" >
            <div class="center-block new-landing-home__input-wrapper">  
              <%= f.telephone_field :phone_number, 
                placeholder:"Enter mobile number", 
                class:"form-control new-landing-home__input"%>
              <button type="submit" class="btn btn-black-submit new-landing-home__btn">
                <%= image_tag("icon_search.png", class: "") %>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
