<footer class="row">
  <div class="col-sm-12">
    <%= link_to root_path, class: "new-landing-home__footer-logo navbar-brand col-xs-12 col-sm-3" do %>
      <%= image_tag("reefer_logo 3.png", class: "center-block") %>
    <% end %>
    <div class="col-sm-9">
      <div class="row">
        <div class="new-landing-home__footer nav navbar-nav col-sm-12">
          <div class="col-sm-5">
            <div class="new-landing-home__footer-list col-xs-6"><%=link_to "Home", root_path, title:"HOME" %></div>
            <div class="new-landing-home__footer-list new-landing-home__footer-list_right col-xs-6"><%=link_to "For Dispensaries", dispensary_path, title:"FOR DISPENSARIES" %></div>
          </div>
          <div class="col-sm-5">
            <div class="new-landing-home__footer-list col-xs-6"><%=link_to "Contact", welcome_contact_us_path, title:"CONTACT" %></div>
            <div class="new-landing-home__footer-list new-landing-home__footer-list_right col-xs-6"><%=link_to "Privacy Policy", welcome_privacy_policy_path, title:"Privacy Policy" %></div>
          </div>
          <div class="col-xs-12 col-sm-2 new-landing-home__footer-text">
            ©2016 Reefer.
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
