<div class="row new-landing__main-content">
  <div class="col-xs-12 col-md-12">
    <p class="new-landing__pre-title">ABOUT</p>
    <p class="new-landing__title">How it works</p>
    <p class="col-xs-12 col-md-6 col-md-offset-3 new-landing__text new-landing__text_home-page">Reefer allows you to earn exlcusive rewards at your favorite dispensaries. Refer friends to your dispensary and earn loyalty points every time they visit. Start earning points today. It’s easy and free!</p>
    <div class="row">
      <div class="new-landing__video-frame col-xs-12">
        <iframe  src="<%= @video_url %>" frameborder="0" allowfullscreen class="new-landing-home__frame "></iframe>
      </div>
    </div>
  </div>
</div>
