<div class="row">
  <div class="new-landing-home__demo-form col-xs-12">
    <div class="row new-landing__pre-title new-landing__pre-title_bottom">
      <div class="col-xs-12">As Featured In:</div>
    </div>
    <div class="row">
      <div class="new-landing-home__log col-xs-12 col-md-4">
        <%= image_tag("logo-white-anon-la.png", class: "new-landing__logo-la center-block") %>
      </div><!--
      --><div class="new-landing-home__log col-xs-12 col-md-4">
        <%= image_tag("Direct-Cannabis-Network-Long-Wordmark-inverted-400.png", class: "col-xs-12 new-landing-home__logo-direct center-block") %>
      </div><!--
      --><div class="new-landing-home__log col-xs-12 col-md-4">
        <%= image_tag("OBSERVER.png", class: "new-landing__logo-observer center-block") %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 new-landing-home__button-wrapper">
        <%=link_to "REQUEST A DEMO", welcome_contact_us_path, title:"REQUEST A DEMO", class: "new-landing-home__request-demo-button center-block" %>
      </div>
    </div>
  </div>
</div>
