<nav class="new-landing-navbar navbar navbar-fixed-top">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="new-landing-navbar__header navbar-header">
    <button type="button" class="new-landing-navbar__btn navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("reefer_logo_WHT.png", class: "new-landing-navbar__brand") %>
    <% end %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-sm-offset-2 collapse navbar-collapse new-landing-navbar__nav-collapse" id="bs-example-navbar-collapse-1">
      <ul class="new-landing-navbar__nav nav navbar-nav">
        <li class="new-landing-navbar__list"><%=link_to "HOME", root_path, title:"HOME" %></li>
        <li class="new-landing-navbar__list"><%=link_to "FOR DISPENSARIES", dispensary_path, title:"FOR DISPENSARIES" %></li>
        <li class="new-landing-navbar__list"><%=link_to "CONTACT", welcome_contact_us_path, title:"CONTACT" %></li>
      </ul>

      <ul class="new-landing-navbar__nav_right new-landing-navbar__nav nav navbar-nav navbar-right">
        <li><%= link_to "LOGIN", enter_phone_nr_users_onboardings_path %></li>
        <li class="new-landing-navbar__link navbar-button-link "><%= link_to "SIGN UP", enter_phone_nr_users_onboardings_path, class: "new-landing-navbar__sign-up-link" %></li>
      </ul>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>

