<%= render "new_home/top_navbar", navbar_for: @navbar_for %>
<%= render "new_home/banner_with_proposal"%>
<%= render "new_home/main_content"%>
<%= render "new_home/request_demo_banner"%>
<%= render "new_home/footer"%>
