<%= render :layout => '/shared/onboarding_form_template' do %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "reefer-login", method: :put }) do |f| %>

    <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label 'Create new password' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autofocus: true, class:"form-control reefer-input", placeholder:"Enter New Password" %>
        <span class="pass-notice-white">Password must be at least 6 characters</span>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control reefer-input", placeholder:"Confirm Password" %>
      </div>

      <div class="form-group">
        <%= f.submit "GO", class: "btn btn-black-circle" %>
      </div>
  <% end %>

<% end %>