<%= render :layout => '/shared/onboarding_form_template' do %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "reefer-login" }) do |f| %>

      <div class="form-group">
        <%= f.label 'Forgot password' %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class:"form-control reefer-input", placeholder:"Email Address" %>
      </div>

      <div class="form-group">
        <%= f.submit "GO", class: "btn btn-black-circle" %>
      </div>
  <% end %>

<% end %>