<%= render :layout => '/shared/onboarding_form_template' do %>

  <div class="dispensary-forgot-password-resend" >

    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="header">We’ve e-mailed you a link to reset your password.</div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-md-12">
        <%= link_to "Resend link", new_dispensary_password_path %>
      </div>
    </div>

    <br>

  </div>

<% end %>