<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Reefer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Dispensaries", admins_dispensaries_path %></li>
        <li><%= link_to "Mass text", admins_mass_texts_path %></li>
        <li><%= link_to "Users", admins_users_path %></li>
        <li><%= link_to "FAQ", admins_faqs_path %></li>
        <li><%= link_to "Statistics", admins_statistics_path %></li>
        <li><a href="/admins/dispensaries_text">Dispensaries Text</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_admin.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Log out', destroy_admin_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
