<ul class="lsidebar-nav">
    <li>
        <a href="/dispensaries" <% if request.fullpath == '/dispensaries' %>class="active" <% end %> ><i class="fa fa-trophy" aria-hidden="true"></i> Rewards</a>
    </li>
    <li>
        <a href="/dispensaries/analytics" <% if request.fullpath == '/dispensaries/analytics' %>class="active" <% end %> ><i class="fa fa-heart-o" aria-hidden="true"></i> Analytics</a>
    </li>
    <li>
        <a href="<%= current_dispensary.dispensary_text_access_status.nil? ? '/dispensaries/activate-sms' : '/dispensaries/smart-sms' %>" <% if request.fullpath == '/dispensaries/smart-sms' %>class="active" <% end %> ><i class="fa fa-video-camera" aria-hidden="true"></i> Smart SMS</a>
    </li>
</ul>
