<%
  form
%>


<div class="row">
  <div class="col-md-12">
    <%= form.fields_for :store_hours do |form_hours| %>
      <div class="row">
        <div class="col-md-4">
          <div class="button-group days-group" id="select-days-tggl-<%= form_hours.object.id %>">
            <button type="button" class="btn btn-default dropdown-toggle select-days-toggle" data-toggle="dropdown" id="selectDaysToggle_<%= form_hours.object.id %>">
              Select days <span class="caret"></span>
            </button>
            <ul class="dropdown-menu select-days" id="selectDaysList_<%= form_hours.object.id %>">
              <li><a href="#" class="small" data-value="sunday" tabIndex="-1"><%=form_hours.check_box :sunday%>&nbsp;<span>Sunday</span></a></li>
              <li><a href="#" class="small" data-value="monday" tabIndex="-1"><%=form_hours.check_box :monday%>&nbsp;<span>Monday</span></a></li>
              <li><a href="#" class="small" data-value="tuesday" tabIndex="-1"><%=form_hours.check_box :tuesday%>&nbsp;<span>Tuesday</span></a></li>
              <li><a href="#" class="small" data-value="wednesday" tabIndex="-1"><%=form_hours.check_box :wednesday%>&nbsp;<span>Wednesday</span></a></li>
              <li><a href="#" class="small" data-value="thursday" tabIndex="-1"><%=form_hours.check_box :thursday%>&nbsp;<span>Thursday</span></a></li>
              <li><a href="#" class="small" data-value="friday" tabIndex="-1"><%=form_hours.check_box :friday%>&nbsp;<span>Friday</span></a></li>
              <li><a href="#" class="small" data-value="saturday" tabIndex="-1"><%=form_hours.check_box :saturday%>&nbsp;<span>Saturday</span></a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          from
          <%= form_hours.hidden_field :from_time, id:"hours_from_#{form_hours.object.id}" %>
          <div class="btn-group hours-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="hour-from-<%= form_hours.object.id %>"><%= form_hours.object.get_from_time %></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-150">
              <% StoreHour::OPEN_HOURS.each do |hour| %>
                <li><a onclick="set_from(<%= form_hours.object.id %>,<%= hour.second %>, '<%= hour.first %>')"><%= hour.first %></a></li>
              <% end %>
            </ul>
          </div>

        </div>
        <div class="col-md-4">
          to
          <%= form_hours.hidden_field :to_time, id:"hours_to_#{form_hours.object.id}" %>
          <div class="btn-group hours-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="hour-to-<%= form_hours.object.id %>"><%= form_hours.object.get_to_time %></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-150">
              <% StoreHour::OPEN_HOURS.each do |hour| %>
                <li><a onclick="set_to(<%= form_hours.object.id %>, <%= hour.second %>, '<%= hour.first %>')"><%= hour.first %></a></li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <%= form.submit "+ Add new row", commit:"new_hour", class:"link-green" %>
  </div>
</div>


<script type="text/javascript">
  var options = [];

  $(document).ready(function(){
    $('.select-days a').on('click', function(event) {
      var $target = $( event.currentTarget ),
      val = $target.attr( 'data-value' ),
      $inp = $target.find( 'input' ),
      idx;

      if ( ( idx = options.indexOf( val ) ) > -1 ) {
        options.splice( idx, 1 );
        setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
      } else {
        options.push( val );
        setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
      }

      $( event.target ).blur();
      console.log("days", options );
      return false;
    });

    $(".select-days").each(function() {
      displaySelectedDays($(this).attr("id").replace( /^\D+/g, ''));
    });

    $('[id^="select-days-tggl-"]').on('hide.bs.dropdown', function(e){
      var id = $(e.relatedTarget).attr("id");
      id = id.substr(id.indexOf("_")+1, id.length);
      displaySelectedDays(id);
    })

  })

  function displaySelectedDays(id) {
    var days=[];
    $("#selectDaysList_"+id+" li input:checked").next("span").map(function(){
      return days.push($(this).text());
    });
    if(days.length>0){
      $("#selectDaysToggle_"+id).text(days.join(", "))
    }
  }

  function set_from(id, value, text){
    $("#hours_from_"+id).val(value);
    $("#hour-from-"+id).text(text);
  }
  function set_to(id, value, text){
    $("#hours_to_"+id).val(value);
    $("#hour-to-"+id).text(text);
  }

</script>
