<div class="container">

<div class="row dispensary-green-modal-row">
  <div class="col-md-12">

  <%= form_for current_dispensary, url: dispensaries_home_index_path do |f| %>
    <!-- panel -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-dispensary-edit">
          <div class="panel-heading text-center">Edit Info</div>
          <div class="panel-body">

            <div class="row">
              <div class="col-md-5 left-side">

                <div class="form-group">
                  <label>DISPENSARY NAME</label>
                  <%= f.text_field :name, class:"form-control" %>
                </div>

                <div class="form-group">
                  <label>DISPENSARY ADDRESS</label>
                  <%= f.text_field :address, class:"form-control" %>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>CITY</label>
                      <%= f.text_field :city, class:"form-control" %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>STATE</label>
                      <%= f.text_field :state, class:"form-control" %>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>ZIP CODE</label>
                  <%= f.text_field :zip_code, class:"form-control" %>
                </div>

                <div class="form-group">
                  <label>DISPENSARY PHONE NUMBER</label>
                  <%= f.text_field :phone_number, class:"form-control" %>
                </div>
              </div>

              <div class="col-md-7">
                <div class="form-group">
                  <label>STORE HOURS</label>
                </div>
                <%= render "form_store_hours", form: f %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- actions -->
    <div class="row">
      <div class="col-md-12 text-center">
        <%= f.submit "SAVE", class:"btn btn-white" %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to "Cancel", dispensaries_root_path, class:"link" %>
      </div>
    </div>

  <% end %>
  </div>
</div>

</div>