<div class="dispensary-how-it-works">

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="section-title-h1">How it works</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <hr class="hr-green-line">
      </div>
    </div>

    <br>

  </div>

  <div class="container-fluid  ">
    <div class="row">
      <div class="col-md-12">

        <div style="max-width: 900px" class="div-center">
          <div class="public-video-player ">
            <iframe width="160" height="115" src="https://www.youtube-nocookie.com/embed/4uQ5P40tq-M" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
