<%= render :layout => '/shared/onboarding_form_template' do %>

  <%= form_for @user, url: user_update_session_path(@user), html: { class: "reefer-login" }, method: :put do |f| %>
    <%= f.label 'Enter Your Password', class: "main" %>

    <input type="hidden" value="<%= @user.ref %>" name="user[ref]">

    <div class="form-group">
      <%= f.password_field :password, placeholder:"Enter Password", class:"form-control reefer-input" %>
    </div>

    <div class="action-row">
      <%= f.submit "LOGIN", class: "btn btn-black-circle btn-mask", disabled: true %>
      <br>
      <%= link_to "Forgot Your Password?", reset_user_session_path(@user), class:"link-white" %>
    </div>

  <% end %>

<% end %>

<script>
  $(document).ready(function() {
   $('.reefer-input').on('input', function(e) {
    if(e.currentTarget.value.length > 3) {
      $('.btn-mask').removeAttr("disabled");
      $('.btn-mask').removeClass('btn-black-circle').addClass('btn-black');
    } else {
      $('.btn-mask').attr("disabled", true);
      $('.btn-mask').removeClass('btn-black').addClass('btn-black-circle');
    }
   });
  });
</script>
