<%= render :layout => '/shared/onboarding_form_template' do %>

    <div class="onboarding-reset-msg">
      <div class="msg">We've texted you a link to<br>reset your password.</div>

      <div class="link"><%= link_to "Resend link", reset_user_session_path(@user), class:"link-white" %></div>

    </div>

<% end %>