<div class="container">

<div class="row dispensary-green-modal-row">
  <div class="col-md-12">

  <%= form_for current_dispensary, url: dispensaries_home_index_path do |f| %>
    <!-- panel -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-dispensary-edit" style="border:1px solid rgba(43, 43, 43, 0.28);">
          <div class="panel-heading text-center">User Traffic</div>
          <div class="panel-body">

              <div class="form-group  col-md-2 pull-right">
                <input type="text" id="datepicker" class="form-control reefer-input-left" value=<%= @user_visitations.first.visited_at %> onchange="dateFilter();">

              </div>
              <label for="date_filter" class="control-label pull-right" style="line-height: 37px;"> Date </label>
            <table class="table table-bordered table-inverse">
                <tr class="emptyRow" style="display:none; text-align:center;">
                <td colspan="3">No item found</td>
                </tr>
               <thead class="thead-inverse">
                   <tr>
                        <th>#</th>
                        <th>Store</th>
                        <th>Visitor Count</th>
                   </tr>
               </thead>
               <%= puts count = 0 %>
              <% @dispensary.each do |dispensary| %>
                    <% @user_visitations.where(:dispensary_id  =>  dispensary.id).all.group('date(visited_at)').count .each do |visitors| %>
                      <%= puts count += 1 %>
                      <tr class="hideRow" data-select=<%= visitors[0] %>>
                      <td class="text-left deal count" data-count=<%= visitors[0] %> scope="row"></td>
                      <td class="text-left deal"><%= dispensary.name %></td>
                      <td class="text-left deal"><%= visitors[1] %></td>
                      </tr>

                    <% end %>
              <% end %>


             </table>


          </div>
        </div>
      </div>
    </div>


  <% end %>
  </div>
</div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  $( function() {
    $( "#datepicker" ).datepicker({
        dateFormat: 'yy-mm-dd',
    });

  } );
  $(document).ready(function(){
    dateFilter();
  });

  function dateFilter(){
    $(".emptyRow").hide();
    var flag = 0;
    console.log($("#datepicker").val())
    $( ".hideRow" ).each(function( index ) {
      if($( this ).attr('data-select') === $("#datepicker").val()){
        $(this).show();
        counter();
        flag = 1;
      }
      else{
        $(this).hide();
      }
    });
    console.log(flag);
    if(flag === 0){
        $(".emptyRow").show();
    }
  }
  function counter(){
    var count = 0;
    $( ".count" ).each(function( index ) {
      if($( this ).attr('data-count') === $("#datepicker").val()){
        count += 1;
        $(this).html( count );
      }
    });

  }
</script>