<nav class="navbar navbar-app">
  <div class="container-fluid">

    <!-- logo -->
    <%= link_to "#", class:"navbar-brand" do %>
      <%= image_tag("reefer-icon.png", size:"23x24") %>
    <% end %>

    <!-- mobile -->
    <%= render "users/shared/app_navbar_mobile" %>

    <!-- desktop -->
    <%= render "users/shared/app_navbar_desktop" %>

  </div>
</nav>

<script type="text/javascript">
  $('.logoff-button').on('click', function(){
    FB.getLoginStatus(function(response) {
        if (response && response.status === 'connected') {
            FB.logout(function(response) {
                document.location.reload();
            });
        }
    });
  });
</script>

