<ul class="nav text-center visible-xs visible-sm">

  <li class="<%= 'active' if current_page?(users_root_path) || controller_name == 'home' %>"><%= link_to users_root_path  do %>
  <i class="icon-location-pin icons"></i>
  <% end %></li>

  <li class="<%= 'active' if current_page?(users_friends_path) %>"><%= link_to users_friends_path do %>
  <i class="icon-people icons"></i>
  <% end %></li>


  <li class="<%= 'active' if current_page?(users_notifications_path) %>">
    <%= link_to users_notifications_path(seen: "t") do %>
      <i class="icon-bell icons ">
      <% if current_user.any_notifications_unseen? %>
        <div class="circle-notification circle-8"></div>
      <% end %>
      </i>
    <% end %>
  </li>
  <li class="<%= 'active' if current_page?(users_settings_path) %>">
    <%= link_to users_settings_path do %>
      <i class="icon-settings icons"></i>
    <% end %>
  </li>
</ul>
