
<div class="visible-md visible-lg">

  <!--left side -->
  <ul class="nav navbar-nav">

    <!--map-->
    <li class="<%= 'active' if current_page?(users_root_path) || controller_name == 'home' %>">
      <%= link_to users_root_path  do %>
        <i class="icon-location-pin icons"></i> Map
      <% end %>
    </li>

    <!--friends-->
    <li class="<%= 'active' if current_page?(users_friends_path) %>">
      <%= link_to users_friends_path do %>
        <i class="icon-people icons"></i> Friends
      <% end %>
    </li>
  </ul>

  <!-- right side -->
  <ul class="nav navbar-nav navbar-right">
    <!--notifications-->
    <li class="dropdown " id="dropdown-desktop-notifcations" >
      <a id="dNotify" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:40px"  onclick="markAsSeen()">
        <i class="icon-bell icons">
          <% if current_user.any_notifications_unseen? %>
            <div class="circle-notification circle-8"></div>
          <% end %>
        </i>
      </a>

      <div class="dropdown-menu reefer-dropdown-panel-notifications" aria-labelledby="dNotify">
        <% if !browser.device.mobile? %>
          <%= render "users/shared/notifications" %>
        <% end %>
      </div>
    </li>

    <!--settings-->
    <li class="dropdown" id="dropdown-desktop-settings">
      <a id="dSetting" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        <i class="icon-settings icons"></i>
      </a>

      <div class="dropdown-menu reefer-dropdown-panel-settings" aria-labelledby="dSetting">
        <%= render "users/settings/profile" %>
      </div>

    </li>

  </ul>

</div>

