<div class="reefer-panel-notifications">
  <div class="panel-header">Notifications</div>
  <ul class="notifications">
    <%= render "users/notifications/friend_requests" %>
    <%= render "users/notifications/other_notifications" %>
  </ul>
</div>

