<%
  id = SecureRandom.hex(3)
  footer ||= false
%>

<div class="form-274 div-center <%= footer ? '' : 'user-cta-header' %>">
  <%= form_for User.new, url: enter_phone_nr_users_onboardings_path do |f| %>
    <%= f.telephone_field :phone_number, placeholder:"Enter mobile number", class:"form-control reefer-input", id:"reefer-mobile-input-#{id}" %>
    <br>
    <% if footer %>
      <button type="submit" class="btn btn-black-submit" id="reefer-submit-<%= id %>" disabled="true" style="cursor: pointer;">SUBMIT</button>
      <!--<button type="submit" class="btn btn-black-circle" id="reefer-submit-<%= id %>" disabled="true" style="cursor: pointer;">SUBMIT</button>-->
    <% else %>
      <button type="submit" class="btn btn-black-submit" id="reefer-submit-<%= id %>" disabled="true" style="cursor: pointer;">SUBMIT</button>
    <% end %>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    var options =  {
      onComplete: function(number) {
        $('#reefer-submit-<%= id %>').attr("disabled", false).removeClass('btn-black-circle').addClass('btn-black');
      },

      onChange: function(number) {
        if (number.length < 13) {
          $('#reefer-submit-<%= id %>').attr("disabled", true).removeClass('btn-black').addClass('btn-black-circle');
        }
      }
    }

    $('#reefer-mobile-input-<%= id %>').mask('(000) 000-0000', options);
  });

</script>
