<div class="container-fluid container-full-height">
  <div class="row row-full-height">


    <div class="col-xs-12 user-dispensary-left-panel">

      <div class="row">
        <!--links -->
        <div class="col-md-12 left-panel-links text-center visible-md visible-lg">
          <%= link_to my_clubs_users_home_index_path, class: "link-my-clubs #{"active" if current_page?(my_clubs_users_home_index_path)}" do %>
            <div class="group-icon"></div> My Clubs
          <% end %>
          <%= link_to rewards_users_home_index_path, class: "link-rewards #{"active" if current_page?(rewards_users_home_index_path)}" do %>
            <div class="noun-icon"></div> Rewards
          <% end %>
          <%= link_to all_clubs_users_home_index_path, class: "link-all-clubs #{"active" if current_page?(all_clubs_users_home_index_path)}" do %>
            <i class="icon-location-pin icons"></i> All Clubs
          <% end %>
        </div>

        <!--links mobile-->
        <div class="col-xs-12 left-panel-links-mobile visible-xs visible-sm">
          <div class="row">

            <div class="col-xs-10 col-no-padding">
              <div class="dropdown" id="dispensary-select-dd-toggle">

              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="padding-left: 14px;">
                <input type="hidden" value="<%= current_dispensaries_list_tag(request.path) %>" id="current-dd-value">
                <div class="links-header text-left"><%= current_dispensaries_list(request.path) %>
                  <div class="pull-right"><i class="icon-arrow-down icons"></i></div>
                </div>
              </button>

              <script type="text/javascript">
                $(document).ready(function(){
                  $('#dispensary-select-dd-toggle').on('show.bs.dropdown', function () {
                    $("button .pull-right i").removeClass("icon-arrow-down");
                    $("button .pull-right i").addClass("icon-arrow-up");

                    var s = $("#current-dd-value").val();
                    //console.log(s);
                    $("#dd-allclubs").show();
                    $("#dd-rewards").show();
                    $("#dd-myclubs").show();

                    $("#dd-"+s).hide();

                  })
                  $('#dispensary-select-dd-toggle').on('hide.bs.dropdown', function () {
                    $("button .pull-right i").removeClass("icon-arrow-up");
                    $("button .pull-right i").addClass("icon-arrow-down");
                  })
                })
              </script>


              <ul class="dropdown-menu text-center dispensary-select-dd">
                <li id="dd-myclubs">
                  <%= link_to my_clubs_users_home_index_path(list_view: @list_view), class: "link-my-clubs link-my-clubs-mobile #{"active" if current_page?(my_clubs_users_home_index_path)}" do %>
                    <div class="house-icon"></div><span>My Clubs</span>
                  <% end %>
                </li>
                <li id="dd-rewards">
                  <%= link_to rewards_users_home_index_path(list_view: @list_view), class: "link-rewards link-rewards-mobile #{"active" if current_page?(rewards_users_home_index_path)}" do %>
                    <div class="reward-icon"></div><span>Rewards</span>
                  <% end %>
                </li>
                <li id="dd-allclubs">
                  <%= link_to all_clubs_users_home_index_path(list_view: @list_view), class: "link-all-clubs link-all-clubs-mobile #{"active" if current_page?(all_clubs_users_home_index_path)}" do %>
                    <i class="icon-location-pin icons"></i><span>All Clubs</span>
                  <% end %>
                </li>
              </ul>
              </div>
            </div>

            <div class="col-xs-2 col-no-padding pull-left">
              <%= link_to current_page_with_list_view(request.path, @list_view), class: 'btn list-view-link' do %>
                <i class="<%= @list_view.zero? ? "icon-options-vertical" : "icon-map" %> icons"></i>
              <% end %>
            </div>

          </div>
        </div>
      </div>


      <!-- map view for dispensaries -->
      <% if @list_view.zero? %>
        <div class="row user-dispensary-container" id="para-user-dispensary-container">
          <div class="col-md-12">
            <div class="row div-center user-dispensary-tab-row">
              <div id="dispensaryCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
      <!-- list view for dispensaries -->
        <div class="row user-dispensary-container-list-view">
          <div class="col-md-12">
            <div class="row div-center user-dispensary-tab-row">
              <%= yield %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <% if @list_view.zero? %>
      <div class="user-dispensary-right-panel col-full-height">
        <div class="row map-container row-full-height">
          <div class="col-md-12  col-full-height">
            <%= render partial: "/shared/google_map.html.erb", locals: { locations: dispensary_locations(@dispensaries) } %>
          </div>
        </div>
      </div>

    <% end %>


  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    //$(".user-dispensary-tab .name").dotdotdot({height: 40 });
  })
</script>