<div class="new-landing-dispensary__section1">
  <h1 class="new-landing-dispensary__image-title">
    Smart Marketing Meets Cannabis
  </h1>
  <p class="new-landing-dispensary__banner-text">Increase retention and grow your patient-base using our four-step marketing suite</p>
</div>
