<div class="row">
  <div class="new-landing-dispensary__demo-form col-xs-12">
    <p class="new-landing-dispensary__pre-title new-landing-dispensary__pre-title_demo">JOIN THE WAITING LIST TODAY</p>
    <h1 class="new-landing-dispensary__image-title">Request a Demo</h1>
    <div class="row">
      <%= form_for @new_dispensary, url:dispensary_join_waiting_list_path, method: :post do |f| %>
        <div class="new-landing-dispensary__form-waiting col-md-12" >
          <div class="row center-block new-landing-dispensary__input-wrapper"> 
            <div class="col-md-3">
              <div class="center-block new-landing-dispensary__input-block">
                <%= f.text_field :email, 
                  placeholder:"Email Adress", 
                  class:"form-control new-landing-dispensary__input"%>
                </div>
            </div>
            <div class="col-md-3">
              <div class="center-block new-landing-dispensary__input-block">
                <%= f.text_field :name, 
                  placeholder:"Dispensary name", 
                  class:"form-control new-landing-dispensary__input"%>
              </div>
            </div>
            <div class="col-md-3">
              <div class="center-block new-landing-dispensary__input-block">
                <%= f.telephone_field :phone_number, 
                  placeholder:"Phone number", 
                  class:"form-control new-landing-dispensary__input"%>
              </div>
            </div>
            <div class="col-md-3">
              <div class="center-block new-landing-dispensary__btn-block">
                <button type="submit" class="btn btn-black-submit new-landing-dispensary__btn">
                  JOIN THE WAITING LIST
                </button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
