<div class="row new-landing-dispensary__main-content">
  <div class="col-xs-12 col-md-12">
    <%= render "new_dispensary/steps_desc"%>
    <%= render "new_dispensary/step_1"%>
    <%= render "new_dispensary/step_2"%>
    <%= render "new_dispensary/step_3"%>
    <%= render "new_dispensary/step_4"%>
  </div>
</div>
<%= render "new_dispensary/join_waiting_list"%>
