<div class="row new-landing-dispensary__step-block">
  <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-5 new-landing-dispensary__steps">
    <%= image_tag("step_1_icon.png") %>
    <p class="new-landing-dispensary__title new-landing-dispensary__title_step">Loyalty</p>
    <p class="new-landing-dispensary__text new-landing-dispensary__text_step new-landing-dispensary__text_description">Customize your rewards and track their popularity to craft the perfect program for your dispensary to increase patient retention and loyalty.</p>
  </div>
  <div class="col-xs-12 col-md-6 new-landing-dispensary__nopadding">
    <%= image_tag("ipad_step1.png", class: "new-landing-dispensary__step-image-1") %>
  </div>
</div>
