<div class="row new-landing-dispensary__step-block">
  <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-5 new-landing-dispensary__steps">
    <%= image_tag("step_3_icon.png") %>
    <p class="new-landing-dispensary__title new-landing-dispensary__title_step">SMS Messaging</p>
    <p class="new-landing-dispensary__text_step new-landing-dispensary__text new-landing-dispensary__text_description">Send customized deals and inform patients of new product offerings to increase daily foot traffic. Reefer sorts your data and targets patients based on their specific product preferences.</p>
  </div>
  <div class="col-xs-12 col-md-6 ">
    <%= image_tag("iphone_step3.png", class: "new-landing") %>
  </div>
</div>
