<div class="row new-landing-dispensary__step-block">
  <div class="col-xs-10 col-xs-offset-1 col-xs-11 col-md-offset-1 new-landing-dispensary__steps_step-2 col-md-5 col-md-push-5">
    <%= image_tag("step_2_icon.png") %>
    <p class="new-landing-dispensary__title new-landing-dispensary__title_step">Digital Referrals</p>
    <div class="row">
      <div class="col-xs-1 col-md-1 new-landing-dispensary__step2-icon">
        <%= image_tag("message_bw_icon.png", class: "new-landing center-block") %>
      </div>
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <p class="new-landing-dispensary__text_step">Personalized referral links</p>
        <p class="new-landing-dispensary__text_step new-landing-dispensary__text_description-step-2">Reefer uses the same referral technology as apps such as Uber and Airbnb to run your referral program digitally.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1 col-md-1 new-landing-dispensary__step2-icon">
        <%= image_tag("facebook_icon.png", class: "new-landing center-block") %>
      </div>
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <p class= "new-landing-dispensary__text_step">Facebook integration</p>
        <p class="new-landing-dispensary__text_step new-landing-dispensary__text_description-step-2">Leverage your patients’ social network to target their friends more effectively.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1 col-md-1 new-landing-dispensary__step2-icon">
        <%= image_tag("loyalty_bw_icon.png", class: "new-landing center-block") %>
      </div>
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <p class= "new-landing-dispensary__text_step">Reciprical points</p>
        <p class="new-landing-dispensary__text_step new-landing-dispensary__text_description-step-2">Patient’s friends earn points every time your patients visit your dispensary, thus incentivizing group loyalty.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-pull-6">
    <%= image_tag("iphone_step2.png", class: "new-landing") %>
  </div>
</div>
