<div class="row new-landing-dispensary__step-4-block">
  <div class="col-xs-10 col-xs-offset-1 col-xs-11 col-md-offset-1 new-landing-dispensary__steps col-md-push-5 col-md-5">
    <%= image_tag("step_4_icon.png") %>
    <p class="new-landing-dispensary__title new-landing-dispensary__title_step">Data</p>
    <p class="new-landing-dispensary__text_step new-landing-dispensary__text new-landing-dispensary__text_description">Track the success of your rewards program and improve your operations by making decisions on real data.</p>
  </div>
  <div class="col-md-6 col-md-pull-6 new-landing-dispensary__nopadding">
    <%= image_tag("macbook_step4.png", class: "new-landing-dispensary__step-image-4") %>
  </div>
</div>