<p class="new-landing-dispensary__pre-title">THE FOUR STEP PROCESS</p>
<p class="new-landing-dispensary__title">Connect with your patients</p>
<div class="row new-landing-dispensary__shot-desc">
  <div class="new-landing-dispensary__log col-xs-12 col-md-3">
    <%= image_tag("loyalty_icon.png", class: "new-landing center-block") %>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <div class="new-landing-dispensary__text">Loyalty</div>
      <div class="new-landing-dispensary__text new-landing-dispensary__text_description-steps">Increase retention by 90% with customized rewards. </div>
    </div>
  </div>
  <div class="new-landing-dispensary__log col-xs-12 col-md-3">
    <%= image_tag("referrals_icon.png", class: "new-landing center-block") %>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <div class="new-landing-dispensary__text">Referrals</div>
      <div class="new-landing-dispensary__text new-landing-dispensary__text_description-steps">Target patients’ friends through digital referrals to grow your patient base up to 10%.</div>
    </div>
  </div>
  <div class="new-landing-dispensary__log col-xs-12 col-md-3">
    <%= image_tag("sms_icon.png", class: "new-landing new-landing-dispensary__icon-message center-block") %>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <div class="new-landing-dispensary__text">SMS Messaging</div>
      <div class="new-landing-dispensary__text new-landing-dispensary__text_description-steps">Increase traffic through personalized SMS messaging with an open rate of 98%.</div>
    </div>
  </div>
  <div class="new-landing-dispensary__log col-xs-12 col-md-3">
    <%= image_tag("data_icon.png", class: "new-landing center-block") %>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <div class="new-landing-dispensary__text">Data</div>
      <div class="new-landing-dispensary__text new-landing-dispensary__text_description-steps">Gain smart insights for real results with 5 actionable data points. </div>
    </div>
  </div>
</div>
