<div class="row">
  <div class="new-landing-dispensary__back col-xs-12">
    <%= render "new_home/top_navbar", navbar_for: @navbar_for%>
    <%= render "new_dispensary/banner_with_proposal"%>
  </div>
</div>
<%= render "new_dispensary/main_content"%>
