<div class="only-small visible-xs visible-sm">
<%= render :layout => '/shared/onboarding_form_template' do %>

  <style type="text/css">
    .only-lg .onboarding-flow-user-enter-code{
      display:none;
    }

  </style>
  <script type="text/javascript">
    function showEnterCode(){
      $(".only-lg .onboarding-flow-user").hide();
      $(".only-lg .onboarding-flow-user-enter-code").show();
    }
  </script>

  <div class="onboarding-flow-user">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="onboarding-flow-user-enter-code">
          <%= form_for @user, url: enter_confirmation_code_users_in_store_onboarding_path(@user), html: { class: "reefer-login" }, method: :put do |f| %>
              <%= f.label 'Enter Varification Code', class: 'main with-help-block' %>
              <p class="help-block">Check Your Texts</p>
              <%= f.text_field :provided_confirmation_code,
                               placeholder:"Enter Code",
                               class:"form-control reefer-input confirmation-input" %>

              <div class="action-row">
                <%= f.submit "CONTINUE", class: "enter-code-cb-btn btn btn-black-circle btn-mask", disabled:"disabled" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>
</div>

<div class="visible-md visible-lg">
<%= render :layout => '/shared/invitation_form_template' do %>
  <style type="text/css">
    #invitation-flow-user-enter-code{
      display:none;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#btn-enter-code").click(function(e){
        $("#invitation-flow-user").hide();
        $("#invitation-flow-user-enter-code").show();
      });
    })
  </script>

  <div id="invitation-flow-user">
    <div class="row">
      <div class="col-md-12 text-center">
        <label>We've sent a code to</label>
        <br>
        <div class="invitation-phone-number">
          <%= @user.phone_number %>
        </div>
      </div>
    </div>

    <br>

    <div class="row invitation-options-links">
      <div class="col-md-6 col-xs-5 text-center">
        <%= link_to "Resend Code", resend_code_users_in_store_onboarding_path(@user) %>
      </div>
      <div class="col-md-6 col-xs-7 text-center">
        <%= link_to "Use Different Number", "#" %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-black-circle" id="btn-enter-code">ENTER CODE</button>
      </div>
    </div>
  </div>

  <div id="invitation-flow-user-enter-code">
    <%= form_for @user, url: enter_confirmation_code_users_in_store_onboarding_path(@user), html: { class: "reefer-login" }, method: :put do |f| %>
      <div class="black-notice">Enter Code</div>

      <div class="form-group">
        <%= f.text_field :provided_confirmation_code, placeholder:"Enter Code", class:"form-control"  %>
      </div>

      <div class="form-group action-row">
        <%= f.submit "GO", class: "btn btn-black-circle" %>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<script>
$(document).ready(function() {

    var options = {
      onComplete: function(value, elem) {
        var $btn = $(elem.target).parent().find("input[type='submit']");
        $btn.removeAttr("disabled");
        $btn.removeClass('btn-black-circle').addClass('btn-black');
      },
      onChange: function(value, elem) {
        var $btn = $(elem.target).parent().find("input[type='submit']");
        $btn.attr("disabled", "disabled");
        $btn.removeClass('btn-black').addClass('btn-black-circle');
      }
    };


  $('.confirmation-input').mask('00000', options);
});
</script>
