<div class="visible-sm visible-xs">
  <%= render :layout => '/shared/onboarding_form_template' do %>
  <%= form_for @user, url: enter_password_users_in_store_onboarding_path(@user), html: { class: "reefer-login" }, method: :put do |f| %>

      <%= hidden_field_tag :"user[mobile]", true %>
      <%= f.label 'Enter Password', class: 'main', style: "margin-bottom: 15px;" %>

      <div class="form-group">
        <%= f.password_field :password, placeholder:"Create Password", class:"form-control reefer-input input-password" %>
        <!-- <span class="pass-notice-white">Password must be at least 6 characters</span> -->
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, placeholder:"Confirm Password", class:"form-control reefer-input input-confirmation" %>
      </div>

      <div class="form-group">
        <div class="checkbox enter-code-cb">
          <label>
            <input type="checkbox" class="checkbox-scaled">
              I am 18+ and I accept the 
              <br/>
              <%= link_to "terms & conditions", welcome_privacy_policy_path, target: "_blank" %>
          </label>
        </div>
      </div>

      <%= f.submit "CREATE ACCOUNT", class: "btn btn-black-circle btn-mask", disabled: true %>

    <% end %>
  <% end %>
</div>

<div class="visible-md visible-lg">
<%= render :layout => '/shared/invitation_form_template' do %>

  <%= form_for @user, url: enter_password_users_in_store_onboarding_path(@user), html: { class: "reefer-login" }, method: :put do |f| %>


    <div class="black-notice">Create and confirm a password. </div>

    <div class="form-group">
      <%= f.password_field :password, placeholder:"Enter Password", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, placeholder:"Confirm Password", class:"form-control" %>
    </div>

    <div class="form-group action-row">
      <%= f.submit "GO", class: "btn btn-black-circle" %>
    </div>

  <% end %>

<% end %>
</div>

<script>

$(document).ready(function() {
  var password_1, password_2, checked;

  $(".enter-code-cb input").on('change', function(){
    checked = $(this).prop("checked");
    $(".enter-code-cb input").prop("checked", checked);
    checkPassword(checked, password_1, password_2);
  });

  $('.input-password').on('input', function(e) {
    password_1 = e.currentTarget.value;
    checkPassword(checked, password_1, password_2);
  });

  $('.input-confirmation').on('input', function(e) {
    password_2 = e.currentTarget.value;
    checkPassword(checked, password_1, password_2);
  });

  function checkPassword(checked, password_1, password_2) {
    if (checked){
      if (password_1 && password_2 && password_1.length > 5 && password_1 == password_2) {
        $('.btn-mask').removeAttr("disabled").removeClass('btn-black-circle').addClass('btn-black');
      } else {
        $('.btn-mask').attr("disabled", true).removeClass('btn-black').addClass('btn-black-circle');
      }
    }else{
      $('.btn-mask').attr("disabled", true).removeClass('btn-black').addClass('btn-black-circle');
    }
  }

});
</script>
