<%
  user = current_user
%>

<script type="text/javascript">
  <% if user.facebook_connected? %>
    $(document).ready(function(){
    $(".fb-unlink").show();
    $(".fb-connect").hide();});
  <% else %>
    $(document).ready(function(){
    $(".fb-unlink").hide();
    $(".fb-connect").show();});
  <% end %>

  $('#dropdown-desktop-settings').on('show.bs.dropdown', function () {
    $.ajax({
      method:"GET",
      url: "<%= fb_connected_users_settings_path %>"
    }).done(function(resp){
      if(resp.fb_connect){
        $(".fb-unlink").show();
        $(".fb-connect").hide();
      }
      else{
       $(".fb-unlink").hide();
       $(".fb-connect").show();
      }
    })
  })

  function fbDisconnect(){
    $.ajax({
      method: "GET",
      url: "<%= fb_disconnect_users_settings_path %>",
    }).done(function(resp){
      document.location.reload(true);
    })
  }

  //switchery
  $(document).ready(function(){
    var elem = document.querySelector('.js-switch:last-child');
    var init = new Switchery(elem, {size: "small"});
  });

</script>


<script type="text/javascript">
  function changeToPasswordPage(){
    $(".user-settings-basic-page").hide();
    $(".user-settings-password-page").show();
  }

  function changeToBasicPage(){
    $(".user-settings-basic-page").show();
    $(".user-settings-password-page").hide();
  }

</script>


<div class="reefer-panel-settings">
  <div class="panel-header hidden-xs">Account</div>
  <ul class="user-settings-basic-page">

    <!-- profile photo -->
    <li>
      <div class="container-fit">

        <div class="row">
          <div class="col-md-12 text-center"  >
            <%= image_tag user.main_picture, class:"img-circle profile-pic" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <%= form_for user, url: upload_avatar_users_setting_path(user), method: :put,  html: { multipart: true, class:"form-edit-pic"} do |f| %>
              <%= f.file_field :avatar, style:"display:none;", onchange:"this.form.submit();" %>
              <label for="user_avatar">EDIT PHOTO</label>
              <%= f.submit "Upload", style:"display:none;" %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center profile-name">
            <%= user.name %>
          </div>
        </div>

        <!-- FB connect -->
        <div class="row fb-connect" style="display:none;">
          <div class="col-md-12 text-center">
            <button class="settings-fb-connect-btn" onclick="fbLoginSettings();">Connect Facebook</button>
          </div>
        </div>

      </div>

    </li>

    <!-- unlink fb -->
    <div class="fb-unlink" style="display:none;">
      <li class="profile-item-form" onclick="fbDisconnect()">
        <div class="container-fit">
          <div class="row form-group auto-accept-friends">
            <div class="col-xs-12">
              Unlink facebook account
            </div>
          </div>
        </div>
      </li>
    </div>

    <!-- auto accept facebook friends -->
    <%= form_for user, url: users_setting_path(user), remote: true do |f| %>
      <li class="profile-item-form">
        <div class="container-fit">

          <div class="row form-group auto-accept-friends">
            <div class="col-md-9 col-xs-9">
              Auto-accept Facebook friends
            </div>
            <div class="col-md-3 col-xs-3 text-right">
              <%= f.check_box :auto_accept_fb_friends, class:"js-switch", onchange:"$(this).submit();" %>
            </div>
          </div>

        </div>
      </li>
    <% end %>

    <%= form_for user, url: users_setting_path(user) do |f| %>
      <%= f.hidden_field :is_mobile, value: browser.device.mobile? %>

      <!--user edit fields -->
      <li class="profile-item-form">
        <div class="container-fit">

          <div class="row form-group">
            <div class="col-md-9 col-xs-9">
              <%= f.text_field :phone_number, class:"form-control profile-input profile-input-email", readonly: true %>
            </div>
            <div class="col-md-3 col-xs-3">
              <%= f.submit "Save", class:"profile-link-edit link-save-phone-number", id:"link-save-phone-number", style:"display:none;" %>
              <span class="profile-link-edit link-edit-phone-number" onclick="enableInput('link-save-phone-number')" id="link-edit-phone-number">Edit</span>
            </div>
          </div>
        </div>
      </li>

      <li class="profile-item-form">
        <div class="container-fit">

          <div class="row form-group">
            <div class="col-md-9 col-xs-9">
              <%= f.text_field :name, class:"form-control profile-input profile-input-name", readonly: true %>
            </div>
            <div class="col-md-3 col-xs-3">
              <%= f.submit "Save", class:"profile-link-edit link-save-name", id:"link-save-name", style:"display:none;" %>
              <span class="profile-link-edit link-edit-name" onclick="enableInput('link-save-name')" id="link-edit-name">Edit</span>
            </div>
          </div>

        </div>
      </li>
    <% end %>

    <!-- change password -->
    <li class="profile-item">
      <div class="container-fit">
        <div class="row form-group">
          <div class="col-xs-12">
            <div class="profile-change-password" onclick="changeToPasswordPage()">
              Change Password
              <a href="#", class="pull-right" >
                <i class="material-icons">keyboard_arrow_right</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>


    <!--log out-->
    <li>
      <div class="text-center">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-black-circle", onclick:"FB.logout();" %>
      </div>
    </li>
  </ul>

  <div class="user-settings-password-page" style="display:none;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center user-password-change-text" onclick="changeToBasicPage()">
          <i class="material-icons icon-back">keyboard_arrow_left</i> Change Password
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-cetner">
          <%= form_for(current_user, url: user_registration_path, html: { method: :put }) do |f| %>

            <div class="form-group">
              <%= f.password_field :current_password, autocomplete: "off", class:"form-control user-password-change-input", placeholder:"Enter Current Password" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class:"form-control user-password-change-input", placeholder:"Enter New Password" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control user-password-change-input", placeholder:"Confirm New Password" %>
            </div>

            <div class="form-group text-center">
              <%= f.submit "Submit", class:"btn btn-black-circle" %>
            </div>


          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    var options = {};
    jQuery(".profile-input-email").mask('(000) 000-0000', options);
  })

  function enableInput(id){
    //console.log("enableInput", id);

    if(id=="link-save-phone-number"){
      $(".link-edit-phone-number").hide();
      $(".link-save-phone-number").show();
      $(".profile-input-email").attr("readonly",false);
      $(".profile-input-email").focus();
    }
    else if(id=="link-save-name"){
      $(".link-edit-name").hide();
      $(".link-save-name").show();
      $(".profile-input-name").attr("readonly",false);
      $(".profile-input-name").focus();
    }

  }
</script>
