<div class="crop-photo">
  <div class="contianer-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="cropPhoto"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a class="crop-link-cancel pull-left" id="ccancel">Cancel</a>
      </div>
      <div class="col-md-6">
        <a id="ccc" class="crop-link-submit pull-right">Make Profile Picture</a>
      </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function(){

var screenWidth = window.innerWidth;

var basic = $('#cropPhoto').croppie({
    url: '<%= image_url @user.avatar.url(:medium) %>',
    viewport: {width: 240, height: 240, type: 'circle'},
    boundary: {width: 300, height: 420},
    showZoomer: false
});

$('#ccancel').on('click', function(){
  var md = new MobileDetect(window.navigator.userAgent);
  if(md.mobile()){
    window.location.href = "<%= users_settings_path %>";
  } else{
    window.location.href = "<%= my_clubs_users_home_index_path %>";
  }
})

$('#ccc').on('click', function(){
  //console.log("click trigger");

  basic.croppie('result', {type:'html', size:'viewport'}).then(function(resp){
    var ratio = <%= @user.avatar_geometry(:original).width %> / <%= @user.avatar_geometry(:medium).width %>;

    var resp_html = $(resp);
    var w = resp_html.css("width");
    var h = resp_html.css("height");
    var x = resp_html.find("img").css("left");
    var y = resp_html.find("img").css("top");

    w = parseInt(w.replace("px",""));
    h = parseInt(h.replace("px",""));
    x = parseInt(x.replace("px",""));
    y = parseInt(y.replace("px",""));

    $("#crop_x").val(Math.round(ratio* x *-1));
    $("#crop_y").val(Math.round(ratio* y *-1));
    $("#crop_h").val(Math.round(ratio* h));
    $("#crop_w").val(Math.round(ratio* w));

    $("#image-form").submit();
  });
});

})

</script>

<%= form_for @user, url: update_cropped_avatar_users_setting_path(@user), html: { multipart: true, method: :put, id: 'image-form' } do |f| %>
  <%= f.hidden_field :is_mobile, value: browser.device.mobile?.to_s %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
  <%= f.hidden_field attribute, id: attribute %>
  <% end %>
<% end %>


