<%= form_for @user, url: upload_avatar_users_setting_path(current_user), html: { multipart: true, method: :put, id: 'image-form' } do |form| %>

<div id="cropPhoto"></div>

<%= form.hidden_field :avatar, id: 'avatar' %>
<button id="upload" class="btn btn-default">submit</button>
<% end %>

<script>
var picture = document.getElementById("cropPhoto");

var vanilla = new Croppie(picture, {
  viewport: { width: 100, height: 100, type: 'circle' },
  boundary: { width: 300, height: 300 },
  showZoomer: false,
  enableOrientation: true
});

vanilla.bind({
  url: '<%= @user.avatar.url(:medium) %>'
});
$('#upload').click( function(e){
  e.preventDefault();
  vanilla.result().then(function(base64Image) {
    console.log(base64Image);
    $('#avatar').val(base64Image);
    // $('#image-form').submit();
  });
});
</script>
