<% if @fb_status %>

  <% if params[:settings] %>
    document.location.reload();
  <% else %>

  <% if @mobile %>
    findFriendsMobile();

    <% if @reward_ten_points %>
      $(".mobile-friends-general-message").text("You just got 10 pts!");
    <% end %>

    $(".notice-and-message-row").show();

  <% else %>
    findFriends();
  <% end %>

  <% end %>


<% else %>
  document.location.reload();
<% end %>
