<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main pzero center_div_con">
     <p style="padding: 53px;">
            Text Message Feature: <span style="color: red;">Inactive</span>
      </p>
    <div class="center_block">
        <div class="center_block_left">
            <span class="icorn-circle">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </span>
            <p class="lg">
                Welcome to Smart SMS
            </p>
            <p class="sm">
                Send customized text deals and inform patients of new product offerings to increase daily foot traffic.
            </p>
            <br>
            <p class="md">
                The Numbers Donʼt Lie
            </p>
            <p class="sm">
                98% of Text Messages Are Opened Up to 24% Increase in Revenue
            </p>
        </div>
        <div class="center_block_right">
            <p class="lg">
                Interested in Smart SMS?
            </p>
            <p class="sm">
                Click the botton below and a Reefer representative will reach out shortly.
            </p>
            <a href="#" class="btn btn-sm btn-fixed-width btn-lightblue" id="accept_offer">I'm Interested</a>
        </div>
    </div>
</div>
<!-- Modal Alert 1 -->
<div id="alert-confirm" class="modal blue modal-md no-padding fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-alert model-centr">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-body blue">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<span class="alert-icon">
			    <%= image_tag("ph.png") %>
			</span>
			<p class="md">Please Confirm Your SMS Message</p>
		  </div>
		  <div class="modal-footer">
				<div class="row">
					<div class="col-xs-6 col-sm-4 col-sm-offset-2 align-center">
						<button type="button" class="btn btn-sm btn-fixed-width btn-default" data-dismiss="modal">No</button>
					</div>
					<div class="col-xs-6 col-sm-4 align-center">
						<button type="button" class="btn btn-sm send_sms_btn btn-fixed-width btn-success">Send</button>
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>
<!-- Modal Alert 2 -->
<div id="alert-Success" class="modal modal-md blue no-padding fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-alert model-centr">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-body blue">

			<button type="button" class="close" data-dismiss="modal">&times;</button>

			<span class="alert-icon">
				<%= image_tag("en.png") %>
			</span>
			<p class="lg">Thank you, we will reach out shortly</p>
		  </div>
		</div>
	</div>
</div>
<script>
$(document).on("click",'#accept_offer',function(){
    $.ajax({
      method:"POST",
      data: {message: "smart-sms-request"},
      async: false,
      url: "/dispensaries/activate-sms"
        }).done(function(resp){
          console.log(resp)
          $("#alert-Success").modal('show');
          setTimeout(function(){ $("#alert-Success").modal('hide'); }, 3000);


    })

})
</script>