<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main pzero">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 actinact-msg-title prlzero">
          <p>
            Text Message Feature: <span>Active</span>
          </p>
        </div>

      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 messenger-container">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 messenger-container-contents">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row sms-title-ratio">

              <% @remaining_text = current_dispensary.dispensary_text.remaining_text.nil? ? 0 : current_dispensary.dispensary_text.remaining_text %>
              <% @send_sms = current_dispensary.dispensary_text.send_sms_count.nil? ? 0 : current_dispensary.dispensary_text.send_sms_count %>
              <% @remaining_sms = @send_sms+@remaining_text %>
              <h3><span class="send_sms_count"><%= current_dispensary.dispensary_text.send_sms_count.nil? ? '0' : current_dispensary.dispensary_text.send_sms_count %></span> / <%= @remaining_sms  %></h3>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
              <div class="progress">
                <span class="lable progress_lable"><%= current_dispensary.dispensary_text.sms_average_count %>%</span>
                <div class="progress">
                  <div class="progress-bar strip-on-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_dispensary.dispensary_text.sms_average_count %>%;">
                  </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sms-title">
              <h3>Message</h3>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 messenger-fields">
                <form>
                  <label>Message ( <span class="text_limit_index">0</span> /140)</label>
                  <textarea type="text" name="firstname" class="form-group messenger-textarea text_limit" placeholder="" <%= current_dispensary.is_message_left %>></textarea>
                </form>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 messenger-fields">
                <form>
                  <label>Phone Number</label>
                  <input type="text" name="phone" class="form-group messenger-input" placeholder="<%= current_dispensary.phone_number %>" disabled>
                </form>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="sms-button send_sms_confirm hvr-grow-shadow send_btn" disabled>Send</button>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 campaign-box">
                <h6>Campaign Size</h6>
                <h3><%= current_dispensary.get_patients_count %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Alert 1 -->
<div id="alert-confirm" class="modal blue modal-md no-padding fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-alert model-centr">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-body blue">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<span class="alert-icon">
			    <%= image_tag("ph.png") %>
			</span>
			<p class="md">Please Confirm Your SMS Message</p>
		  </div>
		  <div class="modal-footer">
				<div class="row">
					<div class="col-xs-6 col-sm-4 col-sm-offset-2 align-center">
						<button type="button" class="btn btn-sm btn-fixed-width btn-default" data-dismiss="modal">No</button>
					</div>
					<div class="col-xs-6 col-sm-4 align-center">
						<button type="button" class="btn btn-sm send_sms_btn btn-fixed-width btn-success">Send</button>
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>
<!-- Modal Alert 2 -->
<div id="alert-Success" class="modal modal-md blue no-padding fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-alert model-centr">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-body blue">

			<button type="button" class="close" data-dismiss="modal">&times;</button>

			<span class="alert-icon">
				<%= image_tag("en.png") %>
			</span>
			<p class="lg alert-text">Your sms has been sent successfully</p>
		  </div>
		</div>
	</div>
</div>
<!-- Modal Alert 3 -->
<div id="alert-Error" class="modal modal-md blue no-padding fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-alert model-centr">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-body blue">

			<button type="button" class="close" data-dismiss="modal">&times;</button>

			<span class="alert-icon">
				<%= image_tag("en.png") %>
			</span>
			<p class="lg">Sorry ! You sms service is unavailable now.</p>
		  </div>
		</div>
	</div>
</div>

<script>
$(document).on("click",'.send_sms_confirm',function(){
    if($(".text_limit").val().length > 140){
        $(".alert-text").html("Sorry! your text limit is more than 140")
        $("#alert-Success").modal('show');
    }
    else{
        $("#alert-confirm").modal('show');
    }
    console.log()
})
$(document).on("click",'.send_sms_btn',function(){
    $.ajax({
      method:"POST",
      data: {message: $(".text_limit").val()},
      async: false,
      url: "/dispensaries/smart-sms"
        }).done(function(resp){
          $("#alert-confirm").modal('hide');
          if(resp.status == true){
              $(".progress_lable").html(resp.difference+"%");
              $(".send_sms_count").html(resp.send_sms);
              $(".progress-bar").css("width",resp.difference+"%");
              $(".alert-text").html("Your sms has been sent successfully");
              $(".text_limit").val('');
              $("#alert-Success").modal('show');
              setTimeout(function(){ $("#alert-Success").modal('hide'); }, 3000);
          }
          else{
            $("#alert-Error").modal('show');
            setTimeout(function(){ $("#alert-Error").modal('hide'); }, 3000);
          }


    })
})
$(document).ready(function($) {

    $(".text_limit").bind("input propertychange keypress", function(e){
        var val = $(this).val();
        var chars = val.length;
        var disabled;
        var left = 0
        if (chars > 0){
          // prevent adding more chars then maxlength (140)
          if ((140 - chars) <= 0){
            $('.text_limit_index').text(140)
            e.preventDefault();
            return false;
          }
          // calculate how much chars left
          $('.text_limit_index').text(chars)
          disabled = false;
        }
        else if(chars > 140){
          $(".send_btn").prop("disabled", true);
        }
        else{
          // if there is 0 chars, disabled send button and set chars lenght
          $('.text_limit_index').text(0)
          disabled = true;
        }
        $(".send_btn").prop("disabled", disabled);
    });
}); //end if ready(fn)
</script>