@media(min-width: 992px){
  .public-banner-dispensary{
    background-image: asset-url("dispensary_banner.png");
    background-size: cover;

    .subheader-title{
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      color: $color-white;
      opacity: .7;
    }

    .dispensary-input{
      opacity: 0.8;
      border-radius: 4px;
      background-color: $color-white;
      height: 45px;

      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: left;
      color: $color-black-two;
      text-align: center;



    }

    .join{
      height: 45px;
      border-radius: 40px;
      background-color: $color-apple;
      color: $color-white;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      width: 100%;
    }


  }
}

.public-banner-dispensary{

  .header-title{
    margin-top: 46px;
  }

  @media(max-width:991px){
    .dispensary-input{
      height: 40px;
      border-radius: 4px;
      background-color: $color-white-two;
      border: solid 1px $color-white-three;
      text-align:center;
    }
  }

  .watch-video-btn{
    max-width: 202px;
    border-radius: 40px;
    border: solid 1px $color-white;
    color: $color-white;
    background-color: transparent;
    padding: 10px 30px;

    &:focus{
      outline: none;
    }

    a{
      color: $color-white;
      text-decoration: none;
    }

    div{
      display: inline-block;
      margin: 1px;
      margin-left: 10px;
    }

  }

}

.row30space{
  margin-top: 30px;
}

.public-form-sign-up{
  margin-top: 50px;
  margin-bottom: 50px;

  @media(max-width:991px){
    .dispensary-input{
      margin-bottom: 10px;
    }
  }
}


.section-dispensary-title-h1{
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 5.5px;
  text-align: center;
  color: $color-black-two;
}

.your-dispensary-missing{
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $color-black-two;
}
@media(max-width: 991px){
  .your-dispensary-missing{
    font-size: 25px;
  }
}

.section-solution{
  margin-top: 100px;

  .solution-text{
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $color-black-two;
  }
  @media(max-width: 991px){
    .solution-text{
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      text-align: center;
      color: $color-black-two;
    }
  }

  .solution-media-list{
    margin-top: 60px;

    .media-heading{
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 2.4px;
      color: $color-black-two;
    }
    .media-body{
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: $color-black-two;
      max-width: 276px;
    }

  }

}

.section-dispensary-how-it-works{
  margin-top: 60px;

  .w-line{
    border:1px solid #dddddd;
    position: absolute;
    top: 35px;
    left: 10px;
    right: 10px;
  }

  .w-item{
    text-align: center;

    .image{
      height: 32px;
    }
    .image img{
      max-height: 32px;
    }

    .circle10{
      width: 10px;
      height: 10px;
      background-color: #51acf2;
      border-radius: 50%;
      display: inline-block;
      margin-top: 18px;
    }

    .text{
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 2px;
      text-align: center;
      color: #51acf2;
      margin-top: 20px;
    }
  }

  .w-step-row{
    margin-top: 60px;

    .w-step{
      .number{
        font-size: 50px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: $color-black-two;

      }
      .text{
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: $color-black-two;
      }
      @media(max-width: 991px){
        .text{
          font-size: 20px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          color: $color-black-two;
        }
      }
    }

  }

}

.circle232{
  width: 232px;
  height: 232px;
  border-radius: 50%;
  border: 4px solid #51acf2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  .title{
    margin-top: 5px;
    font-size: 80px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: $color-black-two;
  }

  .text{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    text-align: center;
    color: #656b6f;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.media-dispensary-solution{
  .media-heading{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: $color-black-two;
  }
  .media-body{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $color-black-two;
  }
}