@media(min-width: 992px){
  .public-banner-user{
    background-image: asset-url("home-header-image@3x.png");
    background-size: cover;
  }
}

.user-cta-header{
  margin-top: 38px;
}

.btn-black-submit{
  width: 216px;
  height: 45px;
  border-radius: 40px;
  border: solid 1px #080808;

  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;

  letter-spacing: 3px;
  text-align: center;
  color: #080808;

  background-color: transparent;
}