.public-banner-user{
  height: 549px;
  background-color: $color-apple;
}
.public-banner-dispensary{
  background-color: $color-soft-blue;

  .dispensary-join-list-thanks{
    min-height: 300px;
  }
}

.section-sign-up{
  background-color: $color-apple;

  h1{
    font-size: 22px;
    font-weight: 300;
    color: $color-white;
  }
}


.section-dispensary-ambasadors{

  h1{
    font-size: 28px;
    font-weight: 300;
    color: $color-black;
  }

  h2{
    font-size: 15px;
    font-weight: bold;
    color: $color-charcoal-grey-two;
  }

}


.section-dispensary-works{
  background-image: asset-url("logo_dispensary_bg");
  background-size: cover;

  .section-dispensary-results{
    margin-top: 70px;
  }

  .section-dispensary-questions{
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1199px) {
    .section-dispensary-questions{
      margin-top: 50px;
    }
  }

  .dispensary-questions-thank-you{
    margin-top: 90px;
    margin-bottom: 280px;
  }

}

.section-dispensary-sign-up{
  background-color: $color-soft-blue;

  h1{
    font-size: 22px;
    font-weight: 300;
    color: $color-white;
  }

  .reefer-input {
    margin-bottom: 10px;
  }

}



#page-counter {

  img {
    position: relative;
    border: 0 none;
    margin: 0 auto;
    padding: 0;
  }


  div {
   position: absolute;
   margin-top: auto;
   line-height: 250%;
   font-size: 150px;
   width: 53.6%;
   bottom: 26.3%;
   left: 22.9%;
   height: 67.5%;
   text-align: center;
   background-color: $color-apple;
   color: $color-white;
   font-weight: 300;
  }
}

@media screen and (max-width: 1199px) {
  #page-counter {
    div {
      left: 18%;
      width: 63.2%;
    }
  }
}

@media screen and (max-width: 992px) {
  #page-counter {
    div {
      line-height: 250%;
      font-size: 100px;
    }
  }
}

@media screen and (max-width: 560px) {
  #page-counter {
    div {
      line-height: 200%;
      font-size: 70px;
    }
  }
}

@media screen and (max-width: 350px) {
  #page-counter {
    div {
      font-size: 50px;
    }
  }
}


.dispensary-forgot-password-resend{


  .header{
    font-size: 18px;
    font-weight: 300;
    color: $color-white;
  }
  a{
    color: $color-white;
    font-size: 15px;
    font-weight: normal;

    &:hover, &:focus{
      color: $color-white;
    }
  }
}

@media(max-width: 456px){
  .public-banner-user{
    height: 600px;
  }
}


#prompt{
  z-index: 1000;
  position:fixed;
  bottom:0;
  height: 160px;
  width: 100%;

  .title{
    background-color: $color-dark-two;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    padding: 20px;

    span{
      float: right;
    }
  }

  .body{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: $color-dark-two;
    height: 100px;
    background-color: $color-white-two;
    padding-top: 18px;
    i{
      color: $color-apple;
    }
  }
}