.section-invitation{
  margin-top: 100px;

  .black-notice{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: $color-greyish-brown;
  }

  .header-notice{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: $color-greyish-brown-two;
  }

  .action-row{
    margin-top: 50px;
  }

  .form-group{
    .form-control{
      border-radius: 3px;
      background-color: $color-white;
      box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2);
      border: solid 1px $color-white-three;
      text-align: center;
      height: 40px;
    }
  }

  .invitation-phone-number{
    font-size: 20px;
    text-align: center;
    color: $color-dark-two;
    margin-top: 20px;
  }

  .invitation-options-links{
    margin-top: 20px;
    margin-bottom: 20px;

    a{
      color: $color-dark-two;

      &:hover, &:focus{
        color: $color-dark-two;
      }
    }

  }

}