.navbar-public-user{
  min-height: 60px;

  .sign-up-link{
    background-color: $color-white;
    color: $color-black;
    padding: 10px 40px;
    border-radius: 40px;

    &:hover, &:focus{
      background-color: $color-black;
      color: $color-white;
      box-shadow: none;
    }

  }

  @media (min-width: $size-phone){
    .navbar-nav > li{
      min-width: 80px;
    }

    .container-fluid{
      padding-left: 30px;
      padding-right: 30px;
    }
  }


  @media (max-width: $size-phone) {
  padding-bottom: 0px;

  .navbar-nav {
    margin: 0px -15px;
  }

  .sign-up-link {
    border-radius: 0;
  }
}


  .navbar-brand{
    padding:10px;
    height: 40px;
  }

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  background-color: $color-apple;
  border: none;

  li{
    a{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      color: $color-white;

      &:hover, &:focus{
        color: $color-white;
        background-color: transparent;
        font-weight: bold;
        box-shadow: inset 0 -1px 0 0 $color-white;
      }
      &::after{
        display:block;
        content:attr(title);
        font-weight:bold;
        height:1px;
        color:transparent;
        overflow:hidden;
        visibility:hidden;
        margin-bottom:-1px;
      }
    }

    &.active{
      a{
        color: $color-white;
        font-weight: bold;
        box-shadow: inset 0 -1px 0 0 $color-white;
      }
    }

  }
}


.navbar-public-dispensary{
  @extend .navbar-public-user;

  background-color: $color-soft-blue;

  @media (max-width: 767px){
    .navbar-nav > li {
      border-top: 1px solid $color-lightblue;
    }
  }
}


@media(max-width: 767px){
  .navbar-public-user{

      li{
        border-top: solid 1px $color-washed-out;
      }

  }
}