@import "shared/magic_panel";

.section-login{
  margin-top: 130px;
}
.checkbox-scaled{
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);

}
.onboarding-flow-user{

  .onboarding-code-links{
    list-style:none;
    margin: 0px;
    padding: 0px;
    li{
      display: inline-block;
      padding: 5px;
      margin-left: 5px;
      margin-right: 5px;

      a{
        color: $color-white;
      }
    }
  }

  .onboarding-phone-number{
    font-size: 20px;
    text-align: center;
    color: $color-white;
  }
  @media(max-width: 768px){
    .onboarding-phone-number{
      margin-top: 20px;
    }
  }

  .action-row{
    margin-top: 20px;
  }

}

.onboarding-enter-name{
  h2{
    font-size: 22px;
    margin: 0px;
    padding: 0px;
    color: $color-white;
  }
}

.onboarding-reset-msg{
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $color-white;

  .msg{
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .link{
    margin-bottom: 40px;
    a{
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      color: $color-white;
    }
  }

}

.section-dispensary-signup{
  margin-top: 130px;

  .reefer-panel-dispensary-sign-up{
    background-color: $color-dark-sky-blue;
    color: $color-white;
    margin-top: 30px;
    margin-bottom: 30px;

    form{
      padding: 15px;
    }

    .header{
      font-size: 20px;
      color: $color-white;
      font-weight: 300;
      margin: 10px 0px 40px;
    }

    .note{
      font-size: 11px;
      color: $color-white;
    }

  }
}



.section-login-mobile{
  margin-top: 60px;

  .login-mobile-header-user{
    background-color: $color-apple;
    border: solid 1px $color-white;
    a{
      color: $color-white;
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .login-mobile-header-dispensary{
    @extend .login-mobile-header-user;
    background-color: $color-dark-sky-blue-two;
  }

  .login-mobile-header-dispensary-active{
    @extend .login-mobile-header-user;
    background-color: $color-dark-sky-blue-two;
  }


  .login-mobile-content-row{
    margin-top: 20px;
  }

  .action-row{
    margin-top: 40px;
  }

}

.section-login-mobile-user{
  @extend .section-login-mobile;
  background-color: $color-apple;
}
.section-login-mobile-dispensary{
  @extend .section-login-mobile;
  background-color: $color-dark-sky-blue;

  .reefer-panel-login-dispensary{
    background-color: $color-dark-sky-blue;
  }

}

.link-white{
  color: $color-white;
  &:hover,&:focus{
    color: $color-white;
  }
}

@media(max-width: 991px){
  .onboarding-share-link{
    .get-free-gram{font-size: 15px; margin-top: 15px;}
  }
  .shared-link-bg{
    background-color: #fafafa !important;
    .reefer-panel-login-user{
      background-color: #fafafa;
    }
    .onboarding-users-only{
      img.bg-image{
        max-height: 70vh !important; 
        min-height: 400px !important;
      }
    }
  }
  .bg-display-for-user{
    margin: 0;
    background-color: $color-apple;
    .onboarding-users-only{
      img.bg-image{
        max-height: 50vh;
        min-height: 270px;
        width: 100%;
      }
      img.waves-reversed{
        width: 100%;
        margin-top: -64px;
      }
      .steps{
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        margin-top: 10vh;
        color: white;
        h2{
          font-size: 30px;
          font-weight: 300;
        }
        h4{
          font-size: 20px;
          font-weight: 600;
          max-width: 250px;
          margin: auto;
        }
        .step-navigation{
          margin-top: 40px;
          button{
            background-color: transparent; 
            height: 40px;
            color: white;
            width: 100px;
            font-size: 13px;
            font-weight: 300;
            &:active, &:focus{outline: none;}
            &.active{
              background-color: white;
              color: #080808;
            }
            @media(max-width: 374px){
              width: 100px;
              padding: 10px 5px;
            }
          }
        }
      }
    }
    .reefer-panel-login-user{
      label.main{
        margin: 30px 0;
        font-size: 20px;
        font-weight: normal;
      }
      label.main.with-help-block{margin-bottom: 0;}
      .help-block{
        font-size: 17px;
        font-weight: normal;
        color: white;margin-bottom: 20px;
      }
      .action-row{margin-top: 50px;}
      .checkbox{
        margin-bottom: 15px;
        width: 270px;
        margin: 0 auto;
        label{
          width: 100%;
          text-align: left; 
          font-size: 14px;
          font-weight: normal;
        }
      }
    }

  }
  .bg-display-for-dispensary{
    background-color: $color-dark-sky-blue;
  }
}