<%
  resource ||= @dispensary
  resource_name ||= resource.class.name.downcase
%>


<div class="reefer-panel-dispensary-sign-up form-585 div-center">

<%= form_for(resource, as: resource_name, url: register_dispensaries_sign_up_path(id: resource.magic_link)) do |f| %>


  <div class="row header">
    <div class="col-md-12 text-center">
      Dispensary Sign Up
    </div>
  </div>

  <div class="row">
    <!-- left side -->
    <div class="col-md-6">

      <div class="form-group-bigger">
        <%= f.email_field :email, placeholder:"Email Address", autofocus: true, class:"form-control reefer-input-left" %>
      </div>

      <div class="form-group-bigger">
        <%= f.password_field :password, autocomplete: "off", placeholder:"Create Password", class:"form-control reefer-input-left" %>
      </div>

      <div class="form-group-bigger">
        <%= f.password_field :password_confirmation, placeholder:"Confirm Password", autocomplete: "off", class:"form-control reefer-input-left" %>
      </div>

      <div class="form-group-bigger">
        <div class="note">Note: Password will be used by budtenders to sign in on the tablet.</div>
      </div>
    </div>

    <!-- right side -->
    <div class="col-md-6">

    <div class="form-group-bigger">
      <%= f.text_field :name, placeholder:"Dispensary Name", readonly:true, class:"form-control reefer-input-left" %>
    </div>

    <div class="form-group-bigger">
      <%= f.text_field :address, placeholder:"Dispensary Address", class:"form-control reefer-input-left" %>
    </div>

    <div class="form-group-bigger">
      <div class="row">
        <div class="col-md-8 form-group-small">
          <%= f.text_field :city, placeholder:"City", class:"form-control reefer-input-left" %>
        </div>

        <div class="col-md-4">
          <%= f.text_field :state, placeholder:"ST", class:"form-control reefer-input-left" %>
        </div>
      </div>
    </div>

    <div class="form-group-bigger">
      <%= f.text_field :zip_code, placeholder:"Zip Code", class:"form-control reefer-input-left" %>
    </div>

    <div class="form-group-bigger">
      <%= f.text_field :phone_number, placeholder:"Dispensary Phone Number", class:"form-control reefer-input-left" %>
    </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <%= f.submit "Sign up", class:"btn btn-black-circle" %>
    </div>
  </div>

<% end %>
</div>
