<div class="main pzero">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 prlzero">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pzero">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-edit-box pzero">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-edit-box-title">
                    <h4>Change Password</h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-top-90 prlzero">
                    <%= devise_error_messages! %>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 profile-edit-info">
                        <h6>Current Password</h6>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 profile-edit-info">
                        <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password" %>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-edit-info-seperator"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 profile-edit-info">
                        <h6>New Password</h6>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 profile-edit-info">
                        <%= f.password_field :password, autocomplete: "off", placeholder: "Current Password" %>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-edit-info-seperator"></div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 profile-edit-info">
                        <h6>Confirm New Password</h6>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 profile-edit-info">
                        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Current Password" %>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <%= f.submit "Save", class:"btn pei-button hvr-grow-shadow" %>
            </div>
        <% end %>
        </div>
    </div>
</div>