<div class="section-dispensary-signup">

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <%= image_tag "reefer-logo-green.png" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render "dispensaries/registrations/form" %>
    </div>
  </div>

</div>

</div>

<%= render "shared/footer", wave_name: "wave6" %>