.social-panel{
  margin-left: auto;
  margin-right: auto;

  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $color-black;
}

@media(min-width: 992px){
  .social-panel{
    max-width: 323px;
  }
}

@media(max-width: 991px){
  .social-panel{
    box-shadow: inset 0 -1px 0 0 $color-silver-three;
  }
}

.magic-panel{
  @extend .social-panel;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $color-black;
  padding-top: 10px;
  padding-bottom: 30px;

  .magic-text{
    background-color: $color-white;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid $color-white-three;
    min-height: 50px;
    word-break: break-all;
    padding: 14px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;

    a{
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: $color-black;


      &:hover, &:focus{
        color: $color-black;
      }
    }

  }

  .magic-text-link{
    border-radius: 20px;
    border: solid 1px $color-black;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: $color-dark;
    padding: 10px 30px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
  }

}
