<% if flash.present? %>
<div class="alert-row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |key, value| %>
          <%- if value != true %>
          <div class="alert <%= key=='alert' ? 'alert-app-red' : 'alert-app' %>">
            <div>
              <%= value %>
            </div>
          </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<% end %>