<% if flash.present? %>
<div class="container">
  <div class="row">
    <div class="col-md-12">

    <% flash.each do |key, value| %>
      <%- if value != true %>
      <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          <%= value %>
        </div>
      </div>
      <% end %>
    <% end %>

    </div>
  </div>
</div>

<%end%>
