<div class="section-footer">
  <% if wave_name.present? %>
    <%= render "shared/wave", wave_name: wave_name %>
    <style type="text/css">
      body{
        margin-bottom: 106px;
      }
      .section-footer{
        height: 106px;
      }
    </style>
  <% end %>

  <div class="container-fluid visible-md visible-lg">
    <div class="row">
      <!-- normal footer -->
      <div class="col-md-12 text-center ">

        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "For dispensary", dispensary_path %></li>
          <li><%= link_to "Blog", "https://medium.com/@reeferloyalty", target: "_blank" %></li>
          <li><%= link_to "Faq", welcome_faq_path %></li>
          <li><%= link_to "Contact us", welcome_contact_us_path %></li>
          <li><%= link_to "Privacy policy", welcome_privacy_policy_path %></li>
          <li class="copyright">©2016 REEFER</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid visible-xs visible-sm" style="background-color: #fafafa;">
    <div class="row">
      <!-- mobile footer -->
      <div class="col-md-12 mobile-footer">

          <div class="row">
            <div class="col-xs-6 text-left"><%= link_to "Home", root_path %></div>
            <div class="col-xs-6 text-right"><%= link_to "Contact us", welcome_contact_us_path %></div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-left "><%= link_to "For dispensary", dispensary_path %></div>
            <div class="col-xs-6 text-right "><%= link_to "Faq", welcome_faq_path %></div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-left"><%= link_to "Blog", "https://medium.com/@reeferloyalty", target: "_blank" %></div>
            <div class="col-xs-6 text-right"><%= link_to "Privacy Policy", welcome_privacy_policy_path %></div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center copyright">©2016 REEFER</div>
          </div>
      </div>
    </div>
  </div>

</div>
