<%
  mobile_detail ||= false
%>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_api_key}" %>
<%= javascript_include_tag "map" %>

<script type="text/javascript">

console.log("mobile_detail", <%= mobile_detail %>);

  $.Map = App;
  $.Map.places = <%= locations.to_json.html_safe%>;
  $.Map.mapElementId = 'map-canvas';

  <% if mobile_detail %>
    $.Map.zoomControl= false;
    $.Map.scaleControl= false;
    $.Map.scrollwheel= false;
    $.Map.disableDoubleClickZoom= true;
    $.Map.draggable= false;
    $.Map.mobile_detail = true;
  <% end %>

  google.maps.event.addDomListener(window, 'load', $.Map.initialize)

  /*$(window).resize(function(){
    $.Map.resizeMap($('.user-dispensary-left-panel'))
  });

  $(document).ready(function(){
     $.Map.resizeMap($('.user-dispensary-left-panel'))
  });*/

  var map = $.Map;

  $('.user-dispensary-tab').click(function(event) {
    tab_element = event.target.closest('.user-dispensary-tab');
    $.Map.findAndMoveToMarkerCarosell(tab_element.id.split('-').pop());
  });

  $('#dispensaryCarousel').on('slid.bs.carousel', function () {
    tab_element = $('.carousel-inner .active .user-dispensary-tab');
    $.Map.findAndMoveToMarkerCarosell(tab_element.attr("id").split('-').pop());
  });
</script>

<div id="map-canvas"></div>
