<div class="section-invitation">

  <div class="container">

    <!-- logo -->
    <div class="row">
      <div class="col-md-12 text-center">
        <%= image_tag "reefer-logo-green.png" %>
      </div>
    </div>

    <br>

    <!-- form -->
    <div class="row">
      <div class="col-md-12 text-center">

        <div class="row">
          <div class="col-md-12 ">
            <div class="form-350 div-center ">
              <%= yield %>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>


