<%
  display_for_user = @navbar_for == "user" || @navbar_for.nil? ? true : false
  @navbar_for = display_for_user ? "user" : "dispensary"
  
%>
<% if  current_user %>
	<% @reward_point = current_user.last_visited_dispensary_or_random_point %>
<% else %>
	<% @reward_point = 'Free Reward'%>
<% end %>

<script type="text/javascript">
  $("body").addClass("bg-display-for-<%= @navbar_for %>");
</script>

<!--mobile visible -->
<% if display_for_user %>
  <div class="onboarding-users-only text-center visible-xs visible-sm">
    <div class="header-content">
      <%= image_tag 'bg-image@2x.jpg', class: 'bg-image' %>
      <% if !users_share_link_page? %>
        <%= image_tag 'green-waves-reversed.png', class: 'waves-reversed' %>
      <% end %>
      <div class="steps text-center">
        <%= image_tag 'reefer-logo@3x.png'  %>
        <div class="container-fluid">
          <% if enter_phone_nr_page? or users_sessions_edit_page? %>
            <h2>Welcome to Reefer!</h2>
            <% if enter_phone_nr_page? %>
              <h4>Complete your account for a free gram!</h4>
            <% end %>
          <% elsif users_signup_proccess? %>
            <div class="row">
              <div class="col-xs-12">
                <div class="btn-group step-navigation" role="group">
                  <button type="button" class="btn btn-default active">1. Verify</button>
                  <button type="button" class="btn btn-default <%= step_2_signup_proccess_active? ? 'active' : '' %>">2. Account</button>
                  <% if users_share_link_page? %>
                      <button type="button" class="btn btn-default <%= users_share_link_page? ? 'active' : '' %>">3. <%= current_user.last_visited_dispensary_or_random_point %></button>
                  <% else %>
                      <button type="button" class="btn btn-default <%= users_share_link_page? ? 'active' : '' %>">3. Free Reward</button>
                  <% end %>
                </div>
              </div>
            </div>
            <% if users_share_link_page? %>
              <div class="row">
                <div class="col-xs-12">
                  <h2>Refer Friends!</h2>
                  <h4>Earn a <%= current_user.last_visited_dispensary_or_random_point %> for every friend you refer!</h4>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="panel reefer-panel-login-<%= @navbar_for || 'user' %> form-615 div-center ">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="section-login-mobile-<%= @navbar_for %> visible-xs visible-sm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 text-center login-mobile-header-user">
          <%= link_to "Log In/Sign Up", enter_phone_nr_users_onboardings_path %>
        </div>
        <div class="col-xs-6 text-center login-mobile-header-dispensary-active">
          <%= link_to "Dispensary Login", new_dispensary_session_path %>
        </div>
      </div>
      <div class="row login-mobile-content-row">
        <div class="col-xs-12 text-center">
          <div class="panel reefer-panel-login-<%= @navbar_for || 'user' %> form-615 div-center ">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- mobile footer -->
<% if !display_for_user %>
  <div class="visible-xs visible-sm">
    <%= render "shared/footer", wave_name: "#{display_for_user ? 'wave5reverse' : 'wave6reverse'}" %>
  </div>
<% end %>

<!-- desktop view -->
<div class="section-login visible-md visible-lg">

  <div class="container">
    <!-- logo -->
    <div class="row ">
      <div class="col-md-12 text-center">
        <%= image_tag "reefer-logo-green.png" %>
      </div>
    </div>

    <br>

    <!-- form -->
    <div class="row">
      <div class="col-md-12 text-center">

        <div class="row">
          <div class="col-md-12 ">
            <div class="form-615 div-center">

              <div class="row reefer-login-headers-<%= @navbar_for || 'user' %>">
                <div class="col-md-6 text-left">
                  <%= link_to "Log In/Sign Up", enter_phone_nr_users_onboardings_path %>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to "Dispensary Login", new_dispensary_session_path %>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 ">
            <div class="panel reefer-panel-login-<%= @navbar_for || 'user' %> form-615 div-center ">
              <%= yield %>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

<!-- coresponding footer for desktop -->
<div class="visible-lg visible-md">
  <%= render "shared/footer", wave_name: "#{display_for_user ? 'wave7' : 'wave8'}" %>
</div>
