<script>
$(document).ready(function(){
  if (("standalone" in window.navigator) && !window.navigator.standalone) {
    $("#prompt").show();
  } else {
    $("#prompt").hide();
  }
})
</script>

<div id="prompt">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="title">Save Reefer to your home screen! <span onclick="$('#prompt').remove();">X</span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="body">
        Tap the icon and choose<br>
        "Add to Home Screen"<br>
        <i class="material-icons">arrow_downward</i>
      </div>
    </div>
  </div>
</div>