<div class="section-logo-bg">

  <div class="container">
    <%= render "public_how_it_works" %>
    <%= render "public_earn_points" %>

    <!-- TODO: spacer -->
    <div style="height: 200px"></div>
  </div>

  <div class="container-fluid">
    <div class="row wave2">
    </div>
  </div>

  <%= render "public_sign_up" %>

  <%= render "shared/footer", wave_name: nil %>

</div>
