
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="section-title-h1">How it works</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <hr class="hr-green-line">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12 text-center public-video-player">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4uQ5P40tq-M" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

