<div class="section-sign-up">

  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Start earning points today. It’s easy, and free.</h1>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <%= render "users/shared/sign_up_cta", footer: true %>
      </div>
    </div>

    <br>

  </div>

</div>