<div class="public-banner-user">
  <div class="container">

    <div class="row header-row-first">
      <div class="col-md-12 text-center">
          <%=image_tag "reefer-logo-text.svg" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="header-title">Earn Free Cannabis. With Friends.</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="subheader-title-big">Join the viral loyalty and referral <br/>network for cannabis</div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <%= render "users/shared/sign_up_cta" %>
      </div>
    </div>

  </div>
</div>
