<div class="row">
  <div class="col-md-12 text-center">
     <h1 class="section-title-h1">Earn points whenever your friends do</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <hr class="hr-green-line">
  </div>
</div>

<br>


<div class="row">
  <div class="col-md-4 col-sm-12 text-center">
    <div class="panel reefer-panel reefer-panel-slim">
      <div class="panel-body">

        <div class="circle bg-color-apple">
          <%= image_tag "people-simple-line-icons.png", style:"position: relative; top: 45px;" %>
        </div>
        <hr class="hr-black-line">
        Refer friends to dispensaries
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 text-center">
    <div class="panel reefer-panel-second reefer-panel-slim">
      <div class="panel-body">

        <div class="circle bg-color-soft-blue">
          <%= image_tag "group.png", style:"position: relative; top: 45px;" %>
        </div>
        <hr class="hr-black-line">
        Visit the same dispensaries as your friends
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 text-center">
    <div class="panel reefer-panel reefer-panel-slim">
      <div class="panel-body">

        <div class="circle bg-color-apple">
          <%= image_tag "noun-136999.png", style:"position: relative; top: 45px;" %>
        </div>
        <hr class="hr-black-line">
        Earn free weed at your favorite dispensaries
      </div>
    </div>
  </div>

</div>
