<div class="row">
  <div class="col-md-12 text-center">

    <div class="panel reefer-panel-default form-615 div-center">
      <%= form_tag welcome_lets_talk_path, method: :post, style:"padding:15px;" do %>
        <%= text_field_tag :email, nil, placeholder:"Enter e-mail", class:"form-control reefer-input", style:"text-align:left" %>
        <br>
        <%= text_area_tag :message, nil, placeholder:"Your message including your name...", class:"form-control reefer-input", style:"overflow-x: auto;text-align:left", rows:"8" %>
        <br>
        <button class="btn btn-black-circle">SEND</button>
      <% end %>
    </div>

  </div>
</div>

