<div class="old-green-navbar">
  <% navbar_for ||= "user" %>

  <!--navbar -->
  <nav class="navbar navbar-public-<%=navbar_for%> navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class:"navbar-brand" do %>
          <%= image_tag("reefer-logo.svg") %>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="<%= top_navbar_link_active('welcome_dispensary', 'index') %>"><%=link_to "FOR DISPENSARIES", dispensary_path, title:"FOR DISPENSARIES" %></li>
          <li class="<%= top_navbar_link_active('welcome', 'blog') %>"><%=link_to "BLOG", "https://medium.com/@reeferloyalty", title:"BLOG", target:"_blank" %></li>
          <li class="<%= top_navbar_link_active('welcome', 'faq') %>"><%=link_to "FAQ", welcome_faq_path, title:"FAQ" %></li>
          <li class="<%= top_navbar_link_active('welcome', 'contact_us') %>"><%=link_to "CONTACT US", welcome_contact_us_path, title:"CONTACT US" %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "LOGIN", enter_phone_nr_users_onboardings_path %></li>
          <li class="navbar-button-link "><%= link_to "SIGN UP", enter_phone_nr_users_onboardings_path, class: "sign-up-link" %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
