<div class="section-contact-us">

  <div class="container" >

    <div class="row">
      <div class="col-md-12 text-center">
        <%= image_tag "reefer-logo-green.png" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="big-h1">Let's Talk.</h1>
      </div>
    </div>

    <br>

    <%= render "question_form" %>

  </div>

</div>

<%= render "shared/footer", wave_name: "wave7" %>
