<div class="section-faq">

<div class="container">

  <div class="row">
    <div class="col-md-12 text-center">
      <%= image_tag "reefer-logo-green.png" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h1>FAQ</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="subheader-title-black">We’ve got answers.</div>
    </div>
  </div>

  <br>

  <div class="row">

    <% @faqs.each do |faq| %>
      <div class="col-md-6">
       <div class="panel reefer-panel-default">
          <div class="panel-body">
          <h1><%= faq.title %></h1>
          <div class="content">
            <%= faq.content %>
          </div>
          </div>
        </div>
      </div>
   <% end %>

  </div>
</div>

</div>


<div class="section-question">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="section-title-h1">Don’t see your Question?</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <hr class="hr-green-line">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="subheader-title-black">Contact us and we’ll try to answer your question<br>as soon as possible.</div>
      </div>
    </div>

    <br>

    <%= render "question_form" %>

  </div>
</div>

<%= render "shared/footer", wave_name: "wave7" %>
