<%= render "public_banner_user" %>

<div class="container-fluid">
  <div class="row wave1">
  </div>
</div>

<%= render "public_works_and_points" %>

<% content_for :prompt do %>
  <%= render "shared/prompt" %>
<% end %>

