<div class="section-lets-talk">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <%= image_tag "reefer-logo-green.png" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="big-h1">Let's Talk.</h1>
      </div>
    </div>

    <div class="row thank-you" style="height: 43vh;">
      <div class="col-md-12 text-center">
        <h2 class="section-title-h1">Thank you. We will get back to you as soon as <br>possible.</h2>
      </div>
    </div>



  </div>
</div>

<%= render "shared/footer", wave_name: "wave7" %>
