<div class="section-privacy-policy">

  <div class="container" >

    <div class="row">
      <div class="col-md-12 text-center">
        <%= image_tag "reefer-logo-green.png" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="big-h1">Privacy Policy</h1>
      </div>
    </div>

    <br>

  </div>

  <div class="section-tabs">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>PLEASE READ THIS PRIVACY POLICY AND THE RELATED TERMS OF SERVICE CAREFULLY BEFORE USING THIS SITE.</h1>
              <div class="content">This “Site” (as defined herein) is operated by Reefer LLC on its own behalf or in combination with one of its affiliates (collectively referred to herein, solely for ease of reference, as “Reefer”, “us” or “we”). This privacy policy (“Privacy Policy”) applies to your use of our website located at http://reeferloyalty.com and any other online and mobile websites, blogs and interactive applications operated by Reefer that are related to http://reeferloyalty.com (collectively, the “Site”) (unless a different policy is provided on a particular site or application, in which case such different policy shall govern and control). This Privacy Policy discloses what type of information is collected, the methods used to collect it, how Reefer utilizes the information to better serve all interested parties and the choices you have about the way your information is collected and used. Please read this Privacy Policy carefully. Your use of the Site indicates that you have read, accepted and unconditionally agreed to the Reefer privacy practices, as outlined in this Privacy Policy and any other applicable terms. The Terms of Service for this Site, located at http://reeferloyalty.com are incorporated herein by this reference. For purposes of this Privacy Policy, personally identifiable information (“PII”) is personal information about an individual, such as a first and last name, phone number or email address or other individually identifiable information within the meaning of the Federal Trade Commission’s Online Privacy Protection Rule found at 16 CFR 312.2. Every user hereby agrees that all information you provide, including but not limited to age, shall be truthful and correct.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Information We Collect </h1>
              <div class="content">Reefer strives to provide our visitors with information relevant to their particular desires, needs and/or interests. The information we gather helps us to better serve our purpose. We may ask you to provide us with demographic information, information regarding your interests or other PII. Providing us with PII about yourself is voluntary, and you can always choose not to provide certain information, but then you may not be able to take advantage of or participate in some of the Site’s features. Reefer actively and passively gathers, analyzes and/or stores PII and other information generally by way of three different sources: (1) the PII voluntarily submitted by visitors when using or registering to use or receive our services or offers; and (2) by tracking and analyzing online and mobile data and activity through mechanisms that identify site usage, user location, device type, browser types, IP addresses, and other data. We do not collect PII through advertisements on our Site and the PII we collect is not shared with third parties except as set forth herein. We will make reasonable efforts to destroy, erase or make anonymous any PII that is no longer required to fulfill the original purpose for which it was originally collected. </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Usage Information </h1>
              <div class="content">When your computer or mobile device contacts our web servers (for example, when you visit this Site, or view an HTML e-mail), our web servers automatically collect usage information. Such usage information includes information about how our visitors use and navigate our Site. It can include the number and frequency of visitors to each web page and the length of their stays, browser type, location, device type, referrer data that identifies the web page visited prior and subsequent to visiting our Site, and IP addresses (see below for more information on IP addresses). We also may determine the applicable technology available in order to serve you the most appropriate version of a web page, e-mail, advertising or promotional announcement or similar service. This information is used to analyze and improve this Site and to provide you with a more fulfilling and relevant experience.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Browser Cookies </h1>
              <div class="content">Like many websites, we may use browser “cookies”. Cookies are a website’s way of remembering who you are. A cookie is a small text file that is stored on your computer’s hard drive or stored temporarily in your computer’s memory. There are two kinds of cookies: those that are “session” oriented and those that are “persistent”. Session cookies delete from your computer when you close your browser. Persistent cookies retain information for later use tomorrow, next week, next month, or whenever they are set to expire. We use cookies to help us to identify account holders and to optimize their experience on our Site. Also, we will use cookies to monitor and maintain information about your use of this Site. Most web browsers accept cookies automatically. You can delete cookies manually or set your browser to automatically delete cookies on a pre-determined schedule. For example, in the Internet Explorer menu bar, select: Tools àInternet OptionsàBrowsing HistoryàDelete to view manual and automatic options. If you decline to accept cookies, you may not be able to take advantage of or participate in certain features of this Site.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Flash Cookies </h1>
              <div class="content">Our Site may enable the use of the Adobe Flash Player. Adobe’s Flash Player is used by many websites that offer video and other interactive content. By default, your use of the Adobe Flash Player generates “flash cookies” (also known as “persistent identification elements” or “local shared objects”). Adobe provides a short disclosure about Flash Cookies in its End User License Agreement, stating “Use of the web players, specifically the Flash Player, will enable the Software to store certain user settings as a local shared object on our computer. These settings are not associated with you, but allow you to configure certain settings within the Flash Player.” The Adobe Flash Player (and similar applications) use flash cookies to remember user settings, preferences and usage similar to the browser cookies referenced above, but flash cookies can store more information than browser cookies and are managed through a different interface than the one provided by your web browser. You can control the degree to which you accept flash cookies by accessing your Adobe Flash Player management tools directly through the settings manager for Adobe Flash, located at http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager.html. If you do not allow flash cookies to take any space on your computer or device, you may not be able to take advantage of or participate in certain features on the Site. Users with a computer running the Windows operating system can view flash cookie files in this folder: \Documents and Settings\[username]\Application Data\Macromedia\Flash Player. Users with a computer running the Apple operating system can view flash cookie files in this folder: /users/[username]/Library/Preferences/macromedia/Flash Player. Flash cookies, or LSO files are stored typically with an “.SOL” extension.
              <br><br>
              The Adobe Flash Player is not the only technology being used in the ever-shifting online and mobile content environment. HTML5 is a popular web standard used for presenting content, especially content delivered to mobile devices. HTML is the mark-up language used for the World Wide Web. Almost all web pages you visit on the Internet are based around HTML code. HTML5 is simply the fifth and latest iteration of this mark-up language that allows for more interactive web pages. One of the real benefits of HTML5 is its potential to standardize the highly fragmented rich-media universe. Some HTML5 code may allow your response to advertising and other activities to be monitored across websites and such information to be stored on your computer or mobile device. Technology solutions that allow users to opt-out of or block this sort of tracking are being developed through browser add-ons and other tools.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Web Beacons </h1>
              <div class="content">Our web pages or e-mail messages may contain a small graphic image called a web beacon, which is sometimes also called a “clear gif”, that allows us to monitor and collect certain limited information about our users, such as the type of browser requesting the web beacon, the IP address of the computer that the web beacon is sent to and the time the web beacon was viewed. Web beacons can be very small or invisible to the user, but, in general, any electronic image viewed as part of a web page or e-mail, including HTML based content, can act as a web beacon. We may use web beacons to count visitors to our web pages or to monitor how our users navigate our Site, and we may include web beacons in e-mail messages in order to count how many of the messages we sent were actually opened or acted upon. We use web beacons to compile aggregate statistics about our Site and our marketing campaigns.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Use Of IP Addresses </h1>
              <div class="content">An IP address is a number that is assigned to your computer, device or network when you are linked to the Internet. When you request pages from this Site, our servers log your IP address. We may use IP address for a number of purposes, such as system administration, to report aggregate information to our business partners or to audit the use of the Site. We may associate your IP address with the PII you provide.
              We also may collect and store information about you that we receive from other sources to enable us to update and correct the information contained in our database and to provide product recommendations and special offers that we think will interest you.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Sensitive Information </h1>
              <div class="content">Reefer uses modern technological efforts to ensure the safety of your sensitive information. No website, internet transmission, computer system or wireless connection is completely secure. Reefer cannot guarantee that unauthorized access, hacking, data loss, or other breaches will never occur. Your use of the Site is at your own risk. Whenever you give Reefer sensitive or confidential information, Reefer will take commercially reasonable steps to protect the information by establishing a secure connection with your web browser. Reefer uses an industry standard security protocol for encrypting sensitive information. Unfortunately, no security measures are perfect or impenetrable and data transmission over the Internet cannot be guaranteed 100% secure. We cannot and do not ensure or warrant the security of any information you transmit to Reefer and you do so at your own risk.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>External Links </h1>
              <div class="content">Reefer may contain links to, or advertisements about, non- Reefer websites. Other sites may also reference, advertise, or link to Reefer Sites. Reefer does not endorse or sponsor other websites, is not responsible for the privacy practices or the content of non- Reefer sites, expressly disclaims any statements or assertions made on such websites, and denies all liability associated with your use of, and the content on, such other websites and advertisements. Please be advised that the practices described in this Privacy Policy do not apply to information gathered through other websites. We encourage you to be aware of when you leave this Site and to read the privacy policies of each and every website that you visit.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Consent to Processing </h1>
              <div class="content">By using our Site, participating in any of our services and/or providing us with your information, you consent and agree to the collection, transfer, storage and processing of your information to and in the United States.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Children </h1>
              <div class="content">We recognize the importance of safeguarding the privacy of children and encourage parents to check and monitor their children’s use of online activities regularly. The Site supports and complies with the Children’s Online Privacy Protection Act (“COPPA”) and other applicable laws. The Site is not aimed at nor intended for children under the age of 18. If you are under the age of 18, please do not use the Site. If Reefer discovers that a person under the age of 18 has provided Reefer with any PII, Reefer will use commercially reasonable efforts to delete such person’s PII from its system.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Sharing Information </h1>
              <div class="content">We provide your visit information, including but not limited to your visit history and redeeming activity, to the dispensaries you interact with through our Site. In addition, we may provide information to select outside companies when we believe their products or services may be of interest to you. If you opt in to receive communications from a third party, your information will be subject to the third party's privacy policy and not this Privacy Policy. Therefore, if you later decide that you do not want that third party to use your information, you will need to contact the third party directly. In addition, Reefer may share your PII with third parties under the following circumstances:
              <br><br>
              Third parties providing services on our behalf: We may engage third parties to perform services in connection with the operation of our business. Examples of these services include: (a) content providers; (b) product customization, (c) marketing and promotional material distribution, (d) website evaluation, (e) data collection, storage, management, analysis and, where applicable, cleansing, and (f) any other services designed to assist us in maximizing our business potential. These third parties may have access to this Site’s user information, including PII, to the extent it is needed to perform their duties and functions.
              <br><br>
              Reefer Security: We may release information about our users, including PII, when legally required to do so, at the request of governmental authorities conducting an investigation or to verify or enforce compliance with the policies governing our Site and applicable laws. We may also disclose such user information whenever we believe disclosure is necessary to protect the rights, property or safety of Reefer, or any of our respective affiliates, business partners, customers or others.
              <br><br>
              Aggregate Information: We may disclose non-identifying, aggregated user statistics to third parties for a variety of purposes, including describing our services to prospective partners and other third parties. Examples of such non-personal information include the number of users who visited this Site during a specific time period or purchased a specific product through this Site.

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Corporate change </h1>
              <div class="content">In addition, we reserve the right to disclose, share and/or otherwise transfer user information, including without limitation PII, in connection with a corporate merger, acquisition, consolidation, the sale of a portion of our business or the sale of substantially all of Reefer’s assets, or other fundamental corporate change, whatever form it may take. You will be notified via e-mail or prominent notice on our Site prior to a change of ownership or control of your personal information, if your personal information will be used contrary to this policy. For clarification and the removal of doubt, Reefer specifically reserves the right to transfer or share a copy of PII collected pursuant to this Privacy Policy from this Site, off-line or otherwise, to the buyer of that portion of its business relating to that information.
              <br><br>
              Sharing Pages With Friends The Site may offer you the possibility to connect your accounts from third party social media sites, such as Facebook, through an application programming interface (API) or other software. By allowing the Site to connect with your accounts on such third party sites, you consent to our accessing the information in those accounts, which information may include PII. You likewise consent to our publishing on the Site any such information or actions you take on such third party sites. Additionally, you understand that by accessing the Site via your social media account, activity you engage in through the Site may be published on the third party site. It is your choice whether to use any such third party sites, and you understand that in some instances such third party sites may request to access and publish information about you or your friends from Reefer.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Third Party Advertisements </h1>
              <div class="content">We may from time to time use various outside ad-serving or other companies to serve advertisements on our Site. In the process of serving advertisements, such companies may use cookies, and may use information about your visits to our Site and other sites in order to provide advertisements on our Site about products and services that may be of interest to you. By delivering ads on our Site, and the use of cookies, the ad-server is able to record what ads a user has seen, and what pages the user was viewing when the ads were delivered. This web usage information may be combined with other ad delivery information the ad-server has collected from your visits to our Site and other websites not affiliated with Reefer. This non-personally identifiable information is used as part of the ad-serving process for reporting, and to select and direct the ads you see on our Site and on other websites not affiliated with us.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>How Can I Access, Correct and Update Personal Information? </h1>
              <div class="content">You can access, correct and update certain personal information that you have provided to us, if any, by emailing us using the “Contact Us” page on the Site. Please be aware that we will process your request as quickly as we reasonably can, but it may not be possible to update our systems immediately. In addition, you should be aware that it is not always possible to completely remove or delete all of your information from our databases without some residual data because of backups and other reasons.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>YOUR CHOICES/UNSUBSCRIBE  </h1>
              <div class="content">You will have an opportunity to unsubscribe from receiving promotional material from this Site by clicking on an “unsubscribe” hyperlink contained in promotional emails we send you. Additionally you may send us a message using our “Contact Us” page. Because customer lists often are prepared well in advance of an offering (sometimes a few months before the offer is made), you may continue to receive some offers after you send us a request not to use your information for specified marketing purposes. Please be aware that we will process your request as quickly as we reasonably can, but it may not be possible to update our systems immediately. We appreciate your patience and understanding in giving us time to carry out your request.
              <br><br>
              In addition, you should be aware that it is not always possible to completely remove or delete all of your information from our databases without some residual data because of backups and other reasons.
              <br><br>
              If you want to opt out of having your PII shared with third parties for marketing purposes, you must consistently opt-out at our Site where you register and whenever you provide PII to us. Please bear in mind that this opt-out choice for “third parties” will not apply to Reefer, Reefer licensees and/or co-branding participants, as set forth below. Please also keep in mind that any opt-out choices you make will not apply in situations where (a) you either have made, simultaneously make, or later make a specific request for information from us, or (b) Reefer uses your PII for either operational purposes (e.g., to complete transactions requested by you, or to send you administrative communications either about your account with us or about features of our Site, including any future changes to this Privacy Policy, or any other policy or terms that affect you and your use of our Site) or fulfillment purposes (e.g., sharing with companies that facilitate communications and transactions with you).
              <br><br>
              Finally, if you do not exercise your opt-out choices upon registration or otherwise at the time the PII is provided, it may take some time to process your opt-out choices. Our systems require time to update, and promotional mailings using PII shared before your opt-out may already be in process. Thus, your PII might continue to be shared with third parties for promotional purposes for some time after you make your request, For similar reasons, if your PII is shared with a third party, Reefer largely or completely loses control over how that information is used. Thus, even after you have opted out of allowing us to share your PII, you might continue to receive promotional materials from third parties unless and until you duly register your opt-out request with each third party in question.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Notice to California Residents/Your California Privacy Rights </h1>
              <div class="content">California residents are entitled once a year to request and obtain certain information regarding our disclosure, if any, of personal information to third parties for their direct marketing purposes during the immediately prior calendar year (e.g., requests made in 2015 will receive information about 2014 sharing activities). As set forth in this Privacy Policy, we comply with this law by offering our visitors the ability to tell us not to share your personally identifiable information with third parties for their direct marketing purposes. To make such a request, consistently exercise your opt-out choice whenever you provide PII to us or send us a message using the “Contact Us” page. You must include this Site as the subject line, and your full name, e-mail address, and postal address in your message. Please see the “Your Choices/Unsubscribe” section of this Privacy Policy for additional information. Please note that under California law, businesses are only required to respond to a customer request once during any calendar year.
              <br><br>
              We may allow third-party companies to serve ads and/or collect certain anonymous information when you visit our Site. These companies may use non-personally identifiable information (e.g., click stream information, browser type, time and date, subject of advertisements clicked or scrolled over) during your visits to this and other web sites in order to provide advertisements about goods and services likely to be of interest to you. These companies typically use a cookie or third party web beacon to collect this information. Our Site does not recognize browser “Do Not Track” signals but several of our service providers who utilize these cookies or beacons on our web sites enable you to opt out of this behavioral advertising. To learn more about how to opt out of the behavioral advertising conducted by these providers you can visit http://www.networkadvertising.org/.

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Revisions to Privacy Policy </h1>
              <div class="content">We reserve the right, in our sole discretion, to modify, update, add to, discontinue, remove or otherwise change any portion of this Privacy Policy, in whole or in part, at any time. When we amend this Privacy Policy, we will revise the “last updated” date located at the top of this Privacy Policy. For changes to this Privacy Policy that we consider to be material, we will place a notice on the Reefer website located at http://reeferloyalty.com by revising the link to read substantially as “Updated Privacy Policy” for a reasonable amount of time. If you provide information to us or access or use the Site in any way after this Privacy Policy has been changed, you will be deemed to have unconditionally consented and agreed to such changes. The most current version of this Privacy Policy will be available on the Site and will supersede all previous versions of this Privacy Policy.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Choice of Law </h1>
              <div class="content">This Privacy Policy, including all revisions and amendments thereto, is governed by the internal laws of the United States, State of Colorado, without regard to its conflict or choice of law principles which would require application of the laws of another jurisdiction.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Arbitration</h1>
              <div class="content">By using this Site in any way, you unconditionally consent and agree that: (1) any claim, dispute, or controversy (whether in contract, tort, or otherwise) you may have against the officers, directors and employees of Reefer and its parent, subsidiaries, affiliates (all such individuals and entities collectively referred to herein as the “Reefer Entities”) arising out of, relating to, or connected in any way with the Site or the determination of the scope or applicability of this agreement to arbitrate, will be resolved exclusively by final and binding arbitration administered by JAMS and conducted before a sole arbitrator in accordance with the rules of JAMS; (2) this arbitration agreement is made pursuant to a transaction involving interstate commerce, and shall be governed by the Federal Arbitration Act (“FAA”), 9 U.S.C. §§ 1-16; (3) the arbitration shall be held in Los Angeles, California; (4) the arbitrator’s decision shall be controlled by the terms and conditions of this Privacy Policy and any of the other agreements referenced herein that the applicable user may have entered into in connection with the Site; (5) the arbitrator shall apply California law consistent with the FAA and applicable statutes of limitations, and shall honor claims of privilege recognized at law; (6) there shall be no authority for any claims to be arbitrated on a class or representative basis, arbitration can decide only your and/or the applicable Reefer Entity’s individual claims; the arbitrator may not consolidate or join the claims of other persons or parties who may be similarly situated; (7) the arbitrator shall not have the power to award punitive damages against you or any Reefer Entity; (8) in the event that the administrative fees and deposits that must be paid to initiate arbitration against any Reefer Entity exceed $125 USD, and your are unable (or not required under the rules of JAMS) to pay any fees and deposits that exceed this amount, Reefer agrees to pay them and/or forward them on your behalf, subject to ultimate allocation by the arbitrator. In addition, if you are able to demonstrate that the costs of arbitration will be prohibitive as compared to the costs of litigation, Reefer will pay as much of your filing and hearing fees in connection with the arbitration as the arbitrator deems necessary to prevent the arbitration from being cost-prohibitive; and (9) with the exception of subpart (6) above, if any part of this arbitration provision is deemed to be invalid, unenforceable or illegal, or otherwise conflicts with the rules of JAMS, then the balance of this arbitration provision shall remain in effect and shall be construed in accordance with its terms as if the invalid, unenforceable, illegal or conflicting provision were not contained herein. If, however, subpart (6) is found to be invalid, unenforceable or illegal, then the entirety of this Arbitration Provision shall be null and void, and neither you nor Reefer shall be entitled to arbitrate their dispute. For more information on JAMS and/or the rules of JAMS, visit their website at www.jamsadr.com.
              <br><br>
              © 2016 Reefer LLC. All rights reserved.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>TERMS OF SERVICE </h1>
              <div class="content">Last Revised March 30, 2015
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>PLEASE READ THESE TERMS OF SERVICE AND THE RELATED PRIVACY POLICY CAREFULLY BEFORE USING THIS SITE.</h1>
              <div class="content">This “Site” (as defined below) is owned and operated by Reefer LLC on its own behalf or in combination with one of its affiliates (collectively referred to herein, solely for ease of reference, as “Reefer”, “us” or “we”). These terms of service (the “Terms of Service”, “TOS” or “Agreement”) set forth the legal terms and conditions governing your use of our website located at http://reeferloyalty.com and any other online and mobile websites, blogs and interactive applications operated by Reefer (collectively, the “Site”) (unless a different policy is provided on a particular site, application or service, in which case such different policy shall govern and control). Your use of this Site confirms your unconditional agreement to be bound by these Terms of Service and is subject to your continued compliance with these Terms of Service. If you do not agree to be bound by these Terms of Service, you may not access or otherwise use the Site. Before using the Site, please review the related Reefer Privacy Policy (the “Privacy Policy”), which is incorporated herein by this reference. This Site is void where prohibited by law.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Eligibility </h1>
              <div class="content">The Site is intended solely for users who are (i) twenty one (21) years of age and older; or (ii) eighteen (18) and in possession of a valid medical marijuana registration card. You represent and warrant either that you are twenty one (21) years of age or older, or if you are eighteen (18) that you have a valid medical marijuana registration card. Certain parts of the Site may be subject in whole or in part to heightened age and/or other eligibility requirements. Registration Certain parts or features of the Site may require registration or may otherwise ask you to provide information to participate in certain features or to access certain content. The decision to provide this information is purely voluntary and optional; however, if you elect not to provide such information, you may not be able to access certain content or participate in certain parts or features of the Site. You agree that you will not provide any false personal information to the Site, or create an account for anyone other than yourself without their permission. You will also not create more than one personal profile, and if you select a username for your account, we reserve the right to remove or reclaim it if we believe in our sole discretion that is necessary or appropriate (such as if a trademark owner complains about a username). If you register with the Site, you are responsible for maintaining the confidentiality of your password, if any, and for restricting access to your computer so that others may not access the password protected portion of the Site. You accept responsibility for all activities that occur under your account, email or password, if any, and agree you will not sell, transfer or assign your membership or any membership rights. Reefer may, in its sole discretion, and at any time, with or without notice, terminate your password and account, for any reason or no reason at all. If we disable your account, you agree that you will not create another one without our permission.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>License to the Site </h1>
              <div class="content">Reefer grants you a non-exclusive, non-transferable, limited right and license to access, use and privately display the Site and the materials thereon for your personal use only, provided that you comply fully with these TOS. You shall not interfere (or permit the use of your account by a third party to interfere) or attempt to interfere with the operation or use of Site by other members in any way through any means or device including, but not limited to, spamming, hacking, uploading computer viruses or time bombs, or any other means.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Changes to Site and/or Terms of Service </h1>
              <div class="content">Reefer reserves the right, from time to time, in its sole discretion, to change, modify, update, discontinue, remove, revise, delete or otherwise change any portion of the Site or these TOS, in whole or in part, at any time without further notice. For changes to these TOS that we deem material, we will place a notice on http://reeferloyalty.com by revising the link on the homepage to read substantially as “Updated Terms of Use” for an amount of time that we determine in our discretion. If you access or use the Site in any way after the TOS have been changed, you will be deemed to have read, understood and unconditionally consented to and agreed to such changes. The most current version of these TOS will be available on http://reeferloyalty.com and will supersede all previous versions of these TOS.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Trademarks, Copyrights & Restrictions </h1>
              <div class="content">The Site and all of the content it contains, or may in the future contain, including but not limited to text, video, pictures, graphics, designs, information, applications, software, music, audio files, articles, directories, guides, photographs as well as the trademarks, service marks, trade names, trade dress, copyrights, logos, domain names, code, patents and/or any other form of intellectual property (collectively, the “Material”) that relates to the Site are owned by or licensed by Reefer or other third parties and are protected from any unauthorized use, copying and dissemination by copyright, trademark and other intellectual property and non-intellectual property laws and by international treaties. Except as expressly permitted in writing by Reefer, you shall not capture, reproduce, perform, transfer, sell, license, modify, create derivative works from or based upon, republish, reverse engineer, upload, edit, post, transmit, publicly display, frame, link, distribute or exploit, in whole or in part, any of the Material. Nothing contained in this Agreement or on the Site should be construed as granting, by implication, estoppel or otherwise, any license or right to use any Material in any manner without the prior written consent of Reefer or such third party that may own the Material or intellectual property displayed on the Site. UNAUTHORIZED USE, COPYING, REPRODUCTION, MODIFICATION, PUBLICATION, REPUBLICATION, UPLOADING, FRAMING, DOWNLOADING, POSTING, TRANSMITTING, DISTRIBUTING, DUPLICATING OR ANY OTHER MISUSE OF ANY OF THE MATERIAL IS STRICTLY PROHIBITED. Any use of the Material other than as permitted by this Agreement will violate this Agreement and may infringe upon our rights or the rights of the third party that owns the affected Material. You agree to report any violation of this Agreement by others that you become aware of. You are advised that Reefer will aggressively enforce its rights to the fullest extent of the law. Reefer may add, change, discontinue, remove or suspend the display of or access to any of the Material at any time, without notice and without liability. Software From time to time, and in its sole discretion, Reefer may make available to users certain software that may be accessible or downloaded from this Site. In the event you access or download software from this Site, the software, including any files, images incorporated in or generated by the software, and data accompanying the software (collectively, the “Software”) are licensed to you by Reefer or a Reefer -approved third party software provider (“Third Party Provider”). Reefer does not transfer title to the Software to you. Reefer retains full and complete title to the Software, and all intellectual property rights therein. For purposes of these TOS, such Software shall be included in the definition of “Materials”. Furthermore, your use of any Software of a Third Party Provider shall be subject to the end user license agreement or any other terms of use set forth by such Third Party Provider for its Software.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Unsolicited Submissions </h1>
              <div class="content">Reefer is pleased to hear from its visitors and welcomes your comments regarding Reefer services. It is Reefer’s long-standing company policy does not allow it to accept or consider creative ideas, suggestions, or materials other than those it has specifically requested. While we value your feedback on our services and products, we request that you be specific in your comments on those services and products, and that you not submit any creative ideas, suggestions or materials. We hope you will understand that it is the intent of this policy to avoid the possibility of future misunderstandings when projects developed by Reefer’s or its affiliates' professional staff might seem to others to be similar to their own work. Accordingly, we ask that you do not send us any original creative materials such as designs, photographs, drawings, or original artwork that you expect to be compensated for or that you would like to keep private. If you nevertheless choose to make any such submission, Reefer may freely use the submission, in whole or in part, for any purpose without any obligation to you.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Linked Sites </h1>
              <div class="content">The Site may contain links to third party websites or resources, which may or may not be obvious (“Third Party Sites”) as well as software, text, graphics, articles, photographs, pictures, designs, sound, video, music, information, software applications and other content originating from third parties (collectively, “Third Party Applications, Software or Content”). Our provision of links to Third Party Sites is not an endorsement of any information, product or service that is offered on or reached through such Third Party Site or Third Party Application, Software or Content. Such Third Party Sites and Third Party Applications, Software or Content are not monitored or checked for accuracy, appropriateness, or completeness by us, and we are not responsible for the content or performance of any Third Party Sites accessed through the Site or any Third Party Applications, Software or Content posted on, available through or installed from the Site, including the content, accuracy, offensiveness, opinions, reliability, privacy practices or other policies of or contained in the Third Party Sites or the Third Party Applications, Software or Content. If you decide to leave the Site and access the Third Party Sites or to use or install any Third Party Applications, Software or Content, you do so at your own risk and you should be aware that our terms and policies no longer govern. YOU AGREE THAT YOUR USE OF THIRD-PARTY SITES OR THIRD PARTY APPLICATIONS, SOFTWARE OR CONTENT, INCLUDING, WITHOUT LIMITATION, YOUR USE OF ANY CONTENT, INFORMATION, DATA, ADVERTISING, PRODUCTS, OR OTHER MATERIALS ON OR AVAILABLE THROUGH SUCH WEBSITES AND RESOURCES, IS AT YOUR OWN RISK AND IS SUBJECT TO THE TERMS AND CONDITIONS OF USE APPLICABLE TO SUCH SITES AND RESOURCES.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Promotions </h1>
              <div class="content">From time to time, the Site may offer sweepstakes, contests or other promotions that require you to send material or information about yourself. Please note that sweepstakes, contests or promotions offered via the Site may be, and often are, governed by a separate set of rules that, in addition to describing such sweepstakes, contest or promotion, may have eligibility requirements, such as certain age or geographic area restrictions, terms and conditions governing the use of material you submit, and supplemental disclosures about how your personal information may be used. It is your responsibility to read such rules to determine whether or not you want to and are eligible to participate, register and/or enter. By entering any such sweepstakes, contest or other promotion, you agree to comply with abide by such rules and the decisions of the sponsor(s) identified therein, which shall be final and binding in all respects.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>No Resale/Exploitation </h1>
              <div class="content">You understand and agree that you may not reproduce, copy, resell, manipulate, or exploit any part of the Site for any commercial purpose.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Non-United States Residents</h1>
              <div class="content">Reefer operates the Site in the United States. Reefer makes no representation that the Materials are appropriate or available for use in locations other than the United States. If you access the Site from locations outside of the U.S. you do so on your own initiative and at your own risk, and you are solely responsible for compliance with local laws, if and to the extent local laws are applicable. Jurisdictional Issues The Site is controlled and operated by Reefer from its offices within the State of California, United States. Reefer makes no representation that materials on the Site are appropriate or available for use in other locations. Software from this Site is further subject to United States export controls. No software from this Site may be downloaded or otherwise exported or re-exported (i) into (or to a national or resident of) any countries that are subject to U.S. export restrictions; or (ii) to anyone on the U.S. Treasury Department's list of Specially Designated Nationals or the U.S. Commerce Department's Table of Deny Orders. By downloading or using the Software, you represent and warrant that you are not located in, under the control of, or a national or resident of any such country or on any such list. Termination You understand and agree that Reefer may, in its sole discretion and at any time, terminate your password, account and/or prohibit you from accessing the Site, in whole or in part, for any reason or no reason at all, at any time in its sole discretion, with or without notice. You understand and agree that Reefer may take any one or more of these actions without prior notice to you. Should Reefer take any of these actions, it may, in its sole discretion, immediately deactivate and/or delete any or all information about and concerning your Account. You understand and agree that Reefer shall not have any liability to you or any other person for the removal of information concerning your Account. Reefer will determine your compliance with this Agreement in its sole discretion and its decision shall be final and binding and not subject to challenge or appeal. Any violation of this Agreement may result in restrictions on your access to all or part of the Site and may be referred to law enforcement authorities. No changes to or waiver of any part of this Agreement shall be of any force or effect unless formally posted or made in writing and signed by a duly authorized officer of Reefer. Upon termination of your membership or access to the Site, or upon demand by Reefer, you must destroy all materials obtained from the Site and all related documentation and all copies and installations thereof. You are advised that Reefer will aggressively enforce its rights to the fullest extent of the law. Disclaimer The Site may be unavailable from time to time due to maintenance or malfunction of computer equipment or for various other reasons. Reefer assumes no responsibility for any delays, interruptions, errors, defects, omissions, or deletions, related to the communications line failure, operation or transmission, or alteration of, or theft or destruction or unauthorized access to, user communications. Reefer is not responsible for any technical or non-technical malfunction or other problems of any hosting services, computer systems, servers or providers, telephone networks or telephone services, computer, or mobile device equipment, software, failure of e-mail on account of technical problems or traffic congestion on the Internet or in connection with the Site, including injury or damage to a user’s or to any other person's computer, mobile device, or other hardware or software, related to or resulting from using or downloading materials in connection with the Web and/or in connection with the Site. THE SITE, THE MATERIALS, AND THE SOFTWARE, IF APPLICABLE, ARE PROVIDED “AS IS” “WITH ALL FAULTS” AND “AS AVAILABLE” AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR THOSE ARISING BY STATUTE OR OTHERWISE IN LAW FROM A COURSE OF DEALING OR USAGE OF TRADE. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, REEFER DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. REEFER DOES NOT WARRANT THAT THE AVAILABILITY OF OR THE FUNCTIONS CONTAINED IN THE SITE, THE MATERIALS OR THE SOFTWARE, WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SITE OR THE SERVER THAT MAKES IT AVAILABLE OR THE SOFTWARE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE SITE, MATERIALS SOFTWARE OR SERVER DO NOT VIOLATE ANY PATENT OR OTHER INTELLECTUAL PROPERTY RIGHTS OF ANY PERSON OR ENTITY. REEFER DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SITE, THE MATERIALS OR THE SOFTWARE, IN TERMS OF THEIR CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE. YOU (AND NOT REEFER) ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR, OR CORRECTION. APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT FULLY APPLY TO YOU.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel reefer-panel-default form-615">
            <div class="panel-body">
              <h1>Limitation of Liability </h1>
              <div class="content">YOU AGREE THAT REEFER AND ITS PARENTS, AFFILIATES, SUBSIDIARIES, LICENSORS AND ASSIGNS, AND EACH OF THEIR RESPECTIVE EMPLOYEES, OFFICERS AND DIRECTORS (COLLECTIVELY, THE “RELEASED PARTIES”) ARE NOT LIABLE TO YOU OR ANY THIRD PERSON FOR DAMAGES OF ANY KIND, WHETHER BASED IN TORT, CONTRACT, STRICT LIABILITY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING FOR ANY LOST PROFITS OR LOST DATA ARISING OUT OF OR RESULTING IN ANY WAY FROM OR IN CONNECTION WITH THE SITE, THE MATERIAL OR ANY ERRORS OR OMISSIONS IN THE TECHNICAL OPERATION OF THE SITE, EVEN IF REEFER IS AWARE OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, THEFT OR DESTRUCTION OF, OR UNAUTHORIZED ACCESS TO THE SITE (COLLECTIVELY, THE “RELEASED MATTERS”). NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, REEFER’S LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER, AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO $1000. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF CERTAIN WARRANTIES AND CONDITIONS, AND/OR THE DISCLAIMER OF SOME TYPES OF DAMAGES, SO SOME OF THE ABOVE MIGHT NOT APPLY TO YOU. BY ACCESSING THE SITE, YOU UNDERSTAND THAT YOU MAY BE WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT ARE AT THIS TIME UNKNOWN OR UNSUSPECTED, AND IN ACCORDANCE WITH SUCH WAIVER, YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND, AND HEREBY EXPRESSLY WAIVE, THE BENEFITS OF SECTION 1542 OF THE CIVIL CODE OF CALIFORNIA, AND ANY SIMILAR LAW OF ANY STATE OR TERRITORY, WHICH PROVIDES AS FOLLOWS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.” You hereby waive any and all rights you have or may have under California Civil Code Section 1542, and/or any similar provision of law or successor statute to it, with respect to the Released Matters. In connection with this waiver and release, you acknowledge that you are aware that you may hereafter discover claims presently unknown or unsuspected, or facts in addition to or different from those which you now know or believe to be true. Nevertheless, you intend by this Agreement to release fully, finally and forever all Released Matters under this Agreement. In furtherance of such intention, the releases set forth in this Agreement shall be and shall remain in effect as full and complete releases notwithstanding the discovery or existence of any such additional or different claims or facts relevant hereto. Reefer makes no representation or warranty whatsoever regarding the completeness, accuracy, currency or adequacy of any information, facts, views, opinions, statements or recommendations contained on the Site and/or the Material. Reference to any product, process, publication or service of any third party by trade name, domain name, trademark, service mark, logo, manufacturer or otherwise does not constitute or imply its endorsement or recommendation by Reefer. Views and opinions of users of the Site do not necessarily state or reflect those of Reefer. Users are responsible for seeking the advice of professionals, as appropriate, regarding the information or content available as part of the Site. The Internet may be subject to breaches of security. Reefer is not responsible for any resulting damage to any user's computer from any such security breach, or from any virus, bugs, tampering, unauthorized intervention, fraud, error, omission, interruption, deletion, defect, delay in operation or transmission, computer line failure or any other technical or other malfunction. You should also be aware that email submissions over the Internet may not be secure, and you should consider this before submitting any information to anyone over the internet. Reefer makes no representation or warranty whatsoever regarding the suitability, functionality, availability or operation of the Site. Linking Policy If you link to the Site, we require that you follow these guidelines. You may link only to the home page, and the link must be in plain text, unless otherwise approved in writing by an authorized representative of Reefer. The link to this Site must not damage, dilute or tarnish the goodwill associated with any Reefer names and/or intellectual property, nor may the link create the false appearance that your website and/or organization is sponsored, endorsed by, affiliated and/or associated with Reefer. You may not “frame” the Site or alter its intellectual property or Material in any other way. You may not link to the Site from a site that is unlawful, abusive, indecent or obscene, that promotes violence or illegal acts, that contains expressions of racism, that is libelous, defamatory, scandalous, or inflammatory or is otherwise deemed inappropriate, as determined by Reefer in its sole discretion. Reefer reserves the right, in its sole discretion, to terminate a link with any website for any reason or no reason at all, including without limitation any website that Reefer deems to be inappropriate or inconsistent with or antithetical to the Site and/or these Terms of Use. Reefer is not responsible for the content or performance of any portion of the Internet including other World Wide Websites to which this Site may be linked or from which this Site may be accessed. Indemnification BY USING THE SITE YOU AGREE TO INDEMNIFY, DEFEND AND HOLD THE RELEASED PARTIES HARMLESS FROM AND AGAINST ANY THIRD PARTY CLAIMS, ALLEGED CLAIMS, DEMANDS, CAUSES OF ACTION, JUDGMENTS, DAMAGES, LOSSES, LIABILITIES, AND ALL COSTS AND EXPENSES OF DEFENSE, INCLUDING, WITHOUT LIMITATION, REASONABLE ATTORNEYS' FEES, ARISING OUT OF OR RELATING TO: YOUR BREACH OF YOUR REPRESENTATIONS, WARRANTIES, COVENANTS OR AGREEMENTS HEREUNDER; YOUR VIOLATION OF THESE TERMS OF USE OR ANY LAW; YOUR USE OF THIS SITE AND/OR THE MATERIAL IN VIOLATION OF THESE TERMS OF USE; INFORMATION OR MATERIAL POSTED OR TRANSMITTED THROUGH YOUR COMPUTER OR MEMBERSHIP ACCOUNT, EVEN IF NOT SUBMITTED BY YOU, THAT INFRINGES ANY COPYRIGHT, TRADEMARK, TRADE SECRET, TRADE DRESS, PATENT, PUBLICITY, PRIVACY OR OTHER RIGHT OF ANY PERSON OR DEFAMES ANY PERSON; ANY MISREPRESENTATION MADE BY YOU; AND/OR REEFER’S USE OF YOUR INFORMATION. YOU WILL COOPERATE AS FULLY AND AS REASONABLY REQUIRED IN REEFER’S DEFENSE OF ANY CLAIM. REEFER RESERVES THE RIGHT, AT ITS OWN EXPENSE, TO ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF ANY MATTER OTHERWISE SUBJECT TO INDEMNIFICATION BY YOU, AND YOU SHALL NOT IN ANY EVENT SETTLE ANY SUCH MATTER WITHOUT THE WRITTEN CONSENT OF REEFER. Miscellaneous These TOS constitutes the entire agreement of the parties with respect to the subject matter hereof and supersedes all prior or contemporaneous written or oral agreements between the parties with respect to the subject matter hereof. These TOS may not be amended, nor any obligation waived, without Reefer’s written authorization. Any failure to enforce any provision of these TOS shall not constitute a waiver thereof or of any other provision thereof. These TOS shall be governed and construed in accordance with the laws of the State of California applicable to contracts entered into and fully performed in California (without regard to its conflicts of law principles that would cause the application of any other jurisdiction's laws) With respect to any disputes or claims not subject to arbitration, you agree not to commence or prosecute any action in connection therewith other than in the state and federal courts of California, and you hereby consent to, and waive all defenses of lack of personal jurisdiction and forum non conveniens with respect to venue and jurisdiction in the state and federal courts of California. By using the Site in any way, you unconditionally consent and agree that: (1) any claim, dispute, or controversy (whether in contract, tort, or otherwise) you may have against the officers, directors and employees of Reefer and its parent, subsidiaries, affiliates (all such individuals and entities collectively referred to herein as the “Reefer Entities”) arising out of, relating to, or connected in any way with the website or the determination of the scope or applicability of this agreement to arbitrate, will be resolved exclusively by final and binding arbitration administered by JAMS and conducted before a sole arbitrator in accordance with the rules of JAMS; (2) this arbitration agreement is made pursuant to a transaction involving interstate commerce, and shall be governed by the Federal Arbitration Act (“FAA”), 9 U.S.C. §§ 1-16; (3) the arbitration shall be held in Los Angeles, California; (4) the arbitrator’s decision shall be controlled by the terms and conditions of this Agreement and any of the other agreements referenced herein that the applicable user may have entered into in connection with the website; (5) the arbitrator shall apply California law consistent with the FAA and applicable statutes of limitations, and shall honor claims of privilege recognized at law; (6) there shall be no authority for any claims to be arbitrated on a class or representative basis, arbitration can decide only your and/or the applicable Reefer Entity’s individual claims; the arbitrator may not consolidate or join the claims of other persons or parties who may be similarly situated; (7) the arbitrator shall not have the power to award punitive damages against you or any Reefer Entity; (8) in the event that the administrative fees and deposits that must be paid to initiate arbitration against any Reefer Entity exceed $125 USD, and your are unable (or not required under the rules of JAMS) to pay any fees and deposits that exceed this amount, Reefer agrees to pay them and/or forward them on your behalf, subject to ultimate allocation by the arbitrator. In addition, if you are able to demonstrate that the costs of arbitration will be prohibitive as compared to the costs of litigation, Reefer will pay as much of your filing and hearing fees in connection with the arbitration as the arbitrator deems necessary to prevent the arbitration from being cost-prohibitive; and (9) with the exception of subpart (6) above, if any part of this arbitration provision is deemed to be invalid, unenforceable or illegal, or otherwise conflicts with the rules of JAMS, then the balance of this arbitration provision shall remain in effect and shall be construed in accordance with its terms as if the invalid, unenforceable, illegal or conflicting provision were not contained herein. If, however, subpart (6) is found to be invalid, unenforceable or illegal, then the entirety of this Arbitration Provision shall be null and void, and neither you nor Reefer shall be entitled to arbitrate their dispute. For more information on JAMS and/or the rules of JAMS, visit their website at www.jamsadr.com. If any provision of these terms shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these terms and shall not affect the validity and enforceability of any remaining provisions. For any questions, suggestions, or concerns related to these Terms of Use, please email us using the “Contact Us” page. © 2016 Reefer LLC All rights reserved.
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="section-question">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="section-title-h1">Don’t see your Question?</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <hr class="hr-green-line">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <div class="subheader-title-black">Contact us and we’ll try to answer your question<br>as soon as possible.</div>
        </div>
      </div>

      <br>

      <%= render "question_form" %>

    </div>
  </div>
</div>
<%= render "shared/footer", wave_name: "wave7" %>
