<div class="row">
  <div class="col-md-12">
    <h2>Users</h2>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Step</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
          <tr>
            <td><%= u.name %></td>
            <td><%= u.phone_number %></td>
            <td><%= User::FRIENDLY_STEP_NAMES[u.onboarding_step] %></td>
            <td><%= link_to "Sign in as", signin_as_admins_user_path(u) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <%= paginate @users %>
  </div>
</div>