<div class="row">  
  <div class="col-xs-12">
    <%= render "new_home/top_navbar", navbar_for: @navbar_for%>
    <div class="row new-landing-contact__form">
      <div class="col-xs-12 col-md-6 new-landing-contact__text"> Email:
        <a href="mailto:contact@reeferloyalty.com">contact@reeferloyalty.com</a>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= form_tag welcome_lets_talk_path, method: :post do %>
          <div class="new-landing-contact__form-waiting col-md-12" >
            <div class="row center-block new-landing-contact__input-wrapper"> 
              <div class="col-xs-12">
                <%= text_field_tag :name,nil, 
                  placeholder:"Name", 
                  class:"form-control new-landing-contact__input"%>
              </div>
              <div class="col-xs-12">
                <%= text_field_tag :email, nil, 
                  placeholder:"Email Adress", 
                  class:"form-control new-landing-contact__input"%>
              </div>
              <div class="col-xs-12">
                <%= text_field_tag :phone_number,nil,
                  placeholder:"Phone Number", 
                  class:"form-control new-landing-contact__input"%>
              </div>
              <div class="col-xs-12">
                <%= text_area_tag :message, nil, 
                  placeholder:"Message", 
                  class:"form-control new-landing-contact__input new-landing-contact__input_textarea"%>
              </div>
              <div class="col-xs-12">
                <button type="submit" class="btn btn-black-submit new-landing-contact__btn">
                  SEND MESSAGE
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
