<div class="row">

<div class="col-md-12">


  <div class="form-585 div-center">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "shared/form_errors", resource: resource %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  </div>

</div>

</div>
