.alert-row{
  /*background-color: $color-apple;*/
  margin-bottom:10px;
  margin-left: -15px;
  margin-right: -15px;
}

.alert-app{
  height: 40px;
  text-align: center;
  color: $color-white;
  background-color: $color-apple;
  padding: 10px;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

.alert-app-red{
  @extend .alert-app;
  background-color: $color-cherry-red;
}