 .old-green-navbar{ 
  .navbar-app-d{
    margin-bottom: 0px;
    background-color: $color-white;
    box-shadow: inset 0 -1px 0 0 $color-silver-two;
    border: none;

    li > a{
      color: $color-greyish-brown;

      &:hover,&:focus{
        background-color: transparent;
        box-shadow: inset 0 -3px 0 0 $color-apple;
        color: $color-apple;
      }
    }

    li.active{
      box-shadow: inset 0 -3px 0 0 $color-apple;
      a{
        color: $color-apple;
      }
    }

    .navbar-toggle{
      .icon-bar{
        background-color: black;
      }
    }

  }

  .navbar-app{
    height: 40px;
    min-height: 40px;
    margin-bottom: 0px;
    background-color: $color-white;
    box-shadow: inset 0 -1px 0 0 $color-silver-two;
    border: none;

    .navbar-brand{
      padding: 8px 10px;
      height: 40px;
    }

    li > a{
      color: $color-greyish-brown;

      &:hover,&:focus{
        background-color: transparent;
        box-shadow: inset 0 -3px 0 0 $color-apple;
        color: $color-apple;
      }
    }

    li.active{
      box-shadow: inset 0 -3px 0 0 $color-apple;
      a{
        color: $color-apple;
      }
    }


    @media (min-width: 991px){
      .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 11px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    @media (max-width: 991px) {
      .navbar-header {
        width: 20%;
        margin: 0;
      }

      li {
        display: inline-block;
        width: 20%;
      }

    }
    @media (max-width: 991px) and (min-width: 768px) {
      .hidden-sm {
        display: none !important;
        visibility: hidden;
      }
    }
  }
}
