<div class="container dispensary-account dispensary-account-password">

  <%= form_for(@dispensary, url: dispensaries_account_path(@dispensary), html: { class: "reefer-login", method: :put }) do |f| %>

    <div class="row">
      <div class="col-md-12">
        <div class="form-300 div-center">

          <div class="form-group">
            <%= f.label 'Email' %>
            <%= f.text_field :email, autofocus: true, class:"form-control reefer-input-left", placeholder:"Enter email", required: true %>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to "Change Password", edit_dispensary_registration_path, class:"change-pass-link" %>
      </div>
    </div>


    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <%= f.submit "Save", class:"btn btn-green" %>
      </div>
    </div>

  <% end %>

</div>