<nav class="navbar navbar-default reefer-nav-bar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href=<%= dispensaries_home_index_path %>><%= image_tag("header-logo.png", :class => "larg-nav-logo") %></a>
        <h2 class="small-nav-logo"><span class="smallnav menu" onclick="openNav()">☰ <%= image_tag("header-logo.png") %></span></h2>

        <div class="btn-group show-on-hover header-profile-drop">
            <button type="button" class="btn dropdown-toggle hpd-btn" data-toggle="dropdown"><%= image_tag("header-user.png", :class => "img-circle") %> <span class="caret"></span></button>
            <ul class="dropdown-menu hpid-menu" role="menu">
                <li><%= link_to "Password", edit_dispensary_registration_path %></li>
                <li><%= link_to "Log off", destroy_dispensary_session_path, method: :delete %></li>
            </ul>
        </div>
    </div>
</nav>
