<%
  position_banner
  @new_dispensary ||= Dispensary.new
%>

<% if position_banner %>
<div class="public-form-sign-up">
  <%= form_for @new_dispensary, url:dispensary_join_waiting_list_path, method: :post do |f| %>


    <div class="row">
      <div class="col-md-3">
        <%= f.text_field :email, placeholder:"Your Email Address", class:"form-control dispensary-input", required: true %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :name, placeholder:"Dispensary name", class:"form-control dispensary-input", required: true %>
      </div>
      <div class="col-md-3">
        <%= f.telephone_field :phone_number, placeholder:"Enter Mobile Number", class: "form-control dispensary-input dispensary_phone_number dpn-1", required: true %>
      </div>
      <div class="col-md-3 visible-md visible-lg">
        <button class="btn join visible-md visible-lg">Join the Waiting List</button>
      </div>
      <div class="col-md-3 visible-xs visible-sm">
        <button class="btn btn-black-circle">SUBMIT</button>
      </div>
    </div>

  <% end %>
</div>

<% else %>
  <%= form_for @new_dispensary, url:dispensary_join_waiting_list_path, method: :post do |f| %>


    <div class="row">
      <div class="col-md-4">
        <%= f.text_field :email, placeholder:"Your Email Address", class:"form-control reefer-input", required: true %>
      </div>

      <div class="col-md-4">
        <%= f.text_field :name, placeholder:"Dispensary name", class:"form-control reefer-input" %>
      </div>

      <div class="col-md-4">
        <%= f.telephone_field :phone_number, placeholder:"Enter Mobile Number", class: "form-control reefer-input dispensary_phone_number dpn-2" %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-black-circle btn-mask btn-join-w-list">Join the Waiting List</button>
      </div>
    </div>
    <br>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    var options = {};
    $(".dpn-1").mask('(000) 000-0000', options);
    $('.dpn-2').mask('(000) 000-0000', options);
  })
</script>
