<%= form_for [:admins, @dispensary] do |f| %>
  <%= render "shared/form_errors", resource: @dispensary %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Name</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Phone number</label>
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Address</label>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>City</label>
        <%= f.text_field :city, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Zip code</label>
        <%= f.text_field :zip_code, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6">

      <div class="form-group">
        <label>Email</label>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Password</label>
        <%= f.text_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>State</label>
        <%= f.text_field :state, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Country</label>
        <%= f.text_field :country, class: "form-control" %>
      </div>
    </div>
  </div>

  <br>
  <%= f.submit "Save", class: "btn btn-success" %>

<% end %>