<div class="modal fade" id="mass-text-modal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_tag mass_text_admins_dispensaries_path, remote: true, class: "form", id: "mass-text-form" do %>
      <%= hidden_field_tag :"mass_text[dispensary_id]" %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mass text to <b class="dispensary-name"></b> patients</h4>
        </div>
        <div class="modal-body">
          <h4 class="status text-success"></h4>
          <div class="form-group message-group">
            <%= label_tag :"mass_text[message]", "Message"  %>
            <%= text_area_tag :"mass_text[message]", nil, class: "form-control", rows: 10, style: "max-width: 100%;", required: true %>
            <p class="text-muted"><span class="characters-left">140</span> characters left</p>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Send", class: "btn btn-primary", id: "mass-text-submit", disabled: true %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(".mass-text-open-modal").click(function(e){
    var name = $(this).data().dispensaryName;
    var id = $(this).data().dispensaryId;
    // set modal title to match current patient name
    $("#mass-text-modal .dispensary-name").text(name);
    // set patient_id hidden field to be sent with submit
    $("#mass_text_dispensary_id").val(id);

    // If there are errors before, remove them
    $("#mass-text-modal .message-group").removeClass("has-error");
    $("#mass-text-modal .message-group .help-block").text("");
    $("#mass-text-modal .status").text("");
  });
  // on message field change
  $("#mass_text_message").bind("input propertychange keypress", function(e){
    var val = $(this).val();
    var chars = val.length;
    var disabled;
    if (chars > 0){
      // prevent adding more chars then maxlength (140)
      if ((140 - chars) <= 0){
        $("#mass-text-modal .message-group .characters-left").text(0);
        e.preventDefault();
        return false;
      }
      // calculate how much chars left
      $("#mass-text-modal .message-group .characters-left").text(140 - chars);
      disabled = false;
    }else{
      // if there is 0 chars, disabled send button and set chars lenght
      $("#mass-text-modal .message-group .characters-left").text(140);
      disabled = true;
    }
    $("#mass-text-submit").prop("disabled", disabled);
  });
  $("#mass-text-form").submit(function(e){
    // on form submit, disabled any new events on buttons
    $("#mass-text-form a, #mass-text-form button").css("pointer-events", "none");
  });
</script>

