<div class="row">
  <div class="col-md-12">
    <h2>Dispensaries</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <%= link_to "New Dispensary", new_admins_dispensary_path %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <h3>Waiting list</h3>
    <% if @onboarding_request_dispensaries.present? %>
      <% @onboarding_request_dispensaries.each do |d| %>
        <p><%= d.id %> <%= d.name %> | <%= link_to 'Send invitation', send_onboarding_invitation_admins_dispensary_path(d.id), method: :put %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Invited:</h3>
    <% if @onboarding_request_approved_dispensaries.present? %>
      <% @onboarding_request_approved_dispensaries.each do |d| %>
        <p><%= d.id %> <%= d.name %>| <%= link_to 'Re-Send invitation', send_onboarding_invitation_admins_dispensary_path(d.id), method: :put %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Signed up:</h3>
    <% if @signed_up_dispensaries.present? %>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created at</th>
            <th>No. of patiens</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @signed_up_dispensaries.each do |d| %>
            <tr>
              <td><%= d.id %> </td>
              <td><%= d.name %></td>
              <td><%= d.created_at.to_formatted_s(:short) %></td>
              <td><%= d.dispensary_patients.count %></td>
              <td><%= link_to "Edit", edit_admins_dispensary_path(d) %></td>
              <td><%= link_to "Mass Text", "#", data: {toggle: "modal", target: "#mass-text-modal", dispensary_id: d.id, dispensary_name: d.name}, class: "mass-text-open-modal" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%= render 'mass_text_modal' %>
