<% if @errors && @errors.any? %>
  <% all_errors = "" %>
  // collect all errors and concat it
  <% @errors.each do |error| %>
    <% all_errors += error[:full_message] %>
  <% end %>
  // dispay red border on message field
  $("#mass-text-modal .message-group").addClass("has-error");
  // add errors in help block
  $("#mass-text-modal .message-group .help-block").text("<%=raw all_errors %>");
<% else %>
  // add info that all messages are sent (quaued to be sent latter)
  $("#mass-text-modal .status").text("SMS messages sent!");
<% end %>
// Add pointer events again on modal buttons
$("#mass-text-form a, #mass-text-form button").css("pointer-events", "all");
