<div class="row">
  <div class="col-md-12">
    <h2>New dispensary</h2>
  </div>
</div>

<hr>


<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
  </div>
</div>

<script type="text/javascript">
  $("#dispensary_phone_number").mask("(000) 000-0000", {});
</script>
