<%= render :layout => '/shared/onboarding_form_template' do %>

  <%= form_for(@user, url: user_password_path(@user), html: { class: "reefer-login" }) do |f| %>

    <%= f.hidden_field :phone_number, value: @user.phone_number %>
    <%= f.hidden_field :id, value: @user.id %>

    <div class="onboarding-flow-user">
      <div class="row">
        <div class="col-md-12 text-center">
          <label>We'll send the confirmation link to:</label>
          <br>
          <div class="onboarding-phone-number">
            <%= @user.phone_number %>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="form-group">
      <%= f.submit "GO", class: "btn btn-black-circle" %>
    </div>
  <% end %>

<% end %>