.dispensary-sidepanel{
  background-color: $color-white;
}

.dispensary-basic-info{
  .dispensary-row-name{
    margin-top: 15px;

    .name{
      color: $color-black;
    }
  }

  .dispensary-row-info{
    margin-top: 30px;
    font-size: 13px;
    color: $color-black;

    .header{
      color: $color-apple;
    }
  }
  @media(max-width: 768px){
    .dispensary-row-info{
      text-align: center;
    }
  }

}

.dispensary-deals-info{
  .row{
    margin-top: 26px;
  }
  .deals{
    color: $color-dark-blue-grey;
  }

  .deal-panel{
    padding: 5px;
    max-width: 220px;
    min-height: 160px;
    border-radius: 5px;
    background-color: $color-white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px $color-white-three;
    margin-bottom: 20px;

    .points{
      font-size: 28px;
      font-weight: 300;
      color: $color-black;
      margin-top: 10px;
      margin-bottom: 10px;

      span{
        font-size: 13px;
        font-weight: bold;
        color: $color-brownish-grey;
      }
    }

    .name{
      margin-bottom: 10px;
      font-size: 18px;
      color: $color-black;
      word-break: break-all;
    }


  }

}

.dispensary-reedem-info{
  .table-redeems{
    th{
      font-size: 13px;
      font-weight: bold;
      color: $color-greyish-brown-two;
    }
    thead > tr > th{
      border-bottom: 2px solid $color-black;
    }

    tr > td{
      border-top: none;
    }

    tr > td.deal{
      font-weight: bold;
      color: $color-brownish-grey;
    }
    tr > td.redeemed{
      font-size: 22px;
      font-weight: 300;
      color: $color-black;
    }

  }
}


.circle-80{
  width: 80px;
  height: 80px;
  background-color: $color-dark-pink;
  border: 1px solid $color-silver-three;
  margin: 15px auto 15px;
  border-radius: 40px;

  span{
    font-size: 60px;
    font-weight: bold;
    color: $color-white;
    line-height: 1.3;

  }

}

.circle-210{
  width: 210px;
  height: 210px;
  background-color: $color-apple;
  border-radius: 108px;
  margin: 15px auto 15px;
  color: $color-white;

  .count{
    font-size: 44px;
    font-weight: 300;
    padding-top: 24px;
  }
  hr{
    width: 50px;
    border: solid 1px $color-black;
    background-color: $color-black;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .content{
    font-size: 20px;
    font-weight: bold;
  }

}

.dispensary-account{
  margin-top: 30px;

  .change-pass-link{
    color: $color-apple;

    &:hover,&:focus{
      color: $color-apple;
    }
  }

}

.dispensary-account-password{
  margin-top: 30px;

  .form-group{
    label{
      font-size: 11px;
      font-weight: bold;
      color: $color-brownish-grey;
    }
    .form-control{
      border-radius: 2px;
      background-color: $color-white;
      border: 1px solid $color-white-three;
      box-shadow:none;
    }
  }
}

.dispensary-how-it-works{
  height: 100%;
  background-color: $color-white;
  background-image: asset-url("logo_dispensary_bg.png");
  background-size: cover;
}


