.dispensary-green-modal-row{
  margin-top: 64px;

  .panel-dispensary-edit{
    .panel-heading{
      border-radius: 2px;
      background-color: $color-white-three;
      color: $color-apple;
    }

    .left-side{
      border-right: solid 1px $color-pale-grey;
    }

    .form-group{
      label{
        font-size: 11px;
        color: $color-dark-blue-grey;
        font-weight: normal;
      }
      input{
        background-color: $color-white-two;
        border: 1px solid $color-white-three;
        box-shadow: none;
      }
    }
  }

  .days-group {
    button{
      width: 100%;
      border-radius: 2px;
      background-color: $color-white-two;
      border: solid 1px $color-white-three;
      text-align: left;

      .caret{
        float: right;
        margin-top: 8px;
      }
    }
  }

  .hours-group{
    @extend .days-group;
    width: 108px;
  }

}

.dispensary-green-deal{
  margin-top: 130px;

  .panel-dispensary-deal{
    width: 219px;

    .points{
      font-size: 22px;
      font-weight: 300;
      color: $color-black;
      margin: 12px;

      span{
        font-size: 13px;
        font-weight: bold;
        color: $color-brownish-grey;
      }
    }

    .form-control{
      border-radius: 2px;
      background-color: $color-white-two;
      border: 1px solid $color-white-three;
      text-align: center;
      box-shadow: none;
      padding: 15px;
      height: 50px;
    }

    .notice{
      margin-top: 15px;
      font-size: 13px;
      color: $color-greyish-two;
    }

  }
}

.link{
  color: $color-white;
  &:hover, &:focus{
    color: $color-white;
  }
}
.link-green{
  color: $color-apple;
  font-size: 13px;
  background-color: transparent;
  border:none;
}

.select-days-toggle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-days {
  li a {
    padding: 7.5px 12px;
    font-size: 13px;
  }

  input[type="checkbox"] {
    display: none;
  }
  label {
    cursor: pointer;
    font-weight: normal;
  }
  input[type="checkbox"] + span:before {
    border: 1px solid #878f9c;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    border-radius: 2px;
    height: 16px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: top;
    width: 16px;
  }
  input[type="checkbox"]:checked + span:before {
    background: $color-apple;
    border: 1px solid $color-apple;
    color: $color-white;
    content: "\2713";
    text-align: center;
  }

  input[type="checkbox"]:checked + span {
    color: $color-apple;
  }
}
