@charset "utf-8";
/* CSS Document */


html{
}


body{
	font-family: 'Open Sans', sans-serif;
	background-color: #eff3f6;
	overflow-x:hidden;
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
}

.prlzero{
	padding-left:0px;
	padding-right:0px;
}

.reefer-nav-bar{
  background-color: #fff !important;
  min-height: 70px;
  border-radius: 0px;
  margin-bottom: 0px !important;
}

.wrap{
  padding: 20px;
  padding-right:240px;
  background: #eff3f6;
  overflow:hidden;
}
.main{
  margin: 0 -250px 0 auto;
  width: 100%;
  float:right;
  padding: 0px 15px 0px 15px;
}
.lsidebar{
  width: 250px;
  float: left;
  height: 200px
}
.main, .sidebar{
  min-height: 100px;
}
.clear{
  clear:both;
}

.lsidebar-nav{
  list-style-type: none;
  padding: 0px;
}
.lsidebar-nav li {
  text-indent: 5px;
  line-height: 40px;
}
.lsidebar-nav li a {
  color: #475162;
  font-weight: 600;
  display: block;
  text-decoration: none;
}
.lsidebar-nav li a:hover {  background: rgba(217,217,217,1);  background: -moz-linear-gradient(top, rgba(217,217,217,1) 0%, rgba(179,179,179,1) 100%);  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(217,217,217,1)), color-stop(100%, rgba(179,179,179,1)));  background: -webkit-linear-gradient(top, rgba(217,217,217,1) 0%, rgba(179,179,179,1) 100%);  background: -o-linear-gradient(top, rgba(217,217,217,1) 0%, rgba(179,179,179,1) 100%);  background: -ms-linear-gradient(top, rgba(217,217,217,1) 0%, rgba(179,179,179,1) 100%);  background: linear-gradient(to bottom, rgba(217,217,217,1) 0%, rgba(179,179,179,1) 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#b3b3b3', GradientType=0 );  border-radius: 3px;  color: #fff;}
.lsidebar-nav li a:active, .lsidebar-nav li a:focus {
  text-decoration: none;
}
.lsidebar-nav li a.active {  background: rgba(255,255,255,0.25);  color: white;  text-decoration: none;  background: rgba(115,178,5,1);  background: -moz-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,178,5,1)), color-stop(100%, rgba(67,148,32,1)));  background: -webkit-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);  background: -o-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);  background: -ms-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);  background: linear-gradient(to bottom, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b205', endColorstr='#439420', GradientType=0 );  border-radius: 3px;}
.wb{min-height: 150px; border-radius: 3px;}
.widget-box-1{
  background-color: #3b517c;
}
.widget-box-2{
  background-color: #66b92e;
}
.widget-box-3{
  background-color: #da932c;
}
.widget-box-4{
  background-color: #d65b4a;
}

.wb-content h1,h6{
  color: #fff;
}
.wb-content i{
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.40);
}
hr.wb-seperator {
  border-color: rgba(255, 255, 255, .2);
}

.table-container {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e6eaee;
  margin-top: 40px;
}

.table-header{
  padding: 0px 15px 0px 15px;
}
.table-header h2{
  color: #354052;
  font-weight: 500;
  margin: 0px;
  padding: 15px 0px 15px 0px;
}
.reefer-table>thead>tr>th{
  line-height: 34px;
  background-color: #f5f8fa;
  text-align: center;
  font-size: 14px;
  color: #8190a5;
  font-weight: 600;
  border-left: none;
  border-right:none;
}

.reefer-table>tbody>tr>td{
  border: 0;
  text-align: center;
  line-height: 64px;
  color: #3d4759;
  font-weight: 600;

}
.reefer-table>tbody>tr:hover {
  border-left: 3px solid #d35847;
  transition: 0.1s;
}
.reefer-table>tbody>tr{
  border-top: 1px solid #e6eaee;
  border-bottom: 1px solid #e6eaee;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 4px 8px -3px #555454;
  padding-top: 0px;
  background: rgba(115,178,5,1);
  background: -moz-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,178,5,1)), color-stop(100%, rgba(67,148,32,1)));
  background: -webkit-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  background: -o-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  background: -ms-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  background: linear-gradient(to bottom, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b205', endColorstr='#439420', GradientType=0 );
  z-index: 999999;

}

.sidenav a {
    padding: 5px 5px 5px 15px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    display: block;
    transition: 0.3s;
    line-height: 45px;
}
.sidenav a:hover {
  color: #6faf06;
  background-color: #fff;
  transition: 0.3s;

}


.sidenav .closebtn {
  position: absolute;
  top: 9px;
  right: 12px;
  font-size: 40px;
  margin-left: 50px;
  color: #71cb3d;
}

.sidenav-heading img{
  margin-top: -12px;
}
.profile-drop {
    float: right;
    margin-right: 15px;
}

.side-menu-logo-box{
  background-color: #fff;
  padding-top: 10px;
  line-height: 60px;
}


.header-profile-drop{
  position: absolute;
  right: 0;
  top: 7px;
}

.hpd-btn{
  background-color: #fff;
  border:none;

}

.hpd-btn:hover, hpd-btn:active{
  background-color: #fff !important;
  border:none !important;
  box-shadow: none !important;
}



.hpid-menu {
  position: absolute;
  top: 59px;
  left: -47px !important;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 120px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(112,203,61,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(112,203,61,1);
  box-shadow: 0px 2px 5px 0px rgba(112,203,61,1);
}

.hpid-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 25px;
  color: #000;
  font-weight: 600;
  white-space: nowrap;
}

.hpid-logout-button{
  background: rgba(115,178,5,1);
  background: -moz-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,178,5,1)), color-stop(100%, rgba(67,148,32,1)));
  background: -webkit-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%) !important;
  background: -o-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  background: -ms-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  background: linear-gradient(to bottom, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b205', endColorstr='#439420', GradientType=0 );
  border-radius: 3px;
  color: #fff;
  font-weight: 600;

}
.hpid-logout-button:hover{color: #fff;
  background: rgba(115,178,5,1);
  background: -moz-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,178,5,1)), color-stop(100%, rgba(67,148,32,1)));
  background: -webkit-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%) !important;
  background: -o-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  background: -ms-linear-gradient(top, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  background: linear-gradient(to bottom, rgba(115,178,5,1) 0%, rgba(67,148,32,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b205', endColorstr='#439420', GradientType=0 );
}

.abox{
  background-color: #fff;
  border:1px solid #e6eaee;
  border-radius: 3px;
}

.list-group-horizontal .list-group-item {
  display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:4px;
  margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-radius: 0px;
}
.list-group-horizontal .list-group-item:last-child {
  border-radius: 0px;
}
.abox-title{
  display: inline-block;
}
.abox-button-grp{
  display: inline-block;
  float: right;
  margin-bottom: 0px;
  margin-top: 20px;
}
.abox-button-grp .abox-button-item{
  border: none;
  background-color: transparent;
  color: #7f8fa4;
  font-weight: 500;
  border-radius: 20px;
  line-height: 26px;
  padding: 3px 10px;
}
.abox-button-grp .abox-button-item:hover, abox-button-grp .abox-button-item:active{
  background: rgba(149,216,33,1);
  background: -moz-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(149,216,33,1)), color-stop(100%, rgba(68,149,33,1)));
  background: -webkit-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: -o-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: -ms-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: linear-gradient(to bottom, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d821', endColorstr='#449521', GradientType=0 );
  border-radius: 20px;
  line-height: 26px;
  padding: 3px 10px;
  color: #fff;
  font-weight: 500px;
}
.abox-button-item.active{
  background: rgba(149,216,33,1);
  background: -moz-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(149,216,33,1)), color-stop(100%, rgba(68,149,33,1)));
  background: -webkit-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: -o-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: -ms-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: linear-gradient(to bottom, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d821', endColorstr='#449521', GradientType=0 );
  border-radius: 20px !important;
  line-height: 26px;
  padding: 3px 10px;
  color: #fff;
  font-weight: 500px;
}

.count-box{
  background-color: #fff;
  border:1px solid #e6eaee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.count-box-container{
  display: inline-block;
  margin-top: 20px;
}
.count-box h1{color: #354052;}
.count-box:hover{
  background-color: #71cb3d;
  border:1px solid #71cb3d;
  transition: 0.3s;
  color: #fff!important;
}

.count-box:hover h1{
  color: #fff;
}
.count-box:hover h6{
  color: #fff !important;
}

.analytics-table{
  background-color: #fff;
  border:1px solid #e6eaee;
  border-radius: 3px;
}
.analytics-table>thead>tr>th{
  line-height: 64px;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
  color: #8190a5;
  font-weight: 600;
  border: none;
}

.analytics-table>tbody>tr>td{
  border: 0;
  text-align: center;
  line-height: 34px;
  color: #3d4759;
  font-weight: 600;

}
.analytics-table>tbody>tr{
  border-top: 1px solid #e6eaee;
  border-bottom: 1px solid #e6eaee;
}
.analytics-table-input {
  padding: 0px 5px 0px 5px;
  border-radius: 8px;
  border: 1px solid #979797;
  width: 100%;
  line-height: 29px;
  position: relative;

}
.analytics-table-input:focus, .analytics-table-input:active {
  outline: 0px;
}
.analytics-table-input-right-arrow{
  position: absolute;
  right: 15px;
  cursor : pointer

}

.card {
  padding: 10px;
  background-color:#fff;
  border-radius: 3px;
  border:1px solid #e6eaee;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;

}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
/*overflow: hidden;*/
  text-align: center;
  background-color: #fff;
}
.header-cap{
    text-transform: uppercase;
}
.card.hovercard .cardheader {
  background: asset-url("card-bg.png");
  background-size: cover;
  height: 135px;
  border-radius: 3px 3px 0px 0px;
  margin-top: 10px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

}

.card.hovercard .info {
  padding: 4px 8px 10px;
  border-bottom: 1px solid #e6eaee;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  padding: 10px 0px 10px 0px;
  text-align: left;
}
.card.hovercard .bottom h6{
  color: #354052;
  font-size: 16px;
  font-weight: 500;

}
.card.hovercard .bottom label{
  color:#8997ab;
  font-size: 12px;
  font-weight: 600;

}
.card-edit-button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color:#f4f7f9;
  border:1px solid #e8ebef;
  position: absolute;
  right: -10px;
  top: -10px;
  padding: 11px 0px;
}

.card-edit-button:hover{
  border:1px solid #72b104;
  color: #fff;
  background: rgba(149,216,33,1);
  background: -moz-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(149,216,33,1)), color-stop(100%, rgba(68,149,33,1)));
  background: -webkit-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: -o-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: -ms-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  background: linear-gradient(to bottom, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d821', endColorstr='#449521', GradientType=0 );
  transition: 0.1s;
}


.profile-edit-box{
  background-color: #fff;
  border-radius: 3px;
  border:1px solid #e6eaee;
  min-height: 200px;
  padding: 10px

}
.profile-edit-box-title h4{
  color: #354052;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.profile-edit-info h6{
  color: #303b4d;
  font-weight: 600;

}
.profile-edit-info p{
  color: #94a2b4;
  font-weight: 600px;
  font-size: 12px;
}

.profile-edit-info-seperator{

  border-bottom: 2px solid #f1f3f6;
  width:100%;
  margin-bottom: 10px;

}

.profile-edit-info-image img{
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  z-index: 1;
}

.image-settings {
  height: 60px;
  background-color: #fff;
  border: 1px solid #eff2f5;
  border-radius: 2px;
  width: 80px;
  position: relative;
}

.settings-seperator {
    width: 21px;
    border-bottom: 2px solid #eceff2;
    position: absolute;
    top: 26px;
    right: 7px;
}

.pei-del{
  position: absolute;
  right: 11px;
  top: 34px;
  font-size: 18px;
  color: #c6d0de;
}
.pei-pic{
  position: absolute;
  right: 10px;
  top: 5px;
  color: #c6d0de;
}

.pei-button{
  background-color: #36b047;
  border: 1px solid #289b37;
  border-radius: 3px 0px 0px 3px;
  padding: 10px 50px;
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
}
.pei-button:hover, .pei-button:focus{
  outline:none;
  color: #fff;
}

.pad-top-90 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



@media screen and (max-width:1920px){
  .reefer-container{
    max-width: 1600px;
    width: 100%;
  }

}

@media screen and (min-width: 1680px) {
.reefer-container{
    max-width: 1600px;
    width: 100%;
  }

}


@media screen and (max-width: 991px) {
  .wb {
      margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 800px) {

  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
  display: block;
  }

  #no-more-tables thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
  }

  #no-more-tables tr { border: 1px solid #ccc; }

  #no-more-tables td {

  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
  white-space: normal;
  text-align:left;
  }

  #no-more-tables td:before {

  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  text-align:left;
  font-weight: bold;
  }

  #no-more-tables td:before { content: attr(data-title); }
}






@media screen and (max-width:991px){

}

@media screen and (min-width: 768px) {
    .larg-nav-logo{display: block;}
    .smallnav{display: none;}
}



@media screen and (max-width: 768px) {
    .larg-nav-logo{display: none !important;}

    .small-nav-logo{
       position: absolute;
       top: 15px;
       left: 15px;
       margin: 0px;
    }
    .lsidebar{display: none !important;}
    .pzero{
      padding-left:0px;
      padding-right:0px;
    }
    .main {
      margin:0 auto;
      width: 100%;
      float: right;
      padding: 0px 15px 0px 15px;
    }
    .wrap {
      padding: 0px;
      padding-top: 20px;
      padding-right: 0px;
      background: #eff3f6;
      overflow: hidden;
    }
    .reefer-table{
        margin-top: 64px;
        border: none;
    }
    .table-container {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    span.smallnav.menu {
        cursor: pointer;
        color: #b7b7b7;
    }
    .side-menu-logo-box{
      border-bottom: 1px solid #6faf06;

    }
    .count-box{
      margin-bottom: 10px;
      transition: 0.3s;
    }
    .pad-top-90 {
          padding-top: 40px;
          padding-bottom: 40px;
    }

}


@media screen and (max-width:480px){
  .wb-content h1{
    font-size: 30px;
    transition: 0.3s;
  }
  .reefer-table>tbody>tr>td {
    line-height: 34px;
    transition: 0.3s;
  }
  .table-header h2 {
    font-size: 20px;
    text-align: center;
  }
  .reefer-table {
    margin-top: 54px;
    border: none;
  }
  .reefer-nav-bar {
    min-height: 60px;
    transition: 0.3s;
  }
  .side-menu-logo-box {
    line-height: 49px;
  }
  .sidenav .closebtn {
    top: 1px;
  }
  .small-nav-logo {
    top: 10px;
  }
  .header-profile-drop {
    top: 4px;
  }
  .hpid-menu {
    top: 52px;
  }
  .analytics-table-input::-webkit-input-placeholder{
    font-size: 12px;
    transition: 0.3s;
  }
  .abox-title {
      display: block;
      font-size: 16px;
      font-weight: 600;
      transition: 0.3s;
  }
  .abox-button-grp {
    display: inline-block;
    float: left;
    margin-bottom: 0px;
    margin-top: 0;
    transition: 0.3s;
  }

  .abox-button-grp .abox-button-item {
    line-height: 26px;
    padding: 0px 10px;
    font-size: 11px;
    font-weight: 500px;
    transition: 0.3s;
  }
  .abox-button-grp .abox-button-item:hover, abox-button-grp .abox-button-item:active{
    background: rgba(149,216,33,1);
    background: -moz-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(149,216,33,1)), color-stop(100%, rgba(68,149,33,1)));
    background: -webkit-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
    background: -o-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
    background: -ms-linear-gradient(top, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
    background: linear-gradient(to bottom, rgba(149,216,33,1) 0%, rgba(68,149,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d821', endColorstr='#449521', GradientType=0 );
    border-radius: 20px;
    line-height: 26px;
    padding: 0px 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 500px;
    transition: 0.3s;
  }
  .list-group-horizontal .list-group-item {
    margin-left: 0px;
    transition: 0.3s;
  }
  .card.hovercard .info .title {
    font-size: 20px;
    transition: 0.3s;
  }

  .card.hovercard .bottom h6 {
      font-size: 14px;
      font-weight: 500;
      margin-top: 5px;
      margin-bottom: 10px;
      transition: 0.3s;
  }

  .card-edit-button {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: #f4f7f9;
      border: 1px solid #e8ebef;
      position: absolute;
      right: 14px;
      top: 14px;
      padding: 10px 0px;
      transition: 0.3s;
  }


}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.profile-edit-info input {
  width: 100%;
  border: none;
  color: #303b4d;
  font-weight: 600;
  font-size: 12px;
  padding-top: 8px;
  padding-left: 10px;
}

.profile-edit-info input:hover,
.profile-edit-info input:focus,
.profile-edit-info input:visited {
  outline: none;
}
.mouse-pointer{
    cursor:pointer;

}
.count-box-active{
    background-color: #71cb3d;
    border: 1px solid #71cb3d;
    transition: 0.3s;
    color: #fff !important;
}
.count-box-active h1, .count-box-active h6{
    color: white !important;
}



/*sms page starts here*/

.actinact-msg-title p {
	font-size: 14px;
	color: #000;
}

.actinact-msg-title p span {
	color: #8dd45d;
}

.msg-add-text-btn {
	background: rgba(45,160,248,1);
	background: -moz-linear-gradient(top, rgba(45,160,248,1) 0%, rgba(26,144,235,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,160,248,1)), color-stop(100%, rgba(26,144,235,1)));
	background: -webkit-linear-gradient(top, rgba(45,160,248,1) 0%, rgba(26,144,235,1) 100%);
	background: -o-linear-gradient(top, rgba(45,160,248,1) 0%, rgba(26,144,235,1) 100%);
	background: -ms-linear-gradient(top, rgba(45,160,248,1) 0%, rgba(26,144,235,1) 100%);
	background: linear-gradient(to bottom, rgba(45,160,248,1) 0%, rgba(26,144,235,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2da0f8', endColorstr='#1a90eb', GradientType=0 );
	color: #fff;
	line-height: 30px;
	/*width: 108px;*/
	border: none;
	border-radius: 4px;
	width: 120px;

}

.msg-add-text-btn i{
	color: #86caff;
}
.messenger-container {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #e6eaee;
	min-height: 200px;
	padding: 10px 10px 50px 10px;
	margin-top: 20px;
}
.messenger-textarea {
	width: 100%;
	min-height: 94px;
	border: 1px solid #e7eaef;
	border-radius: 5px;
	padding-left: 15px;
}

.messenger-input {
	width: 100%;
	min-height: 50px;
	border: 1px solid #e7eaef;
	border-radius: 5px;
	padding-left: 15px;
}

.messenger-fields label{
	color: #91a1b3;
	font-weight: 400;
}
.messenger-textarea:hover,
.messenger-input:hover{
	border: 1px solid #88c057;
	transition: all 0.5s ease;
}

.messenger-textarea:focus,
.messenger-input:focus {
	outline: none !important;
	border: 1px solid #88c057;
}

.sms-button {
    background-color: #8ac249;
    border: none;
    color: #fff;
    border-radius: 3px;
    line-height: 37px;
    min-width: 115px;
}

.sms-button:focus{
	outline: none !important;
}

.sms-button:hover{
	color: #fff;
}

.campaign-box{
	background: rgba(45,160,248,1);
	background: -moz-linear-gradient(top, rgba(45,160,248,1) 0%, rgba(26,144,235,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,160,248,1)), color-stop(100%, rgba(26,144,235,1)));
	background: -webkit-linear-gradient(top, rgba(45,160,248,1) 0%, rgba(26,144,235,1) 100%);
	background: -o-linear-gradient(top, rgba(45,160,248,1) 0%, rgba(26,144,235,1) 100%);
	background: -ms-linear-gradient(top, rgba(45,160,248,1) 0%, rgba(26,144,235,1) 100%);
	background: linear-gradient(to bottom, rgba(45,160,248,1) 0%, rgba(26,144,235,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2da0f8', endColorstr='#1a90eb', GradientType=0 );
	color: #fff;
	border: none;
	border-radius: 4px;
	line-height: 200px;
	padding: 15px 10px 20px 10px;
	margin-top: 24px;
}

.campaign-box h6{
	color:#b4ddfb;
}
.campaign-box h3{
	margin: 0px;
}

.sms-title h3 {

}
.sms-title-ratio h3 {
	margin: 0px;
}

.lable{
	background: #ffffff;
	border-radius: 5px 0 0 5px;
	color: #88c057;
	border-right: 1px solid #FBF8FB;
	float: left;
	padding: 0px 6px;
	font-size: 23px;
	margin-top: -2px;
}
.progress{
	height: 40px;
	line-height: 40px;
	border-radius: 6px;
}
.progress .progress-bar{
	border-radius:6px;
	background-color: #88c057;
	box-shadow: none;
}

.strip-on-bar{
	background-image: -webkit-linear-gradient(90deg,rgba(255,255,255,1.15) 10%,transparent 10%,transparent 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 50%,transparent 50%,transparent);
	background-image: -o-linear-gradient(90deg,rgba(255,255,255,1.15) 10%,transparent 10%,transparent 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 50%,transparent 50%,transparent);
	background-image: linear-gradient(90deg,rgba(255,255,255,1.15) 10%,transparent 10%,transparent 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 50%,transparent 50%,transparent);
	-webkit-background-size: 40px 40px;
	background-size: 25px 25px;
	-webkit-background-size: 25px 25px;

}


/*sms page ends here*/



/* Modal */
.modal{
	min-width: 320px;
}
.modal.no-padding{
	padding: 0px !important;
}
.modal-content{
	border-radius: 2px !important;
}
.modal-body.blue{
	position: relative;
	color: #fff;
	padding: 35px;
	text-align: center;
	background: #1990ea;
	background: -moz-linear-gradient(45deg, #1990ea 0%, #2ea1f8 100%);
	background: -webkit-linear-gradient(45deg, #1990ea 0%,#2ea1f8 100%);
	background: linear-gradient(45deg, #1990ea 0%,#2ea1f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1990ea', endColorstr='#2ea1f8',GradientType=1 );
}

.modal.blue .modal-content{
	border-color: #0085ea !important;
}
.modal-body.blue button.close{
	font-weight: 300;
	color: #fff;
	opacity: 1;
	top: 15px;
	right: 25px;
	position: absolute;
}

p.sm{
	font-size: 12px;
}
p.md{
	font-size: 15px;
}
p.lg{
	font-size: 24px;
}

.align-center{
	text-align: center;
}
.align-center *{
	display: inline-block;
}
.btn-fixed-width{
	width: 100% !important;
	max-width: 150px !important;
}
.modal-alert .modal-footer{
	background: #f0f3f8;
}
.modal-dialog.modal-alert.model-centr{
	margin: 0 !important;
	position: absolute;
	top: 35%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%,-40%);
	transition: all 0.5s ease;
}
.modal.in .modal-dialog.modal-alert.model-centr{
	top: 40%;
	opacity: 1;
}
.alert-icon{
	display: inline-block;
	font-size: 80px;
	font-weight: 300;
	margin: 5px 0 15px 0;
}

.alert-icon img{
	width: 90px;
	height: auto;
}




@media screen and (max-width: 767px){
	.modal-dialog.modal-alert.model-centr{
		width: 90% !important;
	}
}




.center_div_con{
	position: relative;
	min-height: 600px;
}
.center_block{
	margin: 0 !important;
	position: absolute;
	border-radius: 3px;
	top: 40%;
	left: 20%;
	transform: translate(-20%,-40%);
	transition: all 0.5s ease;
	background: #212b3b;
	width: 100%;
	min-height: 350px;
	max-width: 700px;
	color: #ffffff;
}
.center_block_left, .center_block_right{
	min-height: 350px;
	float: left;
	padding-top: 100px;
}
.center_block_left{
	width: 45%;
	border-radius: 3px 0 0 3px;
	background: #1a92ec;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
.icorn-circle{
	position: absolute;
	width: 50px;
	height: 50px;
	background: #1268a7;
	top: 20px;
	color: #ffffff;
	left: 25px;
	text-align: center;
	line-height: 47px;
	font-size: 18px;
	border-radius: 50%;
	transform: scale(-1, 1);
}

.center_block_left .sm{
	font-size: 13px;
	opacity: 0.7;
}

.center_block_right{
	width: 55%;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.center_block_right .sm{
	max-width: 250px;
	margin: 25px auto 50px;
}

@media screen and (max-width: 767px){
	.center_block{
		margin: 15px auto !important;
		position : static;
		transform: translate(0%,0%);
	}
	.center_block_left, .center_block_right{
		width: 100%;
		float: none;
	}
}

.btn-lightblue{
	background: #1a92ec !important;
	color: #fff;
}
.btn-lightblue:hover{
	background: #1a92ec !important;
	color: #fff;
}
.btn-lightblue:visited{
	color: #fff;
}
.btn-lightblue:focus{
	color: #fff;
}
.btn-lightblue:click{
	color: #fff;
}
.btn-lightblue:active{
	color: #fff;
}