<%
  dispensary_info
  list_view
  carousel ||= false
%>

<div class="dispensary-column col-xs-6 <%= list_view ? 'd-col-list': '' %>" id='<%= carousel ? "": "panel-user-dispensary-#{dispensary_info[:dispensary][:id]}" %>'>
  <%= link_to dispensary_details_users_home_index_path(dispensary_info[:dispensary][:id]), class: "dispensary-panel-click" do %>
    <div class="user-dispensary-tab" id="user-dispensary-<%= dispensary_info[:dispensary][:id] %>">

    <!-- left side -->
    <div class="left-side">
      <div class="row name-panel">
        <div class="col-md-12">

          <div class="row">
            <div class="col-md-12">
              <div class="dispensary-initial"><div class="initial"><%= dispensary_info[:dispensary][:name][0] %></div></div>
              <div class="name"><%= dispensary_info[:dispensary][:name] %></div>

            </div>
          </div>

          <div class="row friends-row">
            <div class="col-md-12">
              <div class="friends-list">
                <i class="icon-people icons"></i>
                <% if dispensary_friends(dispensary_info[:friends]).present? %>
                  <%= dispensary_friends(dispensary_info[:friends]) %>
                <% else %>
                  Add friends to get more points
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row progress-panel">
        <div class="col-xs-12">

          <% dispensary_info[:deals].each do |d| %>
            <% points_in_percent = dispensary_info[:points] * 100 / d[:points] %>
            <% points_in_percent = points_in_percent > 100 ? 100 : points_in_percent %>

            <div class="row">
              <div class="col-xs-12">
                <div class="reward-text"><%= d[:name] %></div>

                <div class="reward-progress">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%=points_in_percent%>" aria-valuemin="0" aria-valuemax="100" style="width:<%=points_in_percent%>%">
                    </div>
                  </div>
                </div>

                <div class="reward-points"><%= d[:points] %>pts</div>

              </div>
            </div>

          <% end %>

        </div>
      </div>

    </div>

    <!-- right side -->
    <div class="right-side user-dispensary-panel-points<%= dispensary_points_color(dispensary_info[:points]) %>">
      <div style="display:table; height: 100%; width: 100%">
        <div style="display:table-cell; vertical-align: middle;">

          <div class="user-dispensary-points-wrapper">
            <div class="points"><%= dispensary_info[:points] %></div>
            <div class="line-black">&nbsp;</div>
            <div class="pts">PTS</div>
          </div>

        </div>
      </div>
    </div>

    </div>
  <% end %>
</div>





