<%
  dispensary
%>

<div class="row user-dispensary-container">

  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
        <div class="dispensary-details">

          <!-- map mobile -->
          <% if browser.device.mobile? %>
            <div class="row map-container-mobile visible-xs visible-sm">
              <div class="col-md-12 col-no-padding-mobile">
                <%= render partial: "/shared/google_map.html.erb", locals: { locations: dispensary_locations([dispensary]), mobile_detail: true } %>
              </div>
            </div>
          <% end %>

          <div class="row">
            <!-- basic info -->
            <div class="col-lg-6 col-md-12 text-center col-no-padding-mobile">
              <div class="panel reefer-panel d-d-name" style="overflow: visible;">

                <div class="row">
                  <!--initial -->
                  <div class="col-md-12 col-xs-2 text-center">
                    <div class="dispensary-initial-container-lg">
                      <div class="dispensary-initial">
                        <%= dispensary[:dispensary][:name].first %>
                      </div>
                    </div>
                  </div>
                  <!-- dispensary name-->
                  <div class="col-md-12 col-xs-7">
                    <div class="dispensary-details-name form-300mobile div-center">
                      <%= dispensary[:dispensary][:name] %>
                    </div>
                  </div>
                  <!-- mobile arrow -->
                  <div class="col-xs-2 visible-xs visible-sm">
                    <button class="btn extend-map" id="extendMap"><i class="icon-arrow-down icons" id="arrow"></i></button>
                  </div>
                </div>

                <!--friends row-->
                <% if dispensary[:friends].any? %>
                  <div class="row friends-row">
                    <div class="col-md-12">
                      <div class="small-bold-text">
                        <i class="icon-people icons"></i> <%= dispensary_friends(dispensary[:friends]) %>
                      </div>
                    </div>
                  </div>
                <% end %>

                <!--address row-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="small-bold-text">
                      <a onclick="openInMaps('<%= create_full_address_html(dispensary[:dispensary]) %>')" href="#"><%= dispensary[:dispensary][:address] %> <%= dispensary[:dispensary][:zip_code] %>, <%= dispensary[:dispensary][:state] %></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!--store hours-->
            <div class="col-lg-6 col-md-12 col-no-padding-mobile  hidden-xs hidden-sm">
              <div class="panel reefer-panel d-d-hours">

                <!-- todays status -->
                <div class="row">
                  <div class="col-md-12 col-xs-10">
                    <div class="dispensary-details-time-header">
                      <%= open_until_today(dispensary[:store_hours]) %>
                    </div>
                  </div>
                  <div class="col-xs-2 visible-xs visible-sm">
                    <div class="text-left arrow-down"><i class="icon-arrow-down icons"></i></div>
                  </div>
                </div>

                <!-- store hours by day -->
                <div class="row">
                  <div class="col-md-12">
                    <% if dispensary[:store_hours].present? %>
                    <% dispensary[:store_hours].each do |h| %>
                      <div class="small-bold-text">
                        <span><%= h[:day]%></span>
                        <span style="float:right"><%= "#{h[:from_time]} - #{h[:to_time]}" %></span>
                      </div>
                    <% end %>
                    <% end %>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- points -->
          <div class="row">
            <!-- desktop view -->
            <div class="col-md-12 hidden-xs hidden-sm">
              <div class="panel reefer-panel">

                <div class="row">
                  <div class="col-md-12">
                    <div class="dispensary-details-points-header">
                      <%= dispensary[:points] %> <div class="dispensary-details-pts">PTS</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="user-dispensary-rewards">
                      <% dispensary[:deals].each do |d| %>
                        <div class="row">
                          <!-- reward -->
                          <div class="col-md-3 col-xs-4">
                            <div class="reward-text" style="overflow:hidden;text-overflow: ellipsis;"><%= d[:name] %></div>
                          </div>

                          <!-- progress bar -->
                          <div class="col-md-7  col-xs-5 col-no-padding">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= dispensary[:points].to_f / d[:points].to_f * 100 %>%"></div>
                            </div>
                          </div>

                          <!-- points -->
                          <div class="col-md-2 col-xs-3 text-right">
                            <div class="reward-text"><%= d[:points] %>pts</div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!-- mobile view-->
            <div class="col-md-12 col-no-padding-mobile visible-xs visible-sm">
              <div class="panel reefer-panel reefer-panel-grey">

                <div class="row" data-target="#rewards" onClick="changeArrow('#arrowTwo')">
                  <div class="col-xs-10 ">
                    <div class="dispensary-details-points-header"><%= dispensary[:points] %> <div class="dispensary-details-pts">PTS</div></div>
                  </div>
                  <div class="col-xs-2">
                    <div class="text-right arrow-down"><i id="arrowTwo" class="icon-arrow-down icons visible-xs visible-sm"></i></div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">

                    <div id="rewards" data-target="#rewards" onClick="changeArrow('#arrowTwo')">
                      <% dispensary[:deals].each do |d| %>
                        <div class="user-dispensary-rewards">
                          <div class="row">
                            <div class="col-md-2 col-xs-4"><div class="reward-text"><%= d[:name] %></div></div>
                            <div class="col-md-8  col-xs-5 col-no-padding">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= dispensary[:points].to_f / d[:points].to_f * 100 %>%"></div>
                              </div>
                            </div>
                            <div class="col-md-2 col-xs-3"><div class="reward-text"><%= d[:points] %></div></div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- open hours for mobile view -->
          <div class="row visible-xs visible-sm">
            <div class="col-md-12 col-no-padding-mobile">
              <div class="panel reefer-panel reefer-panel-grey">
                <!-- open until text-->
                <div class="row" data-target="#storeHours" onClick="changeArrow('#arrowOne')">
                  <div class="col-xs-10">
                    <div class="dispensary-details-time-header">
                      <%= open_until_today(dispensary[:store_hours]) %>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="text-right arrow-down"><i id="arrowOne" class="icon-arrow-down icons visible-xs visible-sm"></i></div>
                  </div>
                </div>

                <!-- store hours-->
                <div class="row">
                  <div class="col-md-12">
                    <div id="storeHours" data-target="#storeHours" onClick="changeArrow('#arrowOne')">
                      <% if dispensary[:store_hours] %>
                      <% dispensary[:store_hours].each do |h| %>
                        <div class="small-bold-text">
                          <span><%= h[:day]%></span>
                          <span style="float:right"><%= "#{h[:from_time]} - #{h[:to_time]}" %></span>
                        </div>
                      <% end %>
                      <% end %>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
