<%= render :layout => '/users/shared/users_home_template' do %>

  <% if @list_view.zero? %>
    <div class="carousel-inner visible-xs visible-sm" role="listbox">
      <% @dispensaries.each do |f| %>
        <div class="item <%= "active" if f == @dispensaries.first %>">
          <%= render partial: "dispensary_tab", locals: { dispensary_info: f, list_view: @list_view, carousel: true } %>
        </div>
      <% end %>
    </div>

  <% else %>
    <div>
      <% @dispensaries.each do |f| %>
        <%= render partial: "dispensary_tab", locals: { dispensary_info: f, list_view: @list_view, carousel: false } %>
      <% end %>
    </div>
  <% end %>

  <div class="hidden-xs hidden-sm">
    <% @dispensaries.each do |f| %>
        <%= render partial: "dispensary_tab", locals: { dispensary_info: f, list_view: @list_view, carousel: false } %>
    <% end %>
  </div>

  <script>
    $("#dispensaryCarousel").carousel()
  </script>
<% end %>
