<div class="container-fluid container-full-height dispensary-container-full-height">
  <div class="row row-full-height row-no-padding">

    <div class="user-dispensary-left-panel col-no-padding-mobile">

      <!-- back link -->
      <div class="row">
        <div class="col-md-12 left-panel-links text-center hidden-xs hidden-sm">
            <%= link_to my_clubs_users_home_index_path, class: "link-back #{"active" if current_page?(link_to dispensary_details_users_home_index_path)}" do %>
            <i class="icon-arrow-left icons"></i> Back to List
            <% end %>
        </div>
      </div>

      <!-- dispensary detail -->
      <%= render "dispensary_detail", dispensary: @dispensary %>

    </div>


    <!-- desktop map on the right-->
    <% if !browser.device.mobile? || browser.device.tablet?  %>
    <div class="user-dispensary-right-panel col-full-height col-no-padding-mobile">
      <div class="row map-container row-full-height">
        <div class="col-md-12 col-no-padding col-full-height">
          <%= render partial: "/shared/google_map.html.erb", locals: { locations: dispensary_locations([@dispensary]) } %>
        </div>
      </div>
    </div>
    <% end %>


  </div>
</div>


  <script>
    var mapCanvas = $('#map-canvas');
    var extendButton = $('#extendMap');
    mapCanvas.addClass("small-map");

    extendButton.click(function() {
      if (mapCanvas.hasClass("small-map")) {

        mapCanvas.removeClass("small-map");
        mapCanvas.css("height", "270px");
        $("#arrow").removeClass("icon-arrow-down").addClass("icon-arrow-up");
        google.maps.event.trigger(map.map, 'resize');

      } else {

        mapCanvas.addClass("small-map");
        $("#arrow").removeClass("icon-arrow-up").addClass("icon-arrow-down");
        google.maps.event.trigger(map.map, 'resize');
      }
    });

    function addCollapse(selectors) {
      for (s in selectors) {
        var dataToggle = '*[data-target="' + selectors[s] + '"]';
        $(selectors[s]).attr("data-toggle", "collapse").addClass("collapse");
        $(dataToggle).attr("data-toggle", "collapse");
      }
    }

    function changeArrow(arrow) {
      if ($(arrow).hasClass('icon-arrow-down')) {
        console.log(arrow);
        $(arrow).removeClass("icon-arrow-down").addClass("icon-arrow-up");
      } else {
        $(arrow).removeClass("icon-arrow-up").addClass("icon-arrow-down");
      }
    }


    addCollapse(["#pointsCap", "#storeHours", "#rewards", "#pointsCap"]);
  </script>
