<%= render :layout => '/users/shared/users_home_template' do %>
  <% if @list_view.zero? %>

    <div class="hidden-xs hidden-sm">
      <% if @dispensaries.blank? %>
        <div class="dispensary-rewards-text">You don’t have any rewards yet. You need at least 30 points for a reward.
         <%= link_to "Add some friends", users_friends_path, class: 'apple-text' %> to get more points.</div>
      <% else %>
       <div class="dispensary-rewards-text">Visit the dispensaries to redeem your rewards!</div>
      <% end %>
    </div>

    <div class="carousel-inner visible-xs visible-sm" role="listbox">
      <% @dispensaries.each do |f| %>
        <div class="item <%= "active" if f == @dispensaries.first %>">
          <%= render partial: "dispensary_tab", locals: { dispensary_info: f, list_view: @list_view, carousel: true } %>
        </div>
      <% end %>
    </div>

  <% else %>
    <div>
      <% @dispensaries.each do |f| %>
        <%= render partial: "dispensary_tab", locals: { dispensary_info: f, list_view: @list_view, carousel: false } %>
      <% end %>
    </div>
  <% end %>

  <div class="hidden-xs hidden-sm">
    <% @dispensaries.each do |f| %>
        <%= render partial: "dispensary_tab", locals: { dispensary_info: f, list_view: @list_view} %>
    <% end %>
  </div>

  <script>
    $("#dispensaryCarousel").carousel()
  </script>
<% end %>
