.new-landing-contact{
  &__back{
    background-image: image-url("contacts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

.new-landing{
  .new-landing-contact{
    &__back{
      background-image: image-url("contacts.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }

    &__form{
      padding-top: 138px;
    }

    &__text{
      font-size: 17px;
      color: #FFFFFF;
      line-height: 30px;
      text-align: center;
      padding-top: 35px;
      padding-bottom: 20px;
      a{
        color: #FFFFFF;
      }
    }

    &__input{
      background-color: rgba(0,0,0,.5);
      height: 60px;
      border: none;
      margin-bottom: 20px;

      &_textarea{
        width: 100%;
        resize: vertical;
        max-height: 150px;
      }

      &:focus{
        border-color: black;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px hsla(207, 9%, 61%, 0.6);
      }
    }

    &__input-wrapper{
      position: relative;
    }

    &__btn{
      margin-bottom: 25px;
      margin-top: 12px;
      border: none;
      background: #304FFE;
      border-radius: 100px;
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 3px;
      height: 67px;
      width: 238px;
      text-align: center;
    }

  }
}
