.new-landing{
  .new-landing-dispensary{
    &__back{
      background-image: image-url("dispensary_back.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      padding-top: 74px;
    }

    &__section1 {
      vertical-align: middle;
    }

    &__image-title{
      letter-spacing: 2px;
      font-size: 48px;
      color: #FFFFFF;
      line-height: 60px;
      text-align: center;
    }

    &__shot-desc{
      padding-bottom: 90px;
    }

    &__banner-text{
      font-size: 22px;
      color: #FFFFFF;
      text-align: center;
    }

    &__main-content{
      text-align: center;
      padding-bottom: 45px;
    }

    &__log{
      text-align: center;
      padding: 10px 0;
      display: inline-block;
      vertical-align: middle;

      img {
        max-width: 400px;
      }
    }

    &__pre-title{
      font-size: 18px;
      color: #B3B3B3;
      letter-spacing: 2px;
      padding-top: 50px;

      &_bottom{
        text-align: center;
        color: #c8d2d5;
        font-size: 16px;
        letter-spacing: 1px;
        padding-top: 30px;
        padding-bottom: 90px;
      }
      &_demo{
        text-align: center;
      }
    }

    &__title{
      font-size: 40px;
      color: #000000;
      letter-spacing: 0;
      padding-top: 48px;
      padding-bottom: 100px;

      &_step{
        padding-bottom: 40px;
      }
    }

    &__text{
      font-size: 17px;
      color: #000000;
      line-height: 30px;
      padding-bottom: 12px;
      padding-top: 12px;
      &_description{
        font-size: 16px;
      }
      &_description-steps{
        font-size: 15px;
        line-height: 24px;
      }
      &_description-step-2{
        font-size: 13px;
      }
      &_step{
        color: #808080;;
      }
    }

    &__steps{
      text-align: start;
      padding-top: 105px;
      &_step-2{
        text-align: start;
        padding-top: 55px;
      }
    }

    &__step-block{
      padding-top: 40px;
      padding-bottom: 180px;
    }

    &step-4-block{
      padding-top: 40px;
      padding-bottom: 0px;
    }

    &__step2-icon{
      padding-top: 20px;
      padding-bottom: 30px;
    }

    &__icon-message{
      height: 48px;
    }


    &__step-image-1{
      float: right;
      max-width: 100%;
    }

    &__step-image-4{
      float: left;
      max-width: 100%;
    }

    &__demo-form{
      background-image: image-url("request_demo_dispensary.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__form-waiting{
      position: relative;
    }

    &__input-block{
      max-width: 340px;
    }

    &__btn-block{
      width: 260px;
    }

    &__input{
      opacity: 0.8;
      background: #FFFFFF;
      border-radius: 100px;
      height: 60px;
      border: none;
      &:focus{
        border-color: black;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px hsla(207, 9%, 61%, 0.6);
      }
    }

    &__input-wrapper{
      position: relative;
    }

    &__btn{
      border: none;
      background: #304FFE;
      border-radius: 100px;
      font-size: 15px;
      color: #FFFFFF;
      letter-spacing: 3px;
      height: 67px;
      width: 238px;
      text-align: center;
    }

    &__nopadding {
       padding: 0 !important;
       margin: 0 !important;
    }

    &__center-block{
      text-align: center;
    }
  }
}
