.new-landing{
  margin-bottom: 0px;
  &__main-content{
    text-align: center;
    background: #F8F8F8;
  }

  &__pre-title{
    text-align: center;
    font-size: 18px;
    color: #B3B3B3;
    letter-spacing: 2px;
    padding-top: 50px;
    &_bottom{
      color: #c8d2d5;
      font-size: 16px;
      letter-spacing: 1px;
      padding-top: 30px;
      padding-bottom: 90px;
    }
  }

  &__title{
    font-size: 50px;
    color: #4D4D4D;
    letter-spacing: 0;
    padding-top: 48px;;
  }

  &__text{
    font-size: 17px;
    color: #808080;
    line-height: 30px;
    &_home-page{
      padding-top: 62px;
      line-height: 32px;
    }
  }

  &__video-frame{
    padding-top: 77px;
    padding-bottom: 120px;
    border-radius: 7px;
  }

  .new-landing-home{
    &__back{
      background-image: image-url("home_page_back_web.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      padding-top: 74px;
    }

    &__section1 {
      vertical-align: middle;
    }

    &__search-input{
      margin-bottom: 20px;
    }

    &__image-title{
      letter-spacing: 2px;
      font-size: 48px;
      color: #FFFFFF;
      line-height: 60px;
      text-align: center;
    }

    &__form{
      position: relative;
    }

    &__input{
      background-color: rgba(0,0,0,.5);
      border-radius: 100px;
      height: 60px;
      border: none;
      &:focus{
        border-color: black;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px hsla(207, 9%, 61%, 0.6);
      }
    }

    &__input-wrapper{
      max-width: 430px;
      min-width: 213px;
      position: relative;
    }

    &__btn{
      position: absolute;
      top: 13px;
      right: 20px;
      width: 43px;
      height: 34px;
      border: none;
    }

    &__frame{
      max-width: 635px;
      height: 365px;
      width: 100%;
    }

    &__demo-form{
      background-image: image-url("building.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__log{
      text-align: center;
      padding: 10px 0;
      display: inline-block;
      vertical-align: middle;
      float: none;

      img {
        max-width: 400px;
      }
    }

    &__logo-direct{
      float: none;
    }

    &__button-wrapper {
      padding: 30px 0;
    }

    &__request-demo-button{
      background: #304FFE;
      border-radius: 100px;
      font-size: 15px;
      color: #FFFFFF;
      letter-spacing: 3px;
      height: 70px;
      width: 249px;
      text-align: center;
      padding-top: 23px;
      padding-right: 9px;
      cursor: auto;

      a{
        text-align: center;
        color: #fff;
        &:hover, &:focus{
          font-weight: bold;
          box-shadow: none;
          text-decoration: none;
          font-weight: normal;
        }
      }
    }

    &__footer{
      padding-top: 37px;
    }
    &__footer-logo{
      margin-bottom: 25px;
    }
    &__footer-text{
      text-align: center;
      color: #666666;
    }
    &__footer-list{
      color: #666666;
      &_right{
        text-align: end;
      }
      a{
        color: #666666;
        &:hover, &:focus{
          font-weight: bold;
          box-shadow: none;
          text-decoration: none;
          font-weight: bold;
          color: #666666;
        }
      }
    }
  }
}

