.new-landing{
  @for $i from 1 through 13 {
    @media(min-width:  $i * 150px) {
      .new-landing-home__back{
        min-height: $i * 95px;
      }
      .new-landing-home__section1{
        padding-top: $i * 18px;
      }
      .new-landing-home__image-title{
        padding-bottom: $i * 6px;
      }
      .new-landing-dispensary__back{
        min-height: $i * 87px;
      }
      .new-landing-dispensary__step-block{
        padding-top: $i * 5px;
        padding-bottom: $i * 23px;
      }
      .new-landing-dispensary__steps{
        padding-top: $i * 13px;
      }
      .new-landing-dispensary__steps_step-2{
        padding-top: $i * 7px;
      }
      .new-landing-home__demo-form{
        min-height: $i * 20px;
      }
    }
  }

  @for $i from 1 through 8 {
    @media(min-width: $i * 150px) {
      .new-landing-home__image-title{
        font-size: $i * 6px;
      }
      .new-landing-dispensary__image-title{
        font-size: $i * 6px;
      }
      .new-landing-dispensary__banner-text{
        font-size: $i * 3px;
      }
    }
  }

  @for $i from 1 through 7 {
    @media(min-width: $i * 360px){
      .new-landing-dispensary__section1{
        padding-top: $i * 35px;
      }
      .new-landing-dispensary__image-title{
        padding-bottom: $i * 20px;
      }
      .new-landing-dispensary__pre-title_demo{
        padding-top: $i * 15px;
        padding-bottom: $i * 15px;
      }
      .new-landing-dispensary__input{
        margin-bottom: $i * 35px;
      }
      .new-landing-dispensary__btn{
        margin-bottom: $i * 35px;
      }
    }
  }

  @media(min-width: 768px) {
    .navbar-header {
      float: none;
    }
    .new-landing-home__footer{
      text-align: center;
    }
  }

  @media(min-width: 1080px){
    .navbar-header {
      float: left;
    }
    .new-landing-navbar__link{
      .new-landing-navbar__sign-up-link{
        color: black;
      }
    }
  }

  @media(max-width: 1080px) {
    .new-landing-navbar{
      height: 74px;
    }
    .new-landing-navbar__brand{
      width: 123px;
    }
    .new-landing-navbar__btn{
      display: block;
    }
    .navbar-public-dispensary, .navbar-public-dispensary li li{
      border: none;
    }
    .new-landing-navbar__nav_right{
      .new-landing-navbar__sign-up-link{
        border-radius: 0px;
        border: none;
        background-color: transparent;
        padding-left: 0px
      }
    }
  }

  @media(max-width: 768px) {
    .new-landing-navbar__header{
      padding-top: 0px;
    }
    .new-landing-home__footer-list{
      font-size: 14px;
    }
    .new-landing-home__footer-text{
      padding-top: 20px;
    }
    .new-landing-home__footer-list_right {
      text-align: end;
    }
  }

  @media(max-width: 500px) {
    .new-landing-home__section1{
      padding-top: 6px;
    }
    .new-landing-home__image-title{
      padding-bottom: 0px;
    }
    .new-landing-home__section1 {
      padding-top: 0px;
    }
    .new-landing-dispensary__section1{
      padding-top: 6px;
    }
    .new-landing-dispensary__section1{
      padding-top: 0px;
    }
    .new-landing-dispensary__image-title{
      padding-bottom: 0px;
    }
    .new-landing-dispensary__input{
      margin-bottom: 12px;
    }
    .new-landing-dispensary__btn{
      margin-bottom: 17px;
    }
    .new-landing-dispensary__banner-text{
      font-size: 12px;
    }
  }
}

