.new-landing{
  margin-top: 0px;

  .new-landing-navbar {
    border-bottom: 1px;
    border-bottom-color: rgba(255,255,255,0.30);
    border-bottom-style: solid;
    background-color: rgba(0,0,0, 0.3);

    &__header {
      width: 100%;
    }

    .navbar-brand, &__btn {
      position: absolute;
      z-index: 10;
    }

    &__btn {
      right: 0;
    }

    &__nav-collapse.collapse.in, &__nav-collapse.collapsing {
      background-color: rgba(124, 129, 128, 0.9);
      position: absolute;
      width: 100%;
      top: 0;
      padding-top: 50px;
    }

    &__nav {
      padding-bottom: 18px;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 3px;
      padding-top: 20px;
      padding-left: 35px;
      font-size: 16px;
      &_right{
        padding-right: 40px;
        letter-spacing: 2px;
      }
      li{
        a{
          color: $color-white
        }
      }
      li{
        a{
          &:hover, &:focus{
            color: $color-white;
            background-color: transparent;
            font-weight: bold;
            box-shadow: none;
          }
        }
      }
    }

    .navbar-collapse{
      box-shadow: none;
    }

    &__list{
      margin-right: 4px;
      border: none;
    }

    &__link{
      padding-left: 15px;
    }

    &__sign-up-link{
      background-color: $color-white;
      color: black;
      border-radius: 40px;
      padding: 16px 40px;
      height: 53px;
      margin-top: -6px;
      width: 165px;

      &:hover, &:focus{
        background-color: $color-black;
        color: $color-white;
        box-shadow: none;
      }
    }
  }
}
