<!---------------------- Main Content Starts here -------------------->

<div class="reefer-container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
      <div class="col-md-8 col-md-offset-2 table-page-container">
         <div id="no-more-tables" class="pzero">
          <div class="alert alert-info alert-dismissible" id="success_msg" style='display:none;'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div>
              Success
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-container prlzero">
            <table class="col-sm-12 ta table-condensed cf table-page-table pzero">
              <thead class="cf">
                <tr>
                  <th>Dispensary Name</th>
                  <th>Access</th>
                  <th>Phone Number</th>
                  <th>Remaining Texts</th>
                  <th>Twilio Number</th>
                  <th>Add Texts</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @dispensary.each do |dispensary| %>
                    <tr class='row_content'>
                      <td data-title="Dispensary Name"><%= dispensary.name %></td>
                      <td data-title="Access">
                        <div class="switch <%= dispensary.dispensary_text_access_status.nil? ? '' : 'ui-checked' %>" data-name="human" data-attr="<%= dispensary.id %>" data-checked="true" data-value="true">
                          <div class="helper"></div>
                        </div>
                      </td>
                      <td data-title="Phone Number"><%= dispensary.phone_number %></td>
                      <td data-title="Remaining Texts" class="remaining_text"><%= dispensary.dispensary_text.nil? ? '0' : dispensary.dispensary_text.remaining_text %></td>
                      <td data-title="twilio phone"><input type="text" class="table-page-input twilio_phone_number" placeholder="" value="<%= dispensary.dispensary_text.nil? ? '' : dispensary.dispensary_text.twilio_phone_number %>" /></td>
                      <td data-title="Add Texts"><input type="text" class="table-page-input text_value" placeholder="" /></td>
                      <td data-title="Action"><button class="btn table-page-button hvr-grow-shadow add_text_value" data-attr="<%= dispensary.id %>">Add</button></td>
                    </tr>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
</div>


<!---------------------- Main Content Ends here ---------------------->

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
(function() {
  var __slice = [].slice;

  (function($, window) {
    var methods;
    methods = {
      init: function() {
        return this.each(function() {
          var $hidden, $input, $this;
          $this = $(this);
          $hidden = $("<input>", {
            type: "hidden",
            "class": "ui-",
            name: $this.data("name"),
            value: 0
          });
          $hidden.appendTo($this);
          $input = $("<input>", {
            type: "checkbox",
            "class": "ui-checkable",
            value: 1,
            name: $this.data("name"),
            checked: $this.data("checked")
          });
          $input.css({
            position: "absolute",
            visibility: "hidden",
            top: "-9999px"
          });
          $input.appendTo($this);
          $this.on("click", function(event) {
            $this.toggleClass("ui-checked");
            return $input.prop("checked", $this.hasClass("ui-checked"));
          });
          $this.on("mouseenter mouseleave", function() {
            return $this.toggleClass("ui-hover");
          });
          return $this.on("mousedown", function() {
            $this.addClass("ui-pressed");
            return $(document).one("mouseup", function() {
              return $this.removeClass("ui-pressed");
            });
          });
        });
      },
      value: function(checked) {
        var $this;
        if (!checked) {
          $this = $(this);
          return $this.find("input[type=checkbox].ui-checkable").prop("checked");
        } else {
          return this.each(function() {
            $this = $(this);
            $this.toggleClass("ui-checked", checked);
            return $this.find("input[type=checkbox].ui-checkable").prop("checked", checked);
          });
        }
      }
    };
    return $.fn.extend({
      checkable: function() {
        var args, method;
        method = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
        if (methods[method]) {
          return methods[method].apply(this, args);
        } else if (typeof method === "object" || !method) {
          return methods.init.apply(this, method);
        }
      }
    });
  })(window.jQuery, window);

}).call(this);

$(".switch").checkable()
$("[data-name=human]").checkable("check", false)
$("[data-name=alien]").checkable("check", true)

$(document).on('click','.switch',function(){
     var dispensary_id = $(this).attr('data-attr');
     var access = $(this).closest('.row_content').find('.switch').hasClass('ui-checked');
     var $this = $(this)
     $.ajax({
      method:"POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      data: {type: 'update_access',access:access,dispensary_id:dispensary_id},
      async: false,
      url: "/admins/dispensaries_text"
        }).done(function(resp){
          $this.closest('.row_content').find('.remaining_text').html(resp.remaining_text)
          $("#success_msg").show('slow');
          setTimeout(function(){ $("#success_msg").hide('slow'); }, 3000);


    })
});
$(document).on('click','.add_text_value',function(){
     var dispensary_id = $(this).attr('data-attr');
     var access = $(this).closest('.row_content').find('.switch').hasClass('ui-checked');
     var value = $(this).closest('.row_content').find('.text_value').val()
     var twilio_phone_number = $(this).closest('.row_content').find('.twilio_phone_number').val()
     $(this).closest('.row_content').find('.text_value').val('')
     var $this = $(this)
     $.ajax({
      method:"POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      data: {type: 'update_text',twilio_phone_number:twilio_phone_number,access:access,dispensary_id:dispensary_id,value:value},
      async: false,
      url: "/admins/dispensaries_text"
        }).done(function(resp){
          $this.closest('.row_content').find('.remaining_text').html(resp.remaining_text)
          $("#success_msg").show();
          setTimeout(function(){ $("#success_msg").hide('slow'); }, 3000);


    })
})
</script>