<tbody class="table-body">

<% @user_visitation.unscoped.order('visited_at DESC').where(:dispensary_id  =>  current_dispensary.id).all.group('visited_at','user_id').count .each do |visitors| %>
    <% if @type == "today" %>
        <% if visitors[0][0].to_date >= @date_type.to_date && @sorted_users.include?(visitors[0][1]) %>
        <tr>
            <td data-title="Patients"><%= visitors[0][0].strftime("%I:%M%p") %> <%= visitors[0][0].strftime("%d %b") %></td>
            <td data-title="Check-Ins"><%= visitors[1] %></td>
            <td data-title="Points" class="tr_point_<%=visitors[0][1]%>"><%= current_dispensary.dispensary_patients.find_by(:user_id => visitors[0][1]).points %></td>
            <td data-title="Phone"><%= User.find_by(:id => visitors[0][1]).phone_number %></td>
            <td data-title="Add/Subtract">
                <input type="text" name="Subtract" placeholder="Enter Points..." class="analytics-table-input" id="update_id_<%=visitors[0][1] %>_<%=visitors[0][0].to_time.to_i%>"><span class="analytics-table-input-right-arrow update-point" data-attr="<%=visitors[0][1]%>" data-post="<%=visitors[0][0].to_time.to_i%>" ><%= image_tag("right-arrow.png") %> </span>
            </td>
        </tr>
        <% end %>
    <% else %>
        <% if visitors[0][0] >= @date_type && @sorted_users.include?(visitors[0][1]) %>
        <%= puts count = 0 %>
        <% if @box_type == "patients" || @box_type == "referals" %>
            <% @sorted_users.delete(visitors[0][1]) %>
        <% end %>
        <tr>
            <td data-title="Patients"><%= visitors[0][0].strftime("%I:%M%p") %> <%= visitors[0][0].strftime("%d %b") %></td>
            <% @user_visitation.unscoped.order('visited_at DESC').where(:dispensary_id  =>  current_dispensary.id,:user_id => visitors[0][1]).all.group('visited_at').count .each do |visitors_count|%>
                <% if visitors_count[0] >= @date_type %>
                    <% puts count += 1 %>
                <% end %>
            <% end %>
            <td data-title="Check-Ins"><%= count %></td>
            <td data-title="Points" class="tr_point_<%=visitors[0][1]%>"><%= current_dispensary.dispensary_patients.find_by(:user_id => visitors[0][1]).points %></td>
            <td data-title="Phone"><%= User.find_by(:id => visitors[0][1]).phone_number %></td>
            <td data-title="Add/Subtract">
                <input type="text" name="Subtract" placeholder="Enter Points..." class="analytics-table-input" id="update_id_<%=visitors[0][1] %>_<%=visitors[0][0].to_time.to_i%>"><span class="analytics-table-input-right-arrow update-point" data-attr="<%=visitors[0][1]%>" data-post="<%=visitors[0][0].to_time.to_i%>" ><%= image_tag("right-arrow.png") %> </span>
            </td>
        </tr>
        <% end %>
    <% end %>
<% end %>
</tbody>
<script>
$(document).on('click', '.update-point', function (event) {
      var user_id = $(this).attr('data-attr');
      var date = $(this).attr('data-post');
      var input_id = "#update_id_"+user_id+"_"+date
      var point = $(input_id).val()
      $.ajax({
          method:"PUT",
          data: {sort_type: "point_update",user_id:user_id,point:point},
          async: false,
          url: "<%= dispensaries_analytics_path %>"
        }).done(function(resp){
          if(resp.status == "success"){
                $(".tr_point_"+user_id).html(resp.point)
                $(input_id).val('')
          }


      })
});
</script>



