<div class="main pzero">
    <input type="hidden" id="box_type" value="patient_check_in" />
    <input type="hidden" id="sort_type" value="daily" />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pzero" >

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 abox">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 abox-header pzero">
                    <h3 class="abox-title">Check Ins</h3>
                    <div class="list-group list-group-horizontal abox-button-grp">
                        <a href="<%=dispensaries_analytics_path%>#today" class="list-group-item abox-button-item sort-type" data-attr='today'>TODAY</a>
                        <a href="<%=dispensaries_analytics_path%>#daily" class="list-group-item abox-button-item active sort-type"  data-attr='daily'>DAILY</a>
                        <a href="<%=dispensaries_analytics_path%>#weekly" class="list-group-item abox-button-item sort-type"  data-attr='weekly'>WEEKLY</a>
                        <a href="<%=dispensaries_analytics_path%>#monthly" class="list-group-item abox-button-item sort-type"  data-attr='monthly'>MONTHLY</a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-body chart-responsive">
                    <div class="chart" id="revenue-chart" style="height: 300px;"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 count-box-container prlzero">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 count-box text-center mouse-pointer" data-for="patients" data-attr="Patients">
                    <h1 class="total_patients">50</h1>
                    <h6 style="color: #549ddc;">PATIENT</h6>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 count-box text-center mouse-pointer" data-for="patient_check_in" data-attr="Check-Ins">
                    <h1 class="total_patients_check_in">0</h1>
                    <h6 style="color: #71cb3d;">CHECK-INS</h6>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 count-box text-center mouse-pointer" data-for="referals" data-attr="Referrals">
                    <h1 class="referral-users">0</h1>
                    <h6 style="color: #dc9936;">REFERRALS</h6>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 count-box text-center mouse-pointer" data-for="referal_check_in" data-attr="Referral Check-In">
                    <h1 class="reeferal">0</h1>
                    <h6 style="color: #d35847;">REFERRALS-CHECKINS</h6>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
                <div id="no-more-tables" class="pzero">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-container prlzero">
                        <table class="col-sm-12 table-striped ta table-condensed cf analytics-table pzero">
                            <thead class="cf">
                                <tr>
                                    <th style="font-size: 25px;color: #354052;">Patients</th>
                                    <th>Total Check-Ins</th>
                                    <th>Points</th>
                                    <th>Phone Number</th>
                                    <th>Add/Subtract</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pzero">
            <div class="card hovercard">
                <%= link_to edit_dispensaries_home_index_path do %>
                    <span><i class="fa fa-pencil card-edit-button hvr-grow-shadow" aria-hidden="true"></i></span>
                 <% end %>
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <%= image_tag("card-img.png") %>
                </div>
                <div class="info">
                    <div class="title">
                        <%= current_dispensary.name %>
                    </div>
                </div>
                <div class="bottom">
                    <label>Email</label>
                    <h6><%= current_dispensary.email %></h6>
                    <label>Phone</label>
                    <h6><%= current_dispensary.phone_number %></h6>
                    <label>Address</label>
                    <h6><%= current_dispensary.address %></h6>
                    <label>Hours</label>
                    <% current_dispensary.store_hours.each do |h| %>
                      <% h.basic_details.each do |detail| %>
                        <h6><%= detail[:day] %>  <%= detail[:from_time] %> - <%= detail[:to_time] %></h6>
                      <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script>
var chart = new Morris.Area({
  element: 'revenue-chart',
  parseTime:false,
  data: [

  ],
  xkey: 'y',
  ykeys: ['item1'],
  yLabelFormat: function(y){return y != Math.round(y)?'':y;},
  labels: [''],
  lineColors: ['#3c8dbc'],
  xLabelAngle: 60,
});

$(document).on('click','.mouse-pointer',function(){
    $(".count-box-active").removeClass("count-box-active");
    $(this).addClass("count-box-active");
    $(".abox-title").html($(this).attr("data-attr"))
    $("#box_type").val($(this).attr("data-for"));
    console.log($("#sort_type").val(),">>>",$("#box_type").val())
    $.ajax({
      method:"POST",
      data: {sort_type: $("#sort_type").val(),box_type:$("#box_type").val() },
      async: false,
      url: "<%= dispensaries_analytics_path %>"
        }).done(function(resp){
          chart.setData(resp.chart)
          $(".total_patients_check_in").html(resp.total_patients_check_in)
          $(".total_patients").html(resp.patients)
          $(".reeferal").html(resp.referral_checkIn)
          $(".referral-users").html(resp.referal_users)
          $(".table-body").replaceWith(resp.table_content)


    })
})
$( document ).ready(function() {
    $("#box_type").val("patient_check_in");
    $( ".mouse-pointer" ).each(function() {
        if($("#box_type").val() === $(this).attr("data-for")){
            $(this).addClass("count-box-active");
            $(".abox-title").html($(this).attr("data-attr"));
        }
    });
    $( ".sort-type" ).each(function() {
      if($( this ).hasClass( "active" )){
        window.location.href = '/dispensaries/analytics#'+$(this).attr('data-attr')
        $("#sort_type").val($(this).attr('data-attr'))
        $.ajax({
          method:"POST",
          data: {sort_type: $(this).attr('data-attr'),box_type:$("#box_type").val() },
          async: false,
          url: "<%= dispensaries_analytics_path %>"
            }).done(function(resp){
              chart.setData(resp.chart)
              $(".total_patients_check_in").html(resp.total_patients_check_in)
              $(".total_patients").html(resp.patients)
              $(".reeferal").html(resp.referral_checkIn)
              $(".referral-users").html(resp.referal_users)
              $(".table-body").replaceWith(resp.table_content)


        })
      }
    });
});
$(document).on('click', '.sort-type', function (event) {
  var SortType = $(this).attr('data-attr');
  $("#sort_type").val(SortType);
  $( ".sort-type" ).each(function() {
      if($(this).hasClass( "active" )){
            $(this).removeClass( "active" );
      }
  });
  $.ajax({
      method:"POST",
      data: {sort_type: SortType,box_type:$("#box_type").val()},
      url: "<%= dispensaries_analytics_path %>",
      async: false,
    }).done(function(resp){
      chart.setData(resp.chart)
      $(".total_patients_check_in").html(resp.total_patients_check_in)
      $(".total_patients").html(resp.patients)
      $(".reeferal").html(resp.referral_checkIn)
      $(".referral-users").html(resp.referal_users)
      $(".table-body").replaceWith(resp.table_content)

  })
  $(this).addClass( "active" );

});

 </script>