/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require switchery
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "mixins";

@import "app/*";
@import "user/*";

@import "elements";

html, body {
  height: calc(100% - 20px);

  @media (max-width: 992px){
    height: calc(100% - 41px);
  }
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

@media(max-width: 991px){
  .container-fluid{
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
  }
  .navbar{
    .container-fluid{
      padding-left:15px;
      padding-right: 15px;
    }
  }
}


@import "switchery";


.js-switch{
  height: 18px;
}
