/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= requre users/croppie
 *= require switchery
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "mixins";

@import "welcome/*";
@import "elements";

@import "new_landing_page/*";

html{
  font-size: 15px;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 60px;
}

.page-content-with-footer {
  min-height: calc(100% - 105px);
  height: auto !important;
  margin-bottom: -60px;
}

.navbar {
  border-radius: 0px;
}

.navbar-toggle .icon-bar{
  border: 1px solid #fff;
}

h1{
  font-size: 50px;
  font-weight: 300;
  color: $color-black;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
  max-height: 100vh;
}

.navbar-collapse {
  height: 100vh;
}


.btn[disabled]{
  opacity: 1;
}

@import "footer";
@import "waves";





