$color-white:#fff;
$color-white-two: #fafafa;
$color-white-three: #f2f2f2;
$color-white-four: #f8f8f8;
$color-white-five: #f9f9f9;
$color-white-six: #d8d8d8;
$color-black:#080808;
$color-black-two: #000;
$color-black-three: #363636;
$color-dark: #1e2733;
$color-dark-two: #1a2634;
$color-dark-grey: #1d1e21;
$color-dark-grey-two: #1c1e20;
$color-silver: #e6e7e8;
$color-silver-two: #ceced2;
$color-silver-three: #d9dbdf;
$color-apple: #71cb3d;
$color-apple-two: #6ccd41;
$color-lightish-green: #4cd864;
$color-washed-out: #a6ea7e;
$color-soft-green: #86c368;
$color-soft-blue: #63b0e0;
$color-dark-sky-blue: #3fb0e0;
$color-lightblue: #91cdf2;
$color-lightblue-two: #88cdf2;
$color-lightblue-three: #7ecdf2;
$color-dark-sky-blue-two: #54b0e0;
$color-denim-blue: #3b5998;
$color-bright-blue: #007aff;
$color-clear-blue: #1e8cff;
$color-light-grey: #c3c3c1;
$color-brownish-grey: #666666;
$color-dark-blue-grey: #1a2a3d;
$color-very-dark-brown: #0c0000;
$color-greyish: #a8a8a8;
$color-greyish-two: #b3b3b3;
$color-greyish-brown: #444444;
$color-greyish-brown-two: #4a4a4a;
$color-dark-grey-three: #1e1e22;
$color-warm-grey: #979797;
$color-pale-grey: #f0f1f2;
$color-squash: #e69d1b;
$color-dark-pink: #cb3d81;
$color-dark-pink-two: #cb3d60;
$color-purpley-pink: #cb3da2;
$color-purple-pink: #de1be6;
$color-charcoal-grey: #3b3d40;
$color-charcoal-grey-two: #3c3d41;
$color-cherry-red: #f70134;

.bg-color-apple{
  background-color: $color-apple;
}

.bg-color-soft-blue{
  background-color: $color-soft-blue;
}

.bg-color-white-two{
  background-color: $color-white-two;
}
