
.header-title{
  font-size: 50px;
  font-weight: 300;
  color: $color-white;
}

.subheader-title{
  color: $color-white;
  font-weight: bold;
}

.subheader-title-big {
  @extend .subheader-title;
  font-size: 22px;
  margin-top: 26px;

  @media(max-width: 992px){
    font-size: 15px;
  }

}

.subheader-title-small{
  @extend .subheader-title;
  font-size: 13px;
}
.subheader-title-black{
  color: $color-black;
  font-weight: bold;
}

.big-h1{
  font-size: 50px;
  font-weight: 300;
  color: $color-black;
}

.form-274{
  max-width: 274px;
}
.form-585{
  max-width: 585px;
}
.form-615{
  max-width: 615px;
}
.form-300{
  max-width: 300px;
}
.form-350{
  max-width: 350px;
}
form-300mobile{
  @extend .form-300;
}
@media(max-width:991px){
  .form-300mobile{
    max-width: auto;
  }
}

.div-center{
  margin-left: auto;
  margin-right: auto;
}

.form-group-bigger{
  margin-bottom: 30px;
}

.form-group-small {
  margin-bottom: 0;
}

.pass-notice-white{
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
  display: block;
  width: 274px;
  margin-left: auto;
  margin-right: auto;
}

.reefer-input{
  text-align: center;
  height: 40px;
  border-radius: 4px;
  background-color: $color-white-two;
  border: solid 1px $color-white-three;
  color: $color-black;
  overflow-x: scroll;
}
.reefer-input-left{
  @extend .reefer-input;
  text-align: left;
}

.reefer-input-black{
  border-radius: 4px;
  height: 45px;
  box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2);
  border: solid 1px $color-black;
}



.btn-black-circle{
  padding: 13px 56px;
  background-color: transparent;
  color: $color-black;
  text-transform: uppercase;
  border-radius: 40px;
  border: solid 1px $color-black;

  &:hover{
    color: $color-white;
    background-color: $color-black;
  }

}

.btn-fb-circle {
  background-color: $color-denim-blue;
  padding: 13px 56px;
  color: $color-white;
  border-radius: 40px;

  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);

  &:hover{
    color: $color-white;
    background-color: $color-black;
  }
}

.btn-black{
  padding: 13px 56px;
  background-color: $color-black;
  color: $color-white;
  text-transform: uppercase;
  border-radius: 40px;

  &:hover{
    color: $color-white;
    background-color: $color-black;
  }
}

.btn-soft-blue {
  @extend .btn-black;

  color: $color-white;
  background-color: $color-soft-blue;
}

.btn-green{
  @extend .btn-black;
  padding: 11px 26px;
  background-color: $color-apple;
}

.btn-white{
  @extend .btn-black;
  background-color: $color-white;
  color: $color-black;
}


.header-row-first{
  margin-top: 48px;
}

.section-title-h1{
  font-size: 28px;
  color: $color-black;
  font-weight: 300;
}

.section-logo-bg{
  background-image: image-url('large-b-g.png');
  background-position: center -10%;
  background-repeat: no-repeat;
}


.hr-green-line{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid $color-apple;
  width: 57px;
}
.hr-soft-blue-line{
  @extend .hr-green-line;
  border-top: 1px solid $color-soft-blue;
}
.hr-black-line{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid $color-black;
  width: 54px;
}

.circle{
  height: 160px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.circle-40{
  @extend .circle;
  height: 40px;
  width: 40px;
  padding-top: 3px;
}

@media (max-width:992px){
  .circle-40 {
    height: 55px;
    width: 55px;
    padding-top: 7px;
  }
}

.circle-8{
  @extend .circle;
  height: 8px;
  width: 8px;
}

.circle-notification{
  @extend .circle-8;
  position: relative;
  top: -21px;
  right: -5px;

  background-color: $color-cherry-red;
}

.circle-blue{
  background-color: $color-soft-blue;
}
.circle-green{
  background-color: $color-apple;
}
.circle-center-icon{
  text-align: center;
  line-height: 3.4;
}


.reefer-panel{
  padding: 55px 30px 50px 30px;
  border-radius: 4px;
  border: 1px solid $color-white-three;
  box-shadow: 0 12px 26px 0 rgba(8,8,8,0.2);
  margin-left: auto;
  margin-right: auto;

  .panel-body{
    padding: 0px;

    hr{
      margin-top: 21px;
      margin-bottom: 22px;
    }

    font-size: 20px;
    font-weight: 300;
    color: $color-black;

    h1{
      font-size: 28px;
      font-weight: 300;
      color: $color-black;
    }

    .content{
      font-size: 13px;
      color: $color-brownish-grey;
    }

  }
}
.reefer-panel-default{
  @extend .reefer-panel;

  padding: 0px 15px 17px 15px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2);
  border: solid 1px $color-white-three;

  .panel-body{
    h1{
      font-size: 20px;
      font-weight: 300;
      color: $color-black;
    }
    .content{
      color: $color-greyish-brown;
    }
  }
}

.reefer-login-headers{
  height: 115px;
  background-size: cover;
  margin-left: 0px;
  margin-right: 0px;
  padding: 47px 18px 0px;

  a {
    font-size: 20px;
    color: $color-white;
    font-weight: 300;

    &:hover {
      text-decoration: none;
    }
  }
}
.reefer-login-headers-user{
  @extend .reefer-login-headers;
  background-image: asset-url("login_tabs.png");
}
.reefer-login-headers-dispensary{
  @extend .reefer-login-headers;
  background-image: asset-url("login_tabs_dispensary.png");
}
@media(max-width: $size-phone){
  .reefer-login-headers-user{
    background-image: none;
    background-color: $color-apple;
  }
  .reefer-login-headers-dispensary{
    background-image: none;
    background-color: $color-washed-out;
  }
}


.reefer-panel-login {
  @extend .reefer-panel-default;

  border-radius: 0px 0px 4px 4px;
  box-shadow: none;
  border: none;


  label {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: $color-white;
  }

  input.reefer-input {
    border-radius: 4px;
    width: 274px;
    margin:0px auto;
    text-align: center;
    font-size: 15px;
  }

  input.btn {
    margin: 10px 0;
  }

  .reefer-login-footer {
    color: $color-white;
    font-size: 15px;
    text-align: center;
    font-weight: 300;

    a{
      color: $color-white;
      font-size: 15px;
      text-align: center;
      font-weight: 300;
    }
  }
}

.reefer-panel-login-user{
  @extend .reefer-panel-login;
  background-color: $color-apple;
}
.reefer-panel-login-dispensary{
  @extend .reefer-panel-login;
  background-color: $color-dark-sky-blue;
}
.reefer-login-dispensary-links{
  a{
    color: $color-white;
    &:hover, &:focus{
      color: $color-white;
    }
  }
}

.reefer-panel-slim{
  width: 293px;
  height: 365px;
}
.reefer-panel-big{
  height: 424px;
}

.reefer-panel-medium{
  width: 324px;
}

.reefer-panel-second{
  @extend .reefer-panel;

  @media (min-width: $size-phone){
    margin-top: 50px;
  }
}

.reefer-panel-basic {
  background: none;
  border: none;
  box-shadow: none;
}




.img-responsive{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.label-required-field{
  font-size: 11px;
  color: $color-white;
  margin-top: 13px;
  margin-bottom: 13px;
}


#error_explanation{
  background-color: $color-cherry-red;

  padding: 5px;
  margin-bottom: 13px;

  h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: left;
  }

  ul{
    li{
      text-align: left;
    }
  }

}

input:focus {
  outline:none;
}

button:focus{
  outline:none;
}

.field_with_errors{
  input{
    border: 1px solid $color-cherry-red !important;
    color: $color-cherry-red !important;
  }
}

.open > .dropdown-menu{
  overflow: auto;
}
.dropdown-menu-150{
  height: 150px;
}

.container-full-height{
  height: 100%;

  .row-full-height, .col-full-height{
    height: 100%;
  }


  .row-full-height > div{
    height: 100%;
  }
}

.small-bold-text {
  font-size: 13px;
  font-weight: bold;
  color: $color-brownish-grey;
  a{
    font-size: 13px;
    font-weight: bold;
    color: $color-brownish-grey;
  }
}

.public-video-player {
  position: relative;
  padding-top: 25px;
  padding-bottom: 49%;
  height: 0;

  iframe {
    box-sizing: border-box;
    background: image-url("m-b-p-r-o-large.png") center center no-repeat;
    background-size: contain;
    padding: 3.1% 22.1% 13.4% 21.6%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .public-video-player iframe {
    padding: 3.0% 21% 13.7% 20.5%;
  }
}
@media screen and (max-width: 527px) {
  .public-video-player iframe {
    padding: 3.0% 20% 13.7% 19.5%;
  }
}


.reward-icon {
  display: inline-block;
  background-image: image-url("noun-icon-white");
  height: 19px;
  width: 14px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fit{
  margin-left: 15px;
  margin-right: 15px;
}


.fb-connect-btn{
  border-radius: 20px;
  background-color: $color-denim-blue;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  color: $color-white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-join-w-list{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: 3px;
  text-align: center;
  color: #080808;
  padding: 13px 18px;
  text-transform: capitalize;
}

.enter-code-cb{
  font-size: 13px;
  text-align: center;
  word-break: break-word;

  label{
    font-size: 13px;
  }

  a{
    color: $color-white;
    text-decoration: underline;
    &:hover, &:focus{
      color: $color-white;
      text-decoration: none;
    }
  }
}

.enter-code-cb-inv{
  a{
    color: #444;
    &:hover, &:focus{
      color: #444;
    }
  }
}