/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  height:100%;
  margin-bottom: 40px;
}
.section-footer {
  position: absolute;
  bottom:0;
  width: 100%;
  height:40px;
  background-color: $color-white-two;

  .container{
    background-color: $color-white-two;
  }

  ul{
    list-style: none;
    margin-bottom: 0px;

    li{
      font-size: 11px;
      display: inline-block;

      &.copyright{
        color: $color-greyish;
      }

      a{
        color: $color-greyish-brown;
        text-transform: uppercase;
        padding: 14px 25px;
        display: block;
      }
    }
  }

  .mobile-footer {
    height: 108px;
    a {
      font-size: 11px;
      color: $color-greyish-brown;
      text-transform: uppercase;
    }

    div {
      padding: 2px 13px;
    }

    .copyright{
      color: $color-greyish;
      font-size: 11px;
      padding-top: 4px;
    }
  }

}

