.wave{
  background-repeat: repeat-x;
  height: 118px;
  background-clip: content-box;
}

.wave1{
  @extend .wave;
  padding-top: 1px;
  background-image: asset-url("green-waves.png");
  margin-top: -82px;
}

.wave2{
  @extend .wave;
  background-image: asset-url("green-waves-reversed.svg");
}
@media(max-width: 991px){
  .wave2{
    height: 121px;
    background-position: 1px;
  }
}
@media(max-width: 767px){
  .wave2{
    height: 115px;
  }
}

.wave3{
  @extend .wave;
  background-image: asset-url("blue-waves.svg");
}

.wave4{
  @extend .wave;
  background-image: asset-url("blue-waves-reversed.svg");
}
@media(max-width: 991px){
  .wave4{
    height: 129px;
  }
}
@media(max-width: 767px){
  .wave4{
    height: 128px;
  }
}

.wave5{
  @extend .wave;
  height: 62px;
  background-image: asset-url("green-waves-login.png");
}

.wave6{
  height: 62px;
  background-image: asset-url("blue-waves-thin.png");
  background-clip: content-box;
}

.wave5reverse{
  @extend .wave;
  height: 52px;
  margin-top: -34px;
  background-image: asset-url("green-waves-mobile-alt.png");

}

.wave6reverse{
  height: 52px;
  margin-top: -34px;
  background-image: asset-url("blue-waves-mobile.png");
  background-clip: content-box;
}

.wave7{
  height: 62px;
  background-image: asset-url("green-waves-thin.png");
  background-clip: content-box;
}

.wave8 {
  height: 62px;
  background-image: asset-url("blue-waves-thin.png");
  background-clip: content-box;
}
