<div class="container">

<div class="row dispensary-green-deal">
  <div class="col-md-12 text-center">

      <%= form_for @deal, url: dispensaries_deal_path(@deal) do |f| %>
        <!-- panel -->
        <div class="row">
          <div class="col-md-12">

            <div class="panel panel-dispensary-deal div-center">
              <div class="panel-body">

              <div class="row">
                <div class="col-md-12">
                  <div class="points">
                    <%= f.text_field :points, placeholder:"Enter Reward", class:"form-control", maxlength: 10 %>
                    <span>PTS</span>
                  </div>
                  <div>
                    <%= f.text_field :name, placeholder:"Enter Reward", class:"form-control", maxlength: 20 %>
                  </div>
                  <div class="notice">20 Character Max</div>
              </div>
            </div>

          </div>
        </div>

        <!-- actions -->
        <div class="row">
          <div class="col-md-12 text-center">
            <%= f.submit "SAVE", class:"btn btn-white" %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12 text-center">
            <%= link_to "Cancel", dispensaries_root_path, class:"link" %>
          </div>
        </div>

      <% end %>

  </div>
</div>

</div>