<h1>Hi <%= @dispensary_name %> </h1>

<p>
  This is your sign up link: <%= new_dispensary_registration_url(signup_id: @signup_id)%> .
  <br />
  <br />
  Thank you for joining.
  <br />
  <br />
  Best regards,
  <br />
  Reefer group
</p>
