<%= render :layout => '/shared/onboarding_form_template' do %>

  <style type="text/css">
    .only-lg .onboarding-flow-user-enter-code{
      display:none;
    }

  </style>
  <script type="text/javascript">
    function showEnterCode(){
      $(".only-lg .onboarding-flow-user").hide();
      $(".only-lg .onboarding-flow-user-enter-code").show();
    }
  </script>

  <div class="only-small visible-xs visible-sm">
    <div class="onboarding-flow-user">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="onboarding-flow-user-enter-code">
            <%= form_for @user, url: enter_confirmation_code_users_invitation_path(@user), html: { class: "reefer-login" }, method: :put do |f| %>
                <%= f.label 'Enter Varification Code', class: 'main with-help-block' %>
                <p class="help-block">Check Your Texts</p>
                <%= f.text_field :provided_confirmation_code,
                                 placeholder:"Enter Code",
                                 class:"form-control reefer-input confirmation-input" %>

                <div class="action-row">
                  <%= f.submit "CONTINUE", class: "enter-code-cb-btn btn btn-black-circle btn-mask", disabled:"disabled" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="only-lg visible-md visible-lg">
    <div class="onboarding-flow-user">
      <div class="row">
        <div class="col-md-12 text-center">
          <label>We've sent a code to</label>
          <br>
          <div class="onboarding-phone-number">
            <%= @user.phone_number_formated %>
          </div>
        </div>
      </div>

      <div class="row action-row">
        <div class="col-md-12 text-center">
          <button class="btn btn-black" id="btn-enter-code" onclick="showEnterCode()">ENTER CODE</button>
        </div>
      </div>

      <br>

    </div>

    <div class="onboarding-flow-user-enter-code">
      <%= form_for @user, url: enter_confirmation_code_users_invitation_path(@user), html: { class: "reefer-login" }, method: :put do |f| %>
          <%= f.label 'Enter Code' %>
          <%= f.text_field :provided_confirmation_code,
                           placeholder:"Enter Code",
                           class:"form-control reefer-input confirmation-input" %>

          <div class="action-row">
            <%= f.submit "GO", class: "enter-code-cb-btn btn btn-black-circle btn-mask", disabled: true %>
          </div>
      <% end %>
    </div>

  </div>

<% end %>

<script>
$(document).ready(function() {

    var options = {
      onComplete: function(value, elem) {
        var $btn = $(elem.target).parent().find("input[type='submit']");
        $btn.removeAttr("disabled");
        $btn.removeClass('btn-black-circle').addClass('btn-black');
      },
      onChange: function(value, elem) {
        var $btn = $(elem.target).parent().find("input[type='submit']");
        $btn.attr("disabled", "disabled");
        $btn.removeClass('btn-black').addClass('btn-black-circle');
      }
    };


  $('.confirmation-input').mask('00000', options);
});
</script>
