<%= render :layout => '/shared/onboarding_form_template' do %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "reefer-login" }) do |f| %>

      <div class="form-group">
        <%= f.label 'Log In' %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class:"form-control reefer-input", placeholder:"Email Address" %>
      </div>

      <div class="form-group">
        <div class="<%= flash[:alert] ? 'field_with_errors' : '' %>">
          <%= f.password_field :password, autocomplete: "off", class:"form-control reefer-input", placeholder:"Password" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "GO", class: "btn btn-black-circle" %>
      </div>
  <% end %>



  <div class="row">
    <div class="col-md-12 text-center reefer-login-dispensary-links">
      <%= link_to "Forgot your password?", new_dispensary_password_path %>
      <br>
      <%= link_to "Don’t have an account? Sign up for Reefer as a dispensary.", dispensary_waiting_list_path %>
    </div>
  </div>


<% end %>
