<div class="container section-dispensary-ambasadors">

  <br>

  <div class="row">
    <div class="col-md-12 text-center">
      <%= image_tag "ambassadors-icon.png", style:"max-height: 243px;", class:"img-responsive" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Turn Your Patients Into Ambassadors</h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3 text-center">
      <h2>SOCIAL NETWORK</h2>
    </div>

    <div class="col-md-3 text-center">
      <h2>LOYALTY REWARDS</h2>
    </div>

    <div class="col-md-3 text-center">
      <h2>SEAMLESS OPERATIONS</h2>
    </div>

    <div class="col-md-3 text-center">
      <h2>NOTIFICATIONS</h2>
    </div>
  </div>


</div>
