<div class="section-dispensary-works">

<div class="container">
  <%= render "public_solution" %>
  <%= render "public_how_it_works" %>
  <%= render "public_results" %>
  <%= render "public_questions" %>
</div>

</div>