<div class="section-dispensary-questions">


<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="section-title-h1"></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <hr class="hr-soft-blue-line">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12 text-center dispensary-questions-thank-you">
    <div class="section-title-h1">Thank you. We will get back to you as soon as <br>possible.</div>
  </div>
</div>

<br>


