<div class="section-dispensary-sign-up">

  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Reefer is Now Accepting Select Dispensaries</h1>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <%= render partial:"dispensaries/shared/sign_up_cta", locals: { position_banner: false } %>
      </div>
    </div>

    <br>

  </div>

</div>