<div class="section-dispensary-how-it-works">

  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="section-dispensary-title-h1">HOW IT WORKS</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <hr class="hr-soft-blue-line">
    </div>
  </div>

  <br>

  <!-- line -->
  <div class="row">
    <div class="col-md-12" style="position:relative">
      <hr class="w-line">

      <div class="row">
        <div class="col-xs-3 text-center">
          <div class="w-item">
            <div class="image">
              <%= image_tag "lightbulb@2x.png" %>
            </div>
            <div class="">
              <div class="circle10"></div>
            </div>
            <div class="text visible-md visible-lg">
              CUSTOMIZE REWARDS
            </div>
            <div class="text visible-xs visible-sm">
              REWARD
            </div>
          </div>
        </div>

        <div class="col-xs-3 text-center">
          <div class="w-item">
            <div class="image">
              <%= image_tag "smartphone@2x.png" %>
            </div>
            <div class="">
              <div class="circle10"></div>
            </div>
            <div class="text visible-md visible-lg">
              SLEEK TABLET
            </div>
            <div class="text visible-xs visible-sm">
              TABLET
            </div>
          </div>
        </div>

        <div class="col-xs-3 text-center">
          <div class="w-item">
            <div class="image">
              <%= image_tag "check@2x.png" %>
            </div>
            <div class="">
              <div class="circle10"></div>
            </div>
            <div class="text visible-md visible-lg">
              IN STORE SIGN IN
            </div>
            <div class="text visible-xs visible-sm">
              SIGN IN
            </div>
          </div>
        </div>

        <div class="col-xs-3 text-center">
          <div class="w-item">
            <div class="image">
              <%= image_tag "chatdots@2x.png" %>
            </div>
            <div class="">
              <div class="circle10"></div>
            </div>
            <div class="text visible-md visible-lg">
              PATIENTS ADD FRIENDS
            </div>
            <div class="text visible-xs visible-sm">
              ADD FRIENDS
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- text -->
  <div class="row w-step-row visible-md visible-lg">
    <div class="col-md-6">
      <div class="w-step row">
        <div class="number col-xs-2">1.</div>
        <div class="text col-xs-10">Customize the perfect rewards program for your dispensary.</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="w-step row">
        <div class="number col-xs-2">3.</div>
        <div class="text col-xs-10">Patients check in using their phone number, ensuring seamless operations.</div>
      </div>
    </div>
  </div>
  <div class="row w-step-row visible-md visible-lg">
    <div class="col-md-6">
      <div class="w-step row">
        <div class="number col-xs-2">2.</div>
        <div class="text col-xs-10">We install sleek tablets in your dispensary with a stand and a lock.</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="w-step row">
        <div class="number col-xs-2">4.</div>
        <div class="text col-xs-10">Patients then add friends on our website and get notified when friends visit your dispensary.</div>
      </div>
    </div>
  </div>

  <div class="row w-step-row visible-xs visible-sm">
    <div class="col-md-12">
      <div class="w-step row">
        <div class="number col-xs-2">1.</div>
        <div class="text col-xs-10">Customize the perfect rewards program for your dispensary.</div>
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <div class="w-step row">
        <div class="number col-xs-2">2.</div>
        <div class="text col-xs-10">We install sleek tablets in your dispensary with a stand and a lock.</div>
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <div class="w-step row">
        <div class="number col-xs-2">3.</div>
        <div class="text col-xs-10">Patients check in using their phone number, ensuring seamless operations.</div>
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <div class="w-step row">
        <div class="number col-xs-2">4.</div>
        <div class="text col-xs-10">Patients add their friends on our website and get notified when friends visit your dispensary.</div>
      </div>
    </div>
  </div>



</div>
