<div class="section-solution">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="section-dispensary-title-h1">THE SOLUTION</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <hr class="hr-soft-blue-line">
    </div>
  </div>

  <br>

  <div class="row visible-md visible-lg">
    <div class="col-md-6">
      <%= image_tag "phone-mockup@2x.png", style:"max-width: 320px;" %>
    </div>

    <div class="col-md-6">

      <div class="row">
        <div class="col-md-12 solution-text">
          Our innovative platform creates a social network around your dispensary. With Reefer, your patients can add each other online via Facebook, and earn rewards together by staying loyal to dispensaries they love.
        </div>
      </div>

      <div class="row solution-media-list">
        <div class="col-md-12">

          <div class="media media-dispensary-solution">
            <div class="media-left">
              <a href="#">
                <%= image_tag "icon_thumbs_up@2x.png", size: "45x44", class:"media-object" %>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">REFERRALS</h4>
              Turn your referral system digital to increase referrals up to 10x.
            </div>
          </div>
          <br>
          <div class="media media-dispensary-solution">
            <div class="media-left">
              <a href="#">
                <%= image_tag "heart-icon@2x.png", size: "45x43", class:"media-object"%>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">LOYALTY</h4>
              Increase sales through our innovative loyalty solution crafted for cannabis.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row visible-xs visible-sm">
    <div class="col-md-12">
      <div class="solution-text">
        Our innovative platform creates a social network around your dispensary. With Reefer, your patients can add each other online via Facebook, and earn rewards together by staying loyal to dispensaries they love.
      </div>
    </div>
    <br>
    <div class="col-md-12 text-center">
      <%= image_tag "phone-mockup@2x.png", style:"max-height:440px;" %>
    </div>
  </div>

  <div class="row visible-xs visible-sm">
    <div class="col-md-12">
      <div class="media media-dispensary-solution">
        <div class="media-left">
          <a href="#">
            <%= image_tag "icon_thumbs_up@2x.png", size: "45x44", class:"media-object" %>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">REFERRALS</h4>
          Turn your referral system digital to increase referrals up to 10x.
        </div>
      </div>
      <br>
      <div class="media media-dispensary-solution">
        <div class="media-left">
          <a href="#">
            <%= image_tag "heart-icon@2x.png", size: "45x43", class:"media-object" %>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">LOYALTY</h4>
          Increase sales through our innovative loyalty solution crafted for cannabis.
        </div>
      </div>
    </div>
  </div>

</div>
