<div class="public-banner-dispensary">
  <div class="container">

    <div class="row header-row-first">
      <div class="col-md-12 text-center">
          <%=image_tag "reefer-logo-text.svg" %>
      </div>
    </div>

    <div class="row dispensary-join-list-thanks">
      <div class="col-md-12 text-center">
        <h1 class="header-title">Thank you. We’ll be in touch shortly.</h1>
      </div>
    </div>

    <br>

  </div>

<%= render "shared/wave", wave_name: "wave3" %>
</div>
