<div class="section-dispensary-questions">


<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="section-title-h1">Questions? Let us know.</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <hr class="hr-soft-blue-line">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="subheader-title-black">Contact us about pricing, product and our <br>application process.</div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="form-585 div-center">
      <%= form_tag dispensary_thank_you_path, method: :post do %>
        <%= text_field_tag :email, nil, placeholder:"Enter e-mail", class:"form-control reefer-input-black" %>
        <br>
        <%= text_area_tag :message, nil, placeholder:"Your message including your name and your dispensary…", class:"form-control reefer-input-black", rows:"8" %>
        <br>
        <button class="btn btn-black-circle">Send</button>
      <% end %>
    </div>
  </div>
</div>

