<div class="container">
  <div class="section-the-problem">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="section-dispensary-title-h1">THE PROBLEM</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <hr class="hr-soft-blue-line">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="your-dispensary-missing">
          Your dispensary is missing out on 42% of new business
        </div>
      </div>
    </div>

  </div>
</div>