<div class="section-dispensary-results">

<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="section-dispensary-title-h1">Proven Results</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <hr class="hr-soft-blue-line">
  </div>
</div>

<br>
<div class="row">

  <div class="col-md-4 text-center">
    <div class="circle232">
      <div class="title">10x</div>
      <div class="text">The value of a loyal patient compared to a first time patient</div>
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="circle232">
      <div class="title">2nd</div>
      <div class="text">Importance of referrals in choosing a dispensary</div>
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="circle232">
      <div class="title">87%</div>
      <div class="text">Patients that want a loyalty program</div>
    </div>
  </div>

</div>

</div>
