<div class="public-banner-dispensary">

  <!-- desktop -->
  <div class="container visible-md visible-lg">

    <div class="row header-row-first">
      <div class="col-md-12 text-center">
          <%=image_tag "white-reefer-logo@2x.png", size: "173x45" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="header-title">Your Dispensary. Gone Viral.</h1>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="subheader-title">Increase sales virally through our innovative <br>social referral and loyalty platform</div>
      </div>
    </div>


    <div class="row row30space">
      <div class="col-md-12 text-center">
        <button class="watch-video-btn"  data-toggle="modal" data-target="#myModal">
          <i class="material-icons pull-left">play_arrow</i>
          <div>WATCH VIDEO</div>
        </button>
      </div>
    </div>

    <div class="row row30space">
      <div class="col-md-12 text-center">
        <%= render partial:"dispensaries/shared/sign_up_cta", locals:{position_banner: true} %>
      </div>
    </div>

  </div>

  <!-- mobile -->
  <div class="container visible-xs visible-sm">

    <div class="row header-row-first">
      <div class="col-md-12 text-center">
          <%=image_tag "reefer-logo-text@2x.png", size: "173x45" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="header-title">Your Dispensary. Gone Viral.</h1>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="subheader-title">Reefer is Now Accepting Select Dispensaries</div>
      </div>
    </div>

    <div class="row row30space">
      <div class="col-md-12 text-center">
        <button class="watch-video-btn"  data-toggle="modal" data-target="#myModal">
          <i class="material-icons pull-left">play_arrow</i>
          <div>WATCH VIDEO</div>
        </button>
      </div>
    </div>

    <div class="row row30space">
      <div class="col-md-12 text-center">
        <%= render partial:"dispensaries/shared/sign_up_cta", locals:{position_banner: true} %>
      </div>
    </div>

  </div>


  <div class="container-fluid hidden-xs hidden-sm">
    <div class="row">
      <div class="wave3"></div>
    </div>
  </div>

</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4uQ5P40tq-M" frameborder="0" allowfullscreen style="width:100%"></iframe>
      </div>
    </div>
  </div>
</div>