<%= render "public_banner_dispensary" %>

<%= render "public_the_problem" %>

<%= render "public_works_results_questions" %>

<div class="container-fluid">
  <div class="row">
    <div class="wave4"></div>
  </div>
</div>

<%= render "public_sign_up" %>

<%= render "shared/footer", wave_name: nil %>