<%= render "public_banner_dispensary_thanks" %>

<%= render "public_ambasadors" %>

<%= render "public_works_results_questions_thanks" %>

<%= render "shared/wave", wave_name: "wave4" %>

<%= render "public_sign_up" %>
