
.col-no-padding {
  padding: 0
}

.col-no-padding-mobile{
  padding-left:15px;
  padding-right:15px;
}

@media (max-width: 991px) {
  .col-no-padding-mobile {
    padding: 0;
  }
}

.map-container {

  #map-canvas {
    position: relative;
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 991px) {
  .map-container-mobile {

    #map-canvas {
      position: relative;
      width: 100%;
      height: 370px;
    }

    .small-map {
      height: 100px !important;
    }
  }

  #extendMap {
    outline: none;
    border-radius: 50%;
    background-color: $color-apple;
    position: absolute;
    bottom: 0;
    color: $color-white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
}

.link-font-color {
  color: $color-black;
}

.user-dispensary-left-panel {
  background-color: $color-white-two;

  .left-panel-links {
    box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2);
    padding-top: 30px;
    padding-bottom: 30px;

    .link-default {
      color: $color-greyish;
      margin-right: 20px;
      padding: 6px 16px 6px 12px;
      width: 100px;
      height: 30px;
      font-size: 13px;
      background-color: $color-white;
      border: solid 1px $color-greyish;
      border-radius: 4px;

      .group-icon {
        display: inline-block;
        background-image: image-url("group-icon-grey");
        height: 14px;
        width: 16px;
      }

      .noun-icon {
        display: inline-block;
        background-image: image-url("rewards-grey.png");
        height: 15px;
        width: 11px;
      }

      &:hover, &:active {
        text-decoration: none;
        color: $color-white;

        .group-icon {
          background-image: image-url("group-icon-white");
        }
        .noun-icon {
          background-image: image-url("noun-icon-white");
        }
      }
    }

    .link-all-clubs {
      @extend .link-default;

      &:hover, &:active {
        background-color: $color-black;
      }
    }
    .link-all-clubs.active {
      background-color: $color-black !important;
      color: $color-white;
      border: transparent;
    }

    .link-my-clubs {
      @extend .link-default;

      &:hover, &:active {
        background-color: $color-soft-blue;
      }
    }
    .link-my-clubs.active {
      background-color: $color-soft-blue !important;
      color: $color-white;
      border: transparent;

      .group-icon {
        background-image: image-url("group-icon-white");
      }
    }

    .link-rewards {
      @extend .link-default;

      &:hover, &:active {
        background-color: $color-apple;
      }
    }
    .link-rewards.active {
      background-color: $color-apple !important;
      color: $color-white;
      border: transparent;

      .noun-icon {
        background-image: image-url("noun-icon-white");
      }
    }

    .link-back {
      @extend .link-default;

      border-radius: 4px;
      background-color: $color-apple;
      color: $color-white;
      box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2);
      border: 1px solid $color-apple;
    }
  }

  .user-dispensary-container {
    padding-top: 24px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    overflow: auto;
    height: calc(100% - 130px);
  }


}

.user-dispensary-rewards {
  margin-top: 8px;

  .progress {
    border: 1px solid $color-apple;
    margin-top: 5px;
    height: 9px;
    margin-bottom: 9px;
  }

  .progress-bar {
    box-shadow: none;
    height: 5px;
    margin: 1px 1px 1px 1px;
    border-radius: 40px;
    background-color: $color-apple;
  }

  .reward-text {
    color: $color-greyish-brown;
    font-size: 11px;
  }
  @media(max-width:991px){
    .reward-text{
      padding-left: 5px;
    }
  }
  .reward-points{
    text-align:right;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: right;
    color: $color-greyish-brown;
  }
}

.dispensary-initial-container {
  width: 30px;
  height: 30px;
  margin-top: 9px;
  border-radius: 50%;
  background-color: $color-squash;
  display: inline-block;

  .dispensary-initial {
    font-size: 22.5px;
    font-weight: 700;
    color: $color-white;
    text-align: center;
  }

}

.dispensary-initial-container-lg {
  @extend .dispensary-initial-container;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  padding-left: 2px;
  padding-top: 0;
  background-color: $color-purple-pink;

  .dispensary-initial {
    margin-top: -4px;
    margin-left: -4px;
    font-size: 45px;
    font-weight: 700;
    color: $color-white;
  }
}



@media (max-width: 991px) {
  .user-dispensary-container-list-view {
    margin-top: 10px;

    .user-dispensary-tab-row {
      /*margin: 0px 15px;*/

    }
    .icons {
      margin-top: 5px;
    }

    .col-no-padding-list {
      padding: 0;
    }
  }

  .user-dispensary-left-panel {
    height: 41px;
    max-height: 41px;
    .user-dispensary-container {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      .user-dispensary-tab-row {
        z-index: 2;
        position: fixed;
        bottom: 0;
        left: 0;

        .user-dispensary-tab {
          margin-right: 10px;

          .user-dispensary-points {
            padding-top: 40px;
          }
        }
      }

      .user-dispensary-tab-row > [class*="col-xs"] {
        float: none;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
      }
    }
  }

  .dispensary-details{

    .arrow-down {
      font-size: 13px;
    }

    @media(max-width: 991px){
      .reefer-panel-grey{
        background-color: $color-white-two !important;
      }
    }

    .reefer-panel-grey {
      width: 100%;
      margin-bottom: 0;
      background-color: $color-white-two;
      border-bottom: 1px solid $color-white-three;
      border-radius: 0;
      padding: 12px;
      box-shadow: inset 0 -1px 0 0 var(--white-three);

      .dispensary-details-points-header {
       color: $color-greyish-brown;
      }

      .dispensary-details-time-header {
        text-align: left;
      }
    }

    .reefer-panel {
      padding: 12px;
      width: 100%;
      margin-bottom: 0;
      border-bottom: 1px solid $color-white-three;
      border-radius: 0;
    }

    .from-friends-container {
      margin-top: 20px;
      margin-left: 10px;
    }

    .dispensary-initial-container {
      width: 39px;
      height: 39px;

      .dispensary-initial {
        font-size: 30px;
      }
    }

    .dispensary-details-name {
      text-align: left;
    }

    .small-bold-text {
      text-align: left;
    }

    .user-dispensary-rewards-points-cap {
      .progress {
        margin-left: 15px;
      }
      .reward-text {
        margin-top: 5px;
      }
    }
  }
}


.dispensary-select-dd{
  width: 100%;
  background-color: #fafafa;
  margin-top: -1px;
  border-radius: 0px;
  border: transparent;

  li{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;

    span{
      margin-left: 11px;
      font-size: 13px;
    }
  }
}

.dispensary-rewards-text {
  text-align: center;
  font-size: 13px;
  color: $color-black;
  margin-top: -10px;
  margin-bottom: 10px;
  
  .apple-text {
    color: $color-apple;
  }
}
