@media(max-width: 1171px){
  .dispensary-column{
    width: 100%;
  }
}

@media(min-width: 1172px){
  .dispensary-column{
    width: 50%;
  }
}

.d-col-list{
  padding-left: 0px;
  padding-right: 0px;
}