@media(max-width: 991px){
  .dispensary-container-full-height{
    height: initial !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}


.dispensary-details {

  .reefer-panel {
    border-radius: 4px;
    background-color: $color-white;
    box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2);
    border: 1px solid $color-white-three;
    padding: 16px 20px;
  }

  @media(min-width:992px){
    .d-d-name{
      height: 195px;
    }
    .d-d-hours{
      height: 195px;
    }
  }


  .friends-row{
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .dispensary-details-name {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  @media(max-width: 991px){
    .dispensary-details-name {
      text-align: left;
    }
  }

  .dispensary-details-time-header {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 10px;
  }

  .user-dispensary-rewards {

    .reward-text {
      font-size: 15px;
    }

    .progress {
      width: auto;
      max-width: 100%;
      height: 13px;
      border-radius: 40px;
    }

    .progress-bar {
      height: 9px;
      border-radius: 40px;
      max-width: 99.5%;
    }
  }

  .dispensary-details-points-header {
    display: inline-block;
    font-size: 30px;
    color: $color-brownish-grey;
    font-weight: lighter
  }

  .dispensary-details-pts {
    display: inline-block;
    color: $color-brownish-grey;
    font-size: 11px;
    font-weight: bold;
  }

  .user-dispensary-rewards-points-cap {
    @extend .user-dispensary-rewards;

    .reward-text {
      margin-top: 9px;
      font-size: 10px;
      color: $color-black;
    }

    .progress {
      height: 22px;
    }

    .progress-bar {
      height: 18px;
    }


  }

  .dispensary-details-points {
    // width: 10.3%;
    padding-right: 0;
  }

  .from-friends-container {
    @extend .col-no-padding;

    margin-top: 18px;
  }

  .dispensary-details-from-friends {
    display: inline-block;
    font-size: 13px;
    color: $color-greyish;
    font-weight: normal;

    .from-friends-sub-text {
      font-size: 10px;
      color: $color-greyish;
      font-weight: normal;
    }
  }
}