.dispensary-panel-click{
  color: #080808;
  &:hover{
    color: #080808;
  }
}

.user-dispensary-tab.active{
  box-shadow: 0 7px 15px 4px rgba(8, 8, 8, 0.22);
}

.user-dispensary-tab{
  margin-left: auto;
  margin-right: auto;

  height: 200px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2);
  margin-bottom: 20px;

  .left-side{
    width: 290px;
    display: inline-block;
    float:left;
    padding-left: 15px;
    padding-right: 15px;

    .name-panel{
      height: 75px;
      background-color: #ffffff;
      box-shadow: inset 0 -1px 0 0 #f2f2f2;
      border-radius: 5px;
    }


    .dispensary-initial{
      width: 30px;
      height: 40px;
      float: left;
      margin-top: 12px;
      margin-right: 8px;
      margin-left: 4px;

      .initial{
        width: 30px;
        height: 30px;
        background-color: #cb3d60;
        text-align: center;
        color: #fff;
        border-radius: 15px;
        line-height: 1.36;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        color: #ffffff;
      }
    }
    .name{
      font-size: 15px;
      height: 40px;
      overflow: hidden;
      width: 217px;
      margin-top: 7px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }

    .friends-row{
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: left;
      color: #666666;
    }


    .progress-panel{
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: left;
      color: #080808;
      margin-top: 5px;

      .reward-text{
        width:100%;
      }
      .reward-progress{
        float:left;
        width: 189px;
        margin-right: 10px;

        .progress{
          height: 9px;
          margin-bottom: 1px;
          margin-top: 1px;

          .progress-bar{
            background-color: $color-apple;
          }
        }

      }
      .reward-points{
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #080808;
      }
    }

  }
  @media(max-width: 374px){
    .left-side{
      width: 230px;

      .name{
        width: auto;
      }

      .dispensary-initial{
        margin-top: 3px;
        margin-left: 2px;
      }

      .progress-panel .reward-progress{
        width: 148px;
      }

    }
  }

  .right-side{
    width: 60px;
    display: inline-block;
    float:left;
    height: 100%;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    .user-dispensary-points-wrapper{
      font-size: 28px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      color: #ffffff;

      .pts{
        font-size: 11px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: #ffffff;
      }

      .line-black{
        border-top: 1px solid $color-black;
        height: 7px;
        width: 16px;
        margin-left: auto;
        margin-right: auto;
      }

    }
  }

  .user-dispensary-panel-points{
    background-color: $color-brownish-grey;
  }
  .user-dispensary-panel-points-green {
    @extend .user-dispensary-panel-points;
    background-color: $color-apple;
  }
  .user-dispensary-panel-points-blue {
    @extend .user-dispensary-panel-points;
    background-color: $color-soft-blue;
  }

}

@media(max-width: 374px){
  .user-dispensary-tab{
    width: 290px;
  }
}
@media(min-width: 375px){
  .user-dispensary-tab{
    width: 350px;
  }
}


.user-dispensary-left-panel{
  width: 772px;
  float: left;
}
@media(max-width: 1171px){
  .user-dispensary-left-panel{
    width: 500px;
  }
}
@media(max-width: 991px){
  .user-dispensary-left-panel{
    width: 100%;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.user-dispensary-right-panel{
  overflow:hidden;
}


@media(max-width: 991px){
  .user-dispensary-tab-row{
    width: 100%;

    #dispensaryCarousel{
      width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media(max-width: 375px){
  .user-dispensary-tab-row{
    width: 100%;

    #dispensaryCarousel{
      width: inherit;
      margin-left: auto;
      margin-right: auto;
    }
  }
}