@import "shared/magic_panel";

.friends-general-message{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $color-black;
  padding: 20px;
  width: 305px;
  margin-left:auto;
  margin-right:auto;
}


@media(max-width: 991px){
  .magic-panel{
    box-shadow: none;
  }
}


.reefer-friends {
  margin-top: 40px;

  .left-friends-panel{
    border-right: 1px solid $color-silver-three;
  }

  .no-friends-panel{
    @extend .social-panel;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: $color-black;
    margin-bottom: 38px;

    img{
      padding: 10px;
    }
  }

}


.friends-panel{
  margin-bottom: 30px;

  .header{
    background-color: $color-apple;
    padding: 10px 15px;
    color: $color-white;

    .header-text{
      color: $color-white;
      font-size: 18px;
      font-weight: 300;
      text-align: left;
    }
    .header-action{
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: right;
      line-height: 23px;

      a{
        color: $color-white;
        text-decoration: none;
      }
    }
  }

  @media(max-width: 991px){
    .header{
      background-color: $color-white;
      .header-text{
        color: $color-dark;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-align: left;
      }
      .header-action{
        a{
          color: $color-black;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          color: $color-black;
        }
      }
    }
  }

  .content{
    ul{
      margin:0px;
      padding:0px;
      list-style:none;

      .friend-item-select{
        background-color: $color-white;
        box-shadow: inset 0 -1px 0 0 $color-silver-three;
        height: 65px;
        cursor: pointer;

        .goes-to-text{
          text-overflow: ellipsis;
          overflow: hidden;
          height: 32px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
        }

        .media{
          height: 100%;
          padding: 9px;
        }
        .media-left{
          padding-left: 10px;
          padding-right: 22px;
          position:relative;
        }
        .media-heading{
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          text-align: left;
          color: $color-greyish-brown;
        }
        .media-body{
          font-size: 11px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          text-align: left;
          color: $color-greyish-brown;
        }

        .profile-pic{
          width: 44px;
          height: 44px;
        }

        .selected-marker{
          width: 20px;
          height: 20px;
          background-color: #ffffff;
          border: solid 1px #71cb3d;
          position: absolute;
          bottom: 0;
          right: 14px;
          border-radius: 20px;
          text-align: center;
          i{
            color: $color-white;
            font-size: 13px;
          }
        }
        .selected-marker-checked{
          background-color: $color-apple;
        }


      }

    }
  }


  .friend-clear-btn{
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 10px;
  }

}

.friends-invite-panel{
  @extend .social-panel;
  @extend .friends-panel;

  #bottom-action-links{
    height: 65px;
    text-align: center;
    margin-top: 22px;

    a{
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: $color-black;
      padding: 7px 9px;
      display: inline-block;
    }

    #bottom-add-selected-link{
      border-radius: 15px;
      border: solid 1px $color-black;
    }
  }

}

.friends-existing-panel{
  @extend .social-panel;
  @extend .friends-panel;
}


.more-friends-more-points-panel{
  @extend .social-panel;
  padding: 10px;
  margin-bottom: 30px;

  .header-text{
    margin: 7px;
  }

  .message{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #444444;
    color: $color-greyish-brown;
    margin-bottom: 12px;
  }

  .settings-btn{
    border-radius: 20px;
    background-color: $color-soft-blue;
    color: $color-white;
    font-size: 13px;
    padding: 10px 14px;
    display: inline-block;
  }

}

.fb-connect-panel{
  @extend .social-panel;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2);
  border: solid 1px $color-white-three;
  padding: 20px 15px;
  margin-bottom: 15px;

  .header-text{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .fb-connect-row{
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .dont-worry-row{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $color-brownish-grey;
    margin-bottom: 20px;
  }

}


.existing-friends-message{
  height: 40px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $color-black;
  margin: 15px;
}

#tab-existing{
  background-color: $color-white;
}