.left-panel-links-mobile{
  background-color: $color-white-two;
  box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2), inset 0 -1px 0 0 $color-white-three;
  height: 40px;

  .btn{
    height: 40px;
    border-radius: 0px;
    width: 100%;
    background-color: $color-white-two;
  }

  .house-icon {
    display: inline-block;
    background-image: image-url("house-blue.png");
    height: 14px;
    width: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .reward-icon {
    display: inline-block;
    background-image: image-url("reward-icon.png");
    height: 14px;
    width: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .list-view-link{
    background-color: $color-white-two;
    box-shadow: inset 0 -1px 0 0 $color-white-three, inset 1px 0 0 0 $color-white-three;
    i{
      line-height: 26px;
    }
  }

  .link-my-clubs-mobile{
    color: $color-soft-blue;
  }
  .link-rewards-mobile{
   color: $color-apple;
  }

  .links-header{
    font-size: 13px;

    div, i{
      margin-left: 7px;
    }
    span{
      margin-left: 6px;
    }
  }

}