.mobile-friends-selection{
  text-align:center;
  background-color: $color-white-two;
  box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2), inset 0 -1px 0 0 $color-white-three;
  height: 40px;

  .btn-group{
    border-radius: 4px;

    background-color: $color-white;
    margin-top: 5px;

    .btn{
      font-size: 11px;
      background-color: $color-white;
      border: solid 1px $color-apple;
      a{
        color: $color-apple;
      }
      a.active{
        color: $color-white;
      }
    }
    .btn-active{
      background-color: $color-apple;
      a{
        color: $color-white;
      }
    }
  }

}

.no-friends-message{
  background-color: $color-white;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $color-dark;

  padding: 17px 12px;
}

.mobile-friends-general-message{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $color-black;
  padding: 20px;
}



.mobile-invite-friends{
  background-color: $color-white;
  margin-left: 15px;
  margin-right: 15px;


  .fb-connect-panel-mobile{
    background-color: $color-white;
    padding: 15px;
    text-align:center;
    background-color: $color-white;
    box-shadow: inset 0 -1px 0 0 $color-silver-three;
    height: 180px;

    .header-text{
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      color: $color-black;
      margin-top: 15px;
    }

    .dont-worry-row{
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: $color-black-two;
    }

  }


  .notice-and-message-row{
    padding: 9px;
    background-color: $color-white;
    /*box-shadow: inset 0 -1px 0 0 $color-silver-three;*/
  }


  .select-all-link{
    border-radius: 15px;
    border: solid 1px $color-black;
    padding: 7px 10px;
    display:inline-block;

    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $color-black;

  }

  .list-friends-actions{
    background-color: $color-white;
    text-align:center;
    height: 65px;
    padding-top: 13px;

    a{
      maring-left: 15px;
      margin-right: 15px;
    }

  }

  .cancel-link-mobile{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $color-black;
  }


  #mobile-invite-friends-list{
    margin:0px;
    padding:0px;
    list-style:none;
    border-top: 1px solid $color-silver-three;

    .friend-item-select{
      background-color: $color-white;
      box-shadow: inset 0 -1px 0 0 $color-silver-three;
      height: 65px;
      cursor: pointer;

      .media{
        height: 100%;
        padding: 9px;
      }
      .media-left{
        padding-left: 10px;
        padding-right: 22px;
        position:relative;
      }
      .media-heading{
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-align: left;
        color: $color-black;
        line-height: 35px;
      }
      .media-body{
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-align: left;
        color: $color-greyish-brown;
      }

      .profile-pic{
        width: 44px;
        height: 44px;
      }

      .selected-marker{
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border: solid 1px #71cb3d;
        position: absolute;
        bottom: 0;
        right: 14px;
        border-radius: 20px;
        text-align: center;
        i{
          color: $color-white;
          font-size: 13px;
        }
      }
      .selected-marker-checked{
        background-color: $color-apple;
      }
    }

    .friend-invite-pending{
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      color: $color-apple;
      padding: 9px 12px;
      border: 1px solid $color-apple;
      border-radius: 15px;
    }

  }

}

    .friend-invite-pending{
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      color: $color-apple;
      padding: 9px 12px;
      border: 1px solid $color-apple;
      border-radius: 15px;
    }

@media(max-width: 991px){
  .magic-panel{
    background-color: $color-white-two;
  }
}


.mobile-friends-container{
  .no-friends-panel{
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: $color-black;
    margin-bottom: 38px;

    img{
      padding: 20px;
    }
  }




}
