.magic_link_notification{
  background-color: $color-white-two;

  .magic-panel{
    padding-bottom: 10px;
    background-color: $color-white-two;
  }
}

.no_fb_notification{
  text-align:center;
  background-color: $color-white-two;

  .header-text{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: $color-black;
  }

  .dont-worry-row{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $color-black-two;
  }

}


.fb_notification{
  text-align:center;
  background-color: $color-white-two;

  .fb-friends-none{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .friend-add-panel{
    background-color: $color-white;
    border: 1px solid $color-white-three;
    margin-top: 8px;
    padding: 5px;
  }

  .header-text{
    font-size: 11px;
  }

  .image{
    img{
      width: 40px;
      height: 40px;
      border: 1px solid $color-apple;
    }
  }

  .name{
    font-size: 11px;
  }

  .link{
    font-size: 11px;
    border: 1px solid $color-black;
    border-radius: 12px;
    padding: 4px 10px;
    color: $color-black;
    display: inline-block;
    margin-top: 5px;

    &:hover{
      text-decoration:none;
    }
  }
  .link-active{
    background-color: $color-apple;
    color: $color-white;
    border: transparent;
  }

  .close{
    text-align: right;
    font-size: 8px;
    float: right;
  }

}