.reefer-panel {
  border-radius: 0 !importants;
  background-color: $color-white;
  padding: 0px;
  overflow: auto;
  padding: 0;

   ul{
    padding:0px;
    margin:0px;
    list-style:none;

    li{
      padding:15px 10px;
      box-shadow: inset 0 -1px 0 0 $color-white-three;
    }

  }

  .panel-header{
    text-align: center;
    color: $color-white;
    background-color: $color-apple;
    padding: 11px;
    font-size: 15px;
  }

}

.reefer-dropdown-panel{
  width: 320px;
  height: 356px;
  border-radius: 7px;
  background-color: $color-white;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  padding:0px;
  overflow: auto;

  ul{
    padding:0px;
    margin:0px;
    list-style:none;

    li{
      padding:8px 10px;
      box-shadow: inset 0 -1px 0 0 $color-white-three;
    }

  }

  .panel-header{
    text-align: center;
    color: $color-white;
    background-color: $color-apple;
    padding: 11px;
    font-size: 15px;
  }
}


.reefer-panel-notifications {
 @extend .reefer-panel;
 @extend .reefer-panel-notifications-common;
}

.reefer-panel-settings {
  @extend .reefer-panel;
  @extend .reefer-panel-settings-common;
  background-color: $color-white-two;
}


.reefer-panel-settings-common{
  font-size: 15px;
  padding: 0 !important;
  box-shadow: none !important;

  .auto-accept-friends{
    font-size: 13px;
    line-height: 3;
  }

  .profile-pic{
    height: 80px;
    width: 80px;
  }

  .profile-name{
    font-size: 18px;
    color: $color-black;
  }

  ul {
    height: 100%;
  }

  li {
    background-color: $color-white-two;
  }

  .profile-item {
    background-color: $color-white;
    color: $color-black;
    height: 40px;
    padding-left:0px;
    padding-right:0px;


    .form-group {
      height: 40px;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -15px;
      margin-right: -15px;

      .col-xs-3 {
        text-align: right;
      }
    }

    .profile-change-password {

      a {
        color: $color-apple;

        &:hover, &:active {
          text-decoration: none;
        }
      }
    }
  }

  .profile-item-form {
    @extend .profile-item;
    padding: 0;
  }

  .profile-input{
    border: none;
    box-shadow: none;
    padding-left: 0;
    background-color: $color-white;
    color: $color-black;
  }

  .profile-link-edit{
    font-size: 13px;
    color: $color-apple;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    line-height: 34px;
  }

  .btn-black-circle {
    padding: 10px 27px;
    margin-top: 35px;
    margin-bottom: 30px;
  }

}
.reefer-panel-notifications-common{
  padding: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;

  .friend-request{

    .profile-pic{
      width: 40px;
      height: 40px;
    }

    .message{
      font-size: 11px;
      font-weight: bold;
      color: $color-greyish-brown;
    }

    @media (max-width: 992px){
      .message {
        font-size: 15px;
      }

      .profile-pic {
        width: 55px;
        height: 55px;
      }
    }

    .actions{
      text-align: center;

      .icon-confirm{
        border: 1px solid $color-apple;
        color: $color-apple;
        display:inline-block;
        font-size: 20px;
        height: 27px;
        border-radius: 21px;
        margin: 0 2px;
        cursor: pointer;
      }
      .icon-reject{
        @extend .icon-confirm;
        color: $color-cherry-red;
        border: 1px solid $color-cherry-red;
      }

    }
  }

  .other-notification{

    a {
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: none;
      }
    }

    .kind{
      font-size: 11px;
      text-align: left;
      color: $color-greyish;
    }
    .message{
      font-size: 11px;
      font-weight: bold;
      text-align: left;
      color: $color-greyish-brown;
    }

    .circle-text-up{
      color: $color-white;
    }

    .circle-text-pts{
      color: $color-white;
      font-weight: bold;
      font-size: 9px;
    }

    &:hover{
      cursor: pointer;
    }

    @media (max-width: 992px){
      .kind {
        font-size: 15px;
      }

      .message {
        font-size: 15px;
      }

      .circle-text-up {
        font-size: 18px;
      }

      .circle-text-pts {
        font-size: 12px;
      }
    }

  }
}



.reefer-dropdown-panel-notifications{
  @extend .reefer-dropdown-panel;
  @extend .reefer-panel-notifications-common;
}
.reefer-dropdown-panel-settings{
  @extend .reefer-dropdown-panel;
  @extend .reefer-panel-settings-common;
}
