.user-settings {
  margin-top: 30px;
  overflow-x: hidden;
  color: $color-black;

  .settings-edit-photo {
    margin-top: 14px;
  }

  .user-settings-top {
    margin-bottom: 25px;
  }

  .settings-name {
    font-size: 18px;
  }

  .settings-link {
    color: $color-apple;
    text-transform: uppercase;
    border: 0;
    background-color: $color-white;
  }

  .settings-link-input {
    @extend .settings-link;
    width: auto;
    max-width: 45px;
  }

  .input-group-addon {
    border-radius: 0;
    background-color: $color-white;
    border-color: $color-white-three;
  }

  .reefer-input-left {
    background-color: $color-white;
    border: 1px solid $color-white-three;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
  }
}

.crop-photo {
  margin: 0 auto;
  background-color: $color-black;
  height: 100%;
  overflow: hidden;

  .crop-link-submit {
    margin: 18px;
    cursor: pointer;
    color: $color-white;
  }

  .crop-link-cancel {
    margin: 18px;
    cursor: pointer;
    color: $color-clear-blue;
  }

  .croppie-container {
    padding: 0;
  }

}

.user-password-change-text{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $color-greyish-brown-two;
  padding: 16px;

  .icon-back{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $color-greyish-brown-two;
    float: left;
    cursor: pointer;
  }

}

.user-password-change-input{
  border-radius: 3px;
  background-color: $color-white;
  box-shadow: 0 1px 4px 0 rgba(8, 8, 8, 0.2);
  border: solid 1px $color-white-three;
  text-align: center;
  height: 40px;
}

.settings-fb-connect-btn{
  border-radius: 20px;
  background-color: $color-denim-blue;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  color: $color-white;
  padding: 10px 40px;
  border: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}