<!DOCTYPE html>
<html>
  <head>
    <title>Reefer | Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin' %>
    <%= javascript_include_tag 'admin' %>
  </head>

  <body>
    <!-- admin navbar -->
    <% if current_admin.present? %>
      <%= render "admins/navbar" %>
    <% end %>

    <!-- flash -->
    <%= render "shared/flash" %>

    <!-- content -->
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
