<!DOCTYPE html>
<html>
  <head>
    <title>Reefer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'app_dispensaries', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.nicescroll.min' %>
    <%= javascript_include_tag 'main' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= render "shared/apple_icons" %>
  </head>

  <body>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
        <!-- navbar -->
        <%= render "/dispensaries/shared/app_navbar" %>
    </div>

    <div class="reefer-container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
            <!-- flash -->
                <%= render "/shared/app_flash" %>
            <div class="wrap">
                <div class="lsidebar">
                    <%= render "/dispensaries/home/basic_info" %>
                </div>

                <!-- content -->
                <%= yield %>
            </div>
        </div>
    </div>
  </body>
</html>
