<!DOCTYPE html>
<html>
  <head>
    <title>Reefer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'app_dispensaries', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render "shared/ga_tracking" %>
    <%= render "shared/apple_icons" %>
  </head>

  <body class="bg-color-apple">

    <!-- flash -->
    <%= render "/shared/app_flash" %>

    <!-- content -->
    <%= yield %>

  </body>
</html>
