<!DOCTYPE html>
<html>
  <head>
    <title>Reefer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    <%= render "shared/ga_tracking" %>
    <%= render "shared/apple_icons" %>
  </head>

  <body class="bg-color-white-two">
    <div class="<%= !show_navbar? ? 'hidden-xs hidden-sm' : '' %>">
      <!--navbar-->
      <%= render "welcome/top_navbar", navbar_for: @navbar_for%>
    </div>

    <!-- content-->
    <%= yield %>

    <%= yield(:prompt) %>

  </body>
</html>
