<!DOCTYPE html>
<html>
  <head>
    <title>Reefer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render "shared/ga_tracking" %>
    <%= render "shared/apple_icons" %>
  </head>

  <body>
    <!--navbar-->
    <%= render "welcome/top_navbar", navbar_for: @navbar_for%>

    <!-- content-->
    <%= yield %>

    <%= yield(:prompt) %>
  </body>
</html>
